In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data - AirlineReviews_Edited.csv", encoding = 'utf-8')
df

,Aircraft,AirlineName,CabinType,TravelType,DateFlown,DatePub,OverallScore,SeatComfortRating,ServiceRating,FoodRating,...,ValueRating,WifiRating,OriginCountry,Recommended,Review,Route,Slug,Title,TripVerified,unique_id
0,NaN,AB Aviation,Economy Class,Solo Leisure,19-Nov,11th November 2019,9.0,4,5,4,...,3,0,Netherlands,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,ab-aviation,pretty decent airline,Trip Verified,d3b260fb-268b-4399-8a9b-2804825902c6
1,E120,AB Aviation,Economy Class,Solo Leisure,19-Jun,25th June 2019,1.0,2,2,1,...,2,0,UnitedKingdom,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,ab-aviation,Not a good airline,Trip Verified,307711df-268f-4698-97b8-45729b7d972e
2,Embraer E120,AB Aviation,Economy Class,Solo Leisure,19-Jun,25th June 2019,1.0,2,1,1,...,2,0,UnitedKingdom,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,ab-aviation,flight was fortunately short,Trip Verified,82bd2602-171d-4724-bde0-90b71621cdcf
3,NaN,Aerocaribbean,Economy Class,NaN,NaN,31st December 2010,8.0,0,0,0,...,4,0,Denmark,yes,Havana - Cayo Coco return. A one hour flight w...,NaN,aerocaribbean,Aerocaribbean customer review,NaN,a927beb4-6244-4f5c-9dc3-09890aa3e616
4,NaN,Aerocaribbean,NaN,NaN,NaN,25th November 2010,1.0,0,0,0,...,0,0,UnitedKingdom,no,Holguin to Havana last week. Okay apart from i...,NaN,aerocaribbean,Aerocaribbean customer review,NaN,d7bea425-c58a-4a7e-8269-02e0e6516633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129450,NaN,Wizz Air,Economy Class,NaN,NaN,15th July 2010,NaN,0,0,0,...,1,0,UnitedKingdom,no,This airline is terrible! Timetable changes (m...,NaN,wizz-air,Wizz Air customer review,NaN,7889c410-59a0-4a11-9af6-a100c5ebb03e
129451,NaN,Wizz Air,Economy Class,NaN,NaN,23rd June 2010,8.0,0,0,0,...,4,0,Belgium,yes,We often fly with Wizzair to/from Charleroi/Bu...,NaN,wizz-air,Wizz Air customer review,NaN,dc7700d9-69e3-4296-93a5-0a550e8b8a80
129452,NaN,Wizz Air,Economy Class,NaN,NaN,19th June 2010,NaN,0,0,0,...,1,0,Ireland,no,Avoid Wizzair! A group of us had our outgoing ...,NaN,wizz-air,Wizz Air customer review,NaN,6de9ac64-a533-4dc8-b555-a16cc13554f7
129453,NaN,Wizz Air,Economy Class,NaN,NaN,16th June 2010,5.0,0,0,0,...,4,0,CzechRepublic,yes,PRG-LTN and LTN-PRG were rather good flights. ...,NaN,wizz-air,Wizz Air customer review,NaN,52ad5aa9-88f6-4eb1-99fe-e7fa64223792
129454,NaN,Wizz Air,Economy Class,NaN,NaN,6th June 2010,1.0,0,0,0,...,1,0,UnitedKingdom,no,London - Kiev. First problem started a few wee...,NaN,wizz-air,Wizz Air customer review,NaN,c1ceb07e-a04d-4389-ac85-dca4fe00b745

In [3]:
df.describe()

,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating
count,125124.000000,129455.000000,129455.000000,129455.000000,129455.000000,129455.000000,129455.000000,129455.000000
mean,4.556408,2.470202,2.689622,1.989077,1.557190,1.652010,2.637527,0.453926
std,3.498833,1.620262,1.774499,1.774512,1.751076,1.740252,1.628808,1.078274
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,2.000000,0.000000
75%,8.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,0.000000
max,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129455 entries, 0 to 129454
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Aircraft             36424 non-null   object
 1   AirlineName          129455 non-null  object
 2   CabinType            126437 non-null  object
 3   TravelType           91146 non-null   object
 4   DateFlown            90993 non-null   object
 5   DatePub              129455 non-null  object
 6   OverallScore         125124 non-null  float64
 7   SeatComfortRating    129455 non-null  int64
 8   ServiceRating        129455 non-null  int64
 9   FoodRating           129455 non-null  int64
 10  EntertainmentRating  129455 non-null  int64
 11  GroundServiceRating  129455 non-null  int64
 12  ValueRating          129455 non-null  int64
 13  WifiRating           129455 non-null  int64
 14  OriginCountry        127777 non-null  object
 15  Recommended          129455 non-null  object
 16  Review               128631 non-null  object
 17  Route                90825 non-null   object
 18  Slug                 129455 non-null  object
 19  Title                129451 non-null  object
 20  TripVerified         59508 non-null   object
 21  unique_id            129455 non-null  object
dtypes: float64(1), int64(7), object(14)
memory usage: 21.7+ MB

In [5]:
df_modified = df.copy()

## Drop unnecessary columns

In [6]:
columns_to_drop = ['Aircraft', 'DatePub', 'OriginCountry', 'Slug', 'Title', 'unique_id']

In [7]:
df_modified = df_modified.drop(columns=columns_to_drop)
df_modified

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,Route,TripVerified
0,AB Aviation,Economy Class,Solo Leisure,19-Nov,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,Trip Verified
1,AB Aviation,Economy Class,Solo Leisure,19-Jun,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,Trip Verified
2,AB Aviation,Economy Class,Solo Leisure,19-Jun,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,Trip Verified
3,Aerocaribbean,Economy Class,NaN,NaN,8.0,0,0,0,0,0,4,0,yes,Havana - Cayo Coco return. A one hour flight w...,NaN,NaN
4,Aerocaribbean,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,no,Holguin to Havana last week. Okay apart from i...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129450,Wizz Air,Economy Class,NaN,NaN,NaN,0,0,0,0,0,1,0,no,This airline is terrible! Timetable changes (m...,NaN,NaN
129451,Wizz Air,Economy Class,NaN,NaN,8.0,0,0,0,0,0,4,0,yes,We often fly with Wizzair to/from Charleroi/Bu...,NaN,NaN
129452,Wizz Air,Economy Class,NaN,NaN,NaN,0,0,0,0,0,1,0,no,Avoid Wizzair! A group of us had our outgoing ...,NaN,NaN
129453,Wizz Air,Economy Class,NaN,NaN,5.0,0,0,0,0,0,4,0,yes,PRG-LTN and LTN-PRG were rather good flights. ...,NaN,NaN
129454,Wizz Air,Economy Class,NaN,NaN,1.0,0,0,0,0,0,1,0,no,London - Kiev. First problem started a few wee...,NaN,NaN

## Drop old reviews and reviews with no flight date

We'll drop reviews that are more than 10 years old.

In [8]:
df_outdated_dropped = df_modified.copy()

In [9]:
import datetime as dt

In [10]:
df_outdated_dropped['DateFlown'] = pd.to_datetime(df_outdated_dropped['DateFlown'], format='%y-%b')

In [11]:
df_outdated_dropped['DateFlown']

0        2019-11-01
1        2019-06-01
2        2019-06-01
3               NaT
4               NaT
            ...
129450          NaT
129451          NaT
129452          NaT
129453          NaT
129454          NaT
Name: DateFlown, Length: 129455, dtype: datetime64[ns]

In [12]:
no_flight_date = df_outdated_dropped.index[df_outdated_dropped['DateFlown'].isna()]
older_than_2015 = df_outdated_dropped.index[df_outdated_dropped['DateFlown'].dt.year < 2015]
print("No flight date: ", len(no_flight_date))
print("Older than 2015: ", len(older_than_2015))

No flight date:  38462
Older than 2015:  153

In [13]:
df_outdated_dropped.drop(index=no_flight_date, inplace=True)
df_outdated_dropped.drop(index=older_than_2015, inplace=True)
print("Length of new dataset: ", df_outdated_dropped.shape[0])
print("Old - (len of indices): ", df_modified.shape[0] - len(no_flight_date) - len(older_than_2015))

Length of new dataset:  90840
Old - (len of indices):  90840

In [14]:
df_outdated_dropped

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,Route,TripVerified
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,Trip Verified
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,Trip Verified
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,Trip Verified
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Milano to Olbia,Trip Verified
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Cascais to Bragança,Trip Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129200,Wizz Air,Economy Class,Solo Leisure,2015-05-01,8.0,1,1,0,0,2,5,0,yes,"If you are going with them, you need to learn ...",Budapest to Barcelona,NaN
129201,Wizz Air,Economy Class,Family Leisure,2015-06-01,1.0,1,2,1,1,1,1,1,no,We went to Ciampino airport 3 hours early and ...,Rome to Bucharest,NaN
129202,Wizz Air,Economy Class,Solo Leisure,2015-04-01,1.0,2,1,0,0,2,2,0,no,I had never heard of Wizz Air before but as th...,London Luton to Budapest,NaN
129203,Wizz Air,Economy Class,Couple Leisure,2015-06-01,1.0,2,2,0,0,1,1,0,no,Very disappointing experience. The airline cha...,Budapest to Tel Aviv,NaN
129204,Wizz Air,Economy Class,Family Leisure,2015-02-01,1.0,1,1,1,0,1,1,0,no,Wizz Air is hands down the worst airline in al...,Budapest to Dubai,NaN

In [15]:
df_outdated_dropped[(df_outdated_dropped['DateFlown'].dt.year < 2015) | (df_outdated_dropped['DateFlown'].isna())]

Empty DataFrame
Columns: [AirlineName, CabinType, TravelType, DateFlown, OverallScore, SeatComfortRating, ServiceRating, FoodRating, EntertainmentRating, GroundServiceRating, ValueRating, WifiRating, Recommended, Review, Route, TripVerified]
Index: []

In [16]:
del(no_flight_date)
del(older_than_2015)

## Remove duplicated entries

In [17]:
df_deduplicated = df_outdated_dropped.copy()

In [18]:
duplicated_reviews = df_deduplicated.index[(df_deduplicated.duplicated(subset='Review')) & (df_deduplicated['Review'].notna())]

In [19]:
df_deduplicated.drop(index=duplicated_reviews, inplace=True)
df_deduplicated

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,Route,TripVerified
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,Trip Verified
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,Trip Verified
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,Trip Verified
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Milano to Olbia,Trip Verified
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Cascais to Bragança,Trip Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129200,Wizz Air,Economy Class,Solo Leisure,2015-05-01,8.0,1,1,0,0,2,5,0,yes,"If you are going with them, you need to learn ...",Budapest to Barcelona,NaN
129201,Wizz Air,Economy Class,Family Leisure,2015-06-01,1.0,1,2,1,1,1,1,1,no,We went to Ciampino airport 3 hours early and ...,Rome to Bucharest,NaN
129202,Wizz Air,Economy Class,Solo Leisure,2015-04-01,1.0,2,1,0,0,2,2,0,no,I had never heard of Wizz Air before but as th...,London Luton to Budapest,NaN
129203,Wizz Air,Economy Class,Couple Leisure,2015-06-01,1.0,2,2,0,0,1,1,0,no,Very disappointing experience. The airline cha...,Budapest to Tel Aviv,NaN
129204,Wizz Air,Economy Class,Family Leisure,2015-02-01,1.0,1,1,1,0,1,1,0,no,Wizz Air is hands down the worst airline in al...,Budapest to Dubai,NaN

In [20]:
print("Duplicate entries removed: ", df_outdated_dropped.shape[0] - df_deduplicated.shape[0])

Duplicate entries removed:  14

# Clean up the `Route` column

We want to eventually split the `Route` column into `Origin` and `Destination` columns. Before we do that, we make sure that it's standardized.

## Strip whitespace

In [21]:
df_route_stripped = df_deduplicated.copy()

In [22]:
df_route_stripped['Route'] = df_route_stripped['Route'].str.strip('.!?,& \n\t')

## Remove entries with no `Route`

In [23]:
no_route = df_route_stripped.index[df_route_stripped['Route'].isna()]
no_route

Int64Index([   947,   1473,   1518,   1672,   1802,   1952,   5047,   5588,
              6269,   6319,
            ...
            128192, 128377, 128412, 128421, 128472, 128483, 128492, 128517,
            128530, 128541],
           dtype='int64', length=300)

In [24]:
df_route_stripped.drop(index=no_route, inplace=True)

In the future, we could possibly fill these in by using the `Review` column.

## Split into Origin+Destination and Layover

If we look at the structure of the `Route` column, most of them are of the form "[Origin] to [Destination]" or "[Origin] to [Destination] via [Layover]." We deal with those entries that have `"via"`, split on it, and put them into new columns in our data.

In [25]:
df_route_stripped.loc[df_route_stripped['Route'].str.contains(' via '), ['Route']]

                                                 Route
11                    Sofia to Amsterdam via Ljubljana
15                    Pristina to Zürich via Ljubliana
19                       Paris to Skopje via Ljubljana
101     Ixtapa Zihuatanejo to Acapulco via Mexico City
174                  Buenos Aires to Brussels via Rome
...                                                ...
128583                Milan to Nur-Sultan via Budapest
128618          Barcelona to Thessaloniki via Budapest
128730                  Baku to Frankfurt via Budapest
128844                     Luton to Dubai via Katowice
129036                     Luton to Moscow via Vilnius

[23895 rows x 1 columns]

In [26]:
df_no_layovers = df_route_stripped.copy()

### Look for typos or variants of `" via "` and clean them

In [27]:
df_no_layovers.loc[(df_no_layovers['Route'].str.contains('.+via ')) & (df_no_layovers['Route'].str.contains(' via ') == False), 'Route']

11319             Bologna to Johannesburgvia Paris
15073                              Latvia to Turku
15423                            Monrovia to Accra
22027     Baton Rouge to College Stationvia Dallas
45741         Hong Kong to Reykjavik =via Helsinki
90270                            HKT to BRUvia DOH
95635              Varanasi to Bangkok via Kolkata
121411            Helena to Indianapolisvia Denver
125204              Des Moines to Fresnovia Denver
Name: Route, dtype: object

In [28]:
via_edit = [11319, 22027, 45741, 90270, 121411, 125204]

In [29]:
df_no_layovers.loc[via_edit, 'Route'] = df_no_layovers.loc[via_edit, 'Route'].replace(to_replace='via ', value=' via ', regex=True)
df_no_layovers.loc[via_edit, 'Route']

11319             Bologna to Johannesburg via Paris
22027     Baton Rouge to College Station via Dallas
45741         Hong Kong to Reykjavik = via Helsinki
90270                            HKT to BRU via DOH
121411            Helena to Indianapolis via Denver
125204              Des Moines to Fresno via Denver
Name: Route, dtype: object

In [30]:
df_no_layovers.loc[(df_no_layovers['Route'].str.contains(' via.+')) & (df_no_layovers['Route'].str.contains(' via ') == False), 'Route']

16386    Honolulu to Manila viaTokyo
76671              PRG to YYZ viaFRA
76689              LAX to WRO viaMUC
Name: Route, dtype: object

In [31]:
via_edit = df_no_layovers.index[(df_no_layovers['Route'].str.contains(' via.+')) & (df_no_layovers['Route'].str.contains(' via ') == False)]
via_edit

Int64Index([16386, 76671, 76689], dtype='int64')

In [32]:
df_no_layovers.loc[via_edit, 'Route'] = df_no_layovers.loc[via_edit, 'Route'].replace(to_replace=' via', value=' via ', regex=True)
df_no_layovers.loc[via_edit, 'Route']

16386    Honolulu to Manila via Tokyo
76671              PRG to YYZ via FRA
76689              LAX to WRO via MUC
Name: Route, dtype: object

In [33]:
print("Contains \" via \": ", df_no_layovers['Route'].str.contains(' via ').sum())
print("Contains \".+via \": ", df_no_layovers['Route'].str.contains('.+via ').sum())
print("Contains \" via.+\": ", df_no_layovers['Route'].str.contains(' via.+').sum())

Contains " via ":  23904
Contains ".+via ":  23907
Contains " via.+":  23904

### Split on `" via "`

In [34]:
via_splitted = df_no_layovers['Route'].str.split(' via ', regex=True, expand=True)
via_splitted

                               0     1
0               Moroni to Moheli  None
1              Moroni to Anjouan  None
2            Anjouan to Dzaoudzi  None
6                Milano to Olbia  None
7            Cascais to Bragança  None
...                          ...   ...
129200     Budapest to Barcelona  None
129201         Rome to Bucharest  None
129202  London Luton to Budapest  None
129203      Budapest to Tel Aviv  None
129204         Budapest to Dubai  None

[90526 rows x 2 columns]

### Add column without "via layover" into dataset and remove old `Route` column.

In [35]:
df_no_layovers['NewRoute'] = via_splitted[0]
df_no_layovers.drop(columns='Route', inplace=True)
df_no_layovers

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,TripVerified,NewRoute
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Trip Verified,Moroni to Moheli
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Trip Verified,Moroni to Anjouan
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Trip Verified,Anjouan to Dzaoudzi
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Trip Verified,Milano to Olbia
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Trip Verified,Cascais to Bragança
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129200,Wizz Air,Economy Class,Solo Leisure,2015-05-01,8.0,1,1,0,0,2,5,0,yes,"If you are going with them, you need to learn ...",NaN,Budapest to Barcelona
129201,Wizz Air,Economy Class,Family Leisure,2015-06-01,1.0,1,2,1,1,1,1,1,no,We went to Ciampino airport 3 hours early and ...,NaN,Rome to Bucharest
129202,Wizz Air,Economy Class,Solo Leisure,2015-04-01,1.0,2,1,0,0,2,2,0,no,I had never heard of Wizz Air before but as th...,NaN,London Luton to Budapest
129203,Wizz Air,Economy Class,Couple Leisure,2015-06-01,1.0,2,2,0,0,1,1,0,no,Very disappointing experience. The airline cha...,NaN,Budapest to Tel Aviv
129204,Wizz Air,Economy Class,Family Leisure,2015-02-01,1.0,1,1,1,0,1,1,0,no,Wizz Air is hands down the worst airline in al...,NaN,Budapest to Dubai

## Clean up `NewRoute` to make them all have `" to "`

#### Look for typos and variants of `" to "` and clean

In [36]:
df_correct_to = df_no_layovers.copy()

In [37]:
df_correct_to.loc[(df_correct_to['NewRoute'].str.contains('.+to ')) & (df_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']

8006                                              YYZto EWR
8048      Sault Ste. Marie, Canada - Toronto - Frankfurt...
9139                                Tel Avivito Malta (MLA)
11586                                 Toronto to Birmingham
21382                                             PIEto DSM
21620                            Richmondto Fort Lauderdale
48465                                             NCEto KIX
52808                                             CGKto AMS
68191                                             SANto LHR
112319                                 Jakartato Yogyakarta
118173                                        Parisnto Kiev
Name: NewRoute, dtype: object

In [38]:
to_edit = [8006, 9139, 21382, 21620, 48465, 52808, 68191, 112319, 118173]

In [39]:
df_correct_to.loc[to_edit, 'NewRoute'] = df_correct_to.loc[to_edit, 'NewRoute'].replace(to_replace='to ', value=' to ', regex=True)
df_correct_to.loc[to_edit, 'NewRoute']

8006                       YYZ to EWR
9139         Tel Avivi to Malta (MLA)
21382                      PIE to DSM
21620     Richmond to Fort Lauderdale
48465                      NCE to KIX
52808                      CGK to AMS
68191                      SAN to LHR
112319          Jakarta to Yogyakarta
118173                 Parisn to Kiev
Name: NewRoute, dtype: object

In [40]:
df_correct_to.loc[(df_correct_to['NewRoute'].str.contains(' to.+')) & (df_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']

14758       Bangalore toChennai
25388                 MCO toLAX
27081                 JFK toTLV
28090           Krabi toBangkok
42443       Nuremburg toHamburg
50368           Mumbai toJaipur
69576       Sydney to- New York
79387                 LHR toBKK
80303                 LGW toJFK
88932                 SYV toLHR
94500               LUN toi HKG
102501              MSP top LAS
106404    Frankfurt toBucharest
108220              SIN toi MFM
123134                BXH toCPT
Name: NewRoute, dtype: object

In [41]:
# All of them seem to be right so we include all of them
to_edit = df_correct_to.index[(df_correct_to['NewRoute'].str.contains(' to.+')) & (df_correct_to['NewRoute'].str.contains(' to ') == False)]

In [42]:
df_correct_to.loc[to_edit, 'NewRoute'] = df_correct_to.loc[to_edit, 'NewRoute'].replace(to_replace=' to', value=' to ', regex=True)
df_correct_to.loc[to_edit, 'NewRoute']

14758       Bangalore to Chennai
25388                 MCO to LAX
27081                 JFK to TLV
28090           Krabi to Bangkok
42443       Nuremburg to Hamburg
50368           Mumbai to Jaipur
69576       Sydney to - New York
79387                 LHR to BKK
80303                 LGW to JFK
88932                 SYV to LHR
94500               LUN to i HKG
102501              MSP to p LAS
106404    Frankfurt to Bucharest
108220              SIN to i MFM
123134                BXH to CPT
Name: NewRoute, dtype: object

Notice that there are still typos on some of them. We will deal with them later, as well as the inconsistencies.

### Look for `"from"` in `NewRoute` and change them all to be of the form "X to Y"

Some Route entries are of the form "From X to Y" or "To Y from X", or something like it and we want to just make it all "X to Y".

In [43]:
df_correct_to.loc[df_correct_to['NewRoute'].str.contains('from', case=False), ['NewRoute', 'Review']]

,NewRoute,Review
47290,To Sydney from Heathrow,Flew out to Sydney from Heathrow on the 14th M...
49598,From King Shaka to O.R Tambo,Staff were semi friendly but not respectful to...
66396,Metro Airport from Boston Logan,On a flight back to Detroit Metro Airport from...
82707,Manila from Brisbane,"Flight to Manila from Brisbane 07/12/2017, onl..."
88497,from Rome (CIA) to Stansted (London),On November 7th I flew Ryanair from Rome (CIA)...

In [44]:
# Index of Routes in the form "From X to Y"
from_to = df_correct_to.index[df_correct_to['NewRoute'].str.match('from ', case=False)]
df_correct_to.loc[from_to, ['NewRoute', 'Review']]

,NewRoute,Review
49598,From King Shaka to O.R Tambo,Staff were semi friendly but not respectful to...
88497,from Rome (CIA) to Stansted (London),On November 7th I flew Ryanair from Rome (CIA)...

In [45]:
df_correct_to.loc[from_to, 'NewRoute'] = df_correct_to.loc[from_to, 'NewRoute'].replace('[Ff]rom ', ',', regex=True)
df_correct_to.loc[from_to, 'NewRoute']

49598            ,King Shaka to O.R Tambo
88497    ,Rome (CIA) to Stansted (London)
Name: NewRoute, dtype: object

In [46]:
# Index of Routes in the form "To Y from X"
to_from = df_correct_to.index[df_correct_to['NewRoute'].str.match('to .+ from', case=False)]
df_correct_to.loc[to_from, 'NewRoute']

47290    To Sydney from Heathrow
Name: NewRoute, dtype: object

Let's split them at " from " to get the place names and insert it back.

In [47]:
to_from_split = df_correct_to.loc[to_from, 'NewRoute'].str.split(' [Ff]rom ', regex=True)
to_from_split

47290    [To Sydney, Heathrow]
Name: NewRoute, dtype: object

In [48]:
to_from_route = (to_from_split.str[1] + " ").str.cat(to_from_split.str[0])
to_from_route

47290    Heathrow To Sydney
Name: NewRoute, dtype: object

In [49]:
df_correct_to.loc[to_from, 'NewRoute'] = to_from_route
df_correct_to.loc[to_from, ['AirlineName', 'Review', 'NewRoute']]

,AirlineName,Review,NewRoute
47290,Etihad Airways,Flew out to Sydney from Heathrow on the 14th M...,Heathrow To Sydney

Finally, let's look at the ones with just "from" in the middle.

In [50]:
# Index of Routes in the form "Y from X"
only_from = df_correct_to.index[df_correct_to['NewRoute'].str.contains(' from ', case=False)]
df_correct_to.loc[only_from, 'NewRoute']

66396    Metro Airport from Boston Logan
82707               Manila from Brisbane
Name: NewRoute, dtype: object

In [51]:
only_from_split = df_correct_to.loc[only_from, 'NewRoute'].str.split(' [Ff]rom ', regex=True)
only_from_split

66396    [Metro Airport, Boston Logan]
82707               [Manila, Brisbane]
Name: NewRoute, dtype: object

We do a similar thing from above and concatenate these to be "X to Y". Note that as before, the origin is the second entry.

In [52]:
only_from_route = (only_from_split.str[1] + " to ").str.cat(only_from_split.str[0])
display(only_from_route)

print("Before")
display(df_correct_to.loc[only_from, ['AirlineName', 'Review', 'NewRoute']])

df_correct_to.loc[only_from, 'NewRoute'] = only_from_route
print("After")
display(df_correct_to.loc[only_from, ['AirlineName', 'Review', 'NewRoute']])

66396    Boston Logan to Metro Airport
82707               Brisbane to Manila
Name: NewRoute, dtype: object

Before

,AirlineName,Review,NewRoute
66396,Jetblue Airways,On a flight back to Detroit Metro Airport from...,Metro Airport from Boston Logan
82707,Philippine Airlines,"Flight to Manila from Brisbane 07/12/2017, onl...",Manila from Brisbane

After

,AirlineName,Review,NewRoute
66396,Jetblue Airways,On a flight back to Detroit Metro Airport from...,Boston Logan to Metro Airport
82707,Philippine Airlines,"Flight to Manila from Brisbane 07/12/2017, onl...",Brisbane to Manila

Check if there are any more "from" in `NewRoute`.

In [53]:
df_correct_to['NewRoute'].str.contains('from').any()

False

We're done with the `"from"`.

### Look for `" - "` variants and examine if they should be changed to `" to "`

Several entries use ` - ` instead of ` to `, but some could be part of place names.

In [54]:
df_correct_to.loc[(df_correct_to['NewRoute'].str.contains(' - ')), 'NewRoute']

8048      Sault Ste. Marie, Canada - Toronto - Frankfurt...
12196                     Toronto - YYZ to Manchester - MAN
17649                                Bandung - Kuala Lumpur
19089                        Destin - Fort Walton to Boston
23156                         Fargo to New York - LaGuardia
24966                                 Charlotte - Frankfurt
25023                   Dallas Fort Worth - London Heathrow
27255                                             REC - VCP
29879                                      Lyons - Brussels
33094                                      LHR - EDI to LHR
34810                                      Legazpi - Manila
61446                                   Da Nang - Hong Kong
69576                                  Sydney to - New York
71384                       Bogotá to São Paulo - Guarulhos
76518                                   Los Angeles - Delhi
89127                            Melbourne - Dubai - London
92364                              London Gatwick - Bangkok
94873                            Jakarta to TMC - Tambolaka
99132                  New York - La Guardia to Orlando MCO
109439                                   Manchester - Crete
113443                                   Dublin - Charlotte
115677                            London Heathrow - Seattle
115791                   London Heathrow - Ho Chi Minh City
Name: NewRoute, dtype: object

In [55]:
# Index of all the above except for the ones that don't mean "to"
dash_edit = df_correct_to.index[(df_correct_to['NewRoute'].str.contains(' - '))].drop([12196, 19089, 23156, 99132])

In [56]:
df_correct_to.loc[dash_edit, 'NewRoute'] = df_correct_to.loc[dash_edit, 'NewRoute'].replace(to_replace=' - ', value=' to ', regex=True)
df_correct_to.loc[dash_edit, 'NewRoute']

8048      Sault Ste. Marie, Canada to Toronto to Frankfu...
17649                               Bandung to Kuala Lumpur
24966                                Charlotte to Frankfurt
25023                  Dallas Fort Worth to London Heathrow
27255                                            REC to VCP
29879                                     Lyons to Brussels
33094                                     LHR to EDI to LHR
34810                                     Legazpi to Manila
61446                                  Da Nang to Hong Kong
69576                                 Sydney to to New York
71384                      Bogotá to São Paulo to Guarulhos
76518                                  Los Angeles to Delhi
89127                          Melbourne to Dubai to London
92364                             London Gatwick to Bangkok
94873                           Jakarta to TMC to Tambolaka
109439                                  Manchester to Crete
113443                                  Dublin to Charlotte
115677                           London Heathrow to Seattle
115791                  London Heathrow to Ho Chi Minh City
Name: NewRoute, dtype: object

In [57]:
df_correct_to.loc[(df_correct_to['NewRoute'].str.fullmatch('.{3}-.{3}')), 'NewRoute']

8043      YWG-LHR
8979      KIV-LIS
15531     GRR-ORD
17245     SYD-LAX
18244     HKG-HKT
29855     BRU-CPH
33182     YVR-LIS
33542     MAN-LHR
33554     LHR-BOM
33626     LHR-DEN
33627     ORD-LHR
33628     LHR-GLA
33629     GLA-LHR
36505     FRA-WDH
36506     WDH-FRA
39846     CAN-CGO
45846     MAN-GOI
48367     AMS-BKK
48606     LAX-DMM
67973     SEA-ORF
68230     DCA-NRT
76894     MRS-KIX
79391     SIN-KUL
79447     LHR-KUL
88660     SYD-AKL
88723     SYD-LHR
91271     SIN-LHR
91274     LHR-SIN
102778    ORD-MSP
104962    HUX-YEG
121625    YYC-LAS
123876    LAX-FRA
126523    DEN-GRR
129105    VNO-FMM
Name: NewRoute, dtype: object

All of the `"-"` above mean `" to "`, so they will all be changed to `" to "`.

In [58]:
dash_edit = df_correct_to.index[(df_correct_to['NewRoute'].str.fullmatch('.{3}-.{3}'))]
df_correct_to.loc[dash_edit, 'NewRoute'] = df_correct_to.loc[dash_edit, 'NewRoute'].replace(to_replace='-', value=' to ', regex=True)
df_correct_to.loc[dash_edit, 'NewRoute']

8043      YWG to LHR
8979      KIV to LIS
15531     GRR to ORD
17245     SYD to LAX
18244     HKG to HKT
29855     BRU to CPH
33182     YVR to LIS
33542     MAN to LHR
33554     LHR to BOM
33626     LHR to DEN
33627     ORD to LHR
33628     LHR to GLA
33629     GLA to LHR
36505     FRA to WDH
36506     WDH to FRA
39846     CAN to CGO
45846     MAN to GOI
48367     AMS to BKK
48606     LAX to DMM
67973     SEA to ORF
68230     DCA to NRT
76894     MRS to KIX
79391     SIN to KUL
79447     LHR to KUL
88660     SYD to AKL
88723     SYD to LHR
91271     SIN to LHR
91274     LHR to SIN
102778    ORD to MSP
104962    HUX to YEG
121625    YYC to LAS
123876    LAX to FRA
126523    DEN to GRR
129105    VNO to FMM
Name: NewRoute, dtype: object

In [59]:
# Route which contains a "-" but not a " to "
df_correct_to.loc[(df_correct_to['NewRoute'].str.contains('-')) & (df_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']

8054                  YUL-LHR-YYZ-MEX
12256                  Toronto-Venice
13803                     IAD-CDG-CAI
19729                 Oakland-Seattle
31854              Edinburgh-Florence
35380                     SFO-PVG-SGN
39803                        AKL-LHR
47291     Tokyo-Abu Dhabi-Los Angeles
51308              Bucharest-Brussels
74651             CAI-AMS and AMS-IAD
80511                     LGW-CPH-JFK
91288                     MEL-DOH-BAH
101738                 Detroit-Cancun
107451                    GVA-ZRH-GRU
117226                    HAN-HUI-HAN
123992              Vienna-IST-Rostov
126536                    TPA-IAD-LHR
Name: NewRoute, dtype: object

All of the `"-"` above mean `" to "`, so they will all be changed to `" to "`.

In [60]:
dash_edit = df_correct_to.index[(df_correct_to['NewRoute'].str.contains('-')) & (df_correct_to['NewRoute'].str.contains(' to ') == False)]

In [61]:
df_correct_to.loc[dash_edit, 'NewRoute'] = df_correct_to.loc[dash_edit, 'NewRoute'].replace(to_replace='-', value=' to ', regex=True)
df_correct_to.loc[dash_edit, 'NewRoute']

8054               YUL to LHR to YYZ to MEX
12256                     Toronto to Venice
13803                     IAD to CDG to CAI
19729                    Oakland to Seattle
31854                 Edinburgh to Florence
35380                     SFO to PVG to SGN
39803                           AKL to LHR
47291     Tokyo to Abu Dhabi to Los Angeles
51308                 Bucharest to Brussels
74651             CAI to AMS and AMS to IAD
80511                     LGW to CPH to JFK
91288                     MEL to DOH to BAH
101738                    Detroit to Cancun
107451                    GVA to ZRH to GRU
117226                    HAN to HUI to HAN
123992              Vienna to IST to Rostov
126536                    TPA to IAD to LHR
Name: NewRoute, dtype: object

In [62]:
df_correct_to.loc[(df_correct_to['NewRoute'].str.contains('-')), 'NewRoute'].to_list()

['Ixtapa-Zihuatanejo to Mexico City',
 'Point-à-pitre to Saint Martin',
 'Point-a-Pietre to Melville Hall',
 'St-Denis de La Reunion to Mauritius',
 'Petropavlovsk-Kamchatsky to Moscow',
 'Moscow to Nur-Sultan',
 'Nur-Sultan to Seoul',
 'London to Nur-Sultan',
 'St-Petersburg to Istanbul',
 'Paris to Fort-de-France',
 'Saint-Petersburg to Aktobe',
 'Pointe-à-Pitre to Paris-Orly',
 'Pointe-à-Pitre to Paris Orly',
 'Paris Orly to Pointe-à-Pitre',
 'St Petersburg to Ust-Kamenogorsk',
 'Saint-Petersburg to Rome',
 'Petropavlovsk-Kamchatsky to Moscow',
 'Dublin to Rome-Fiumicino',
 'Veracruz to Mexico-City',
 'Guadalajara to Chicago O-Hare',
 'Mexico City to Seattle-Tacoma',
 'Geneva to Tokyo-Narita',
 'Coya-Coco to Montreal',
 'Bangkok to Washington-Dulles',
 'Lyon Saint-Exupéry to Dublin',
 'Rouyn-Noranda to Johannesburg',
 'Prince-George to Toronto',
 'Montreal to Tokyo-Narita',
 'Paris-Orly to São Paulo',
 'Paris Orly to Pointe-à-Pitre',
 'Paris Orly to Pointe-à-Pitre',
 'Toronto - YYZ to Manchester - MAN',
 'Paris-Orly to Cayenne',
 'Point-a-Pitre to Marseille',
 'New-York to Paris',
 'Paris-CDG to Milan-LIN',
 'St-Petersburg to Brussels',
 'Perth to U-Tapao',
 'Dallas Fort-Worth to Shreveport',
 'Stewart-Newburgh to Toronto',
 'Eilat to Tel Aviv-Yafo',
 'Tokyo-Haneda to Sydney',
 'Okayama to Tokyo-Haneda',
 'Anchorage to Dallas Fort-Worth',
 'Washington-Dulles to Narita',
 'Idaho falls to Phoenix-Mesa',
 'Rome-Fiumicino to Milan-Linate',
 'Phoenix to Tri-Cities',
 'Kauai-Lihue to Seattle',
 'Orlando to Tri-Cities',
 'Phoenix-Mesa Gateway to South Bend',
 'Burlington to St. Pete-Clearwater',
 'Destin - Fort Walton to Boston',
 'Provo to Phoenix-Mesa',
 'Mid-America to St. Petersburg/Clearwater',
 'New Orleans to Raleigh-Durham',
 'Sanford /Orlando to Raleigh-Durham',
 'Indianapolis to St. Pete-Clearwater',
 'Springfield to Destin-Fort Walton Beach',
 'Santa Ana to Dallas Fort-Worth',
 'Baltimore-Washington to Asheville',
 'Wilkes-Barre to St. Petersburg',
 'Sacramento to Dallas Fort-Worth',
 'Wilkes-Barre to Charlotte',
 'Dallas Fort-Worth to Omaha',
 'Dallas Fort-Worth to Columbus',
 'Honolulu to Dallas Fort-Worth',
 'Phoenix-Mesa Gateway to Wichita, KS',
 'Asheville NC to St Pete-Clearwater',
 'Tokyo to Dallas Fort-Worth',
 'Honolulu to Dallas Fort-Worth',
 'Dallas Fort-Worth to Barcelona',
 'Wilkes-Barre/Scranton to Cancun',
 'Dallas Fort-Worth to Miami',
 'Ontario to Dallas Fort-Worth',
 'Cancun to Dallas Fort-Worth',
 'Chicago to Wilkes-Barre/Scranton',
 'Portland to Dallas Fort-Worth',
 'Dallas Fort-Worth to Costa Rica',
 'Dallas Fort-Worth to Fort Walton Beach',
 'Dallas Fort-Worth to Hartford',
 'Phoenix to Dallas Fort-Worth',
 'Pensacola to Dallas Fort-Worth',
 'New Orleans to Dallas Fort-Worth',
 'Boston to Dallas Fort-Worth',
 'Raleigh-Durham to Oklahoma City',
 'Los Angeles to Dallas Fort-Worth',
 'Cancun to Dallas Fort-Worth',
 'Cincinnati to Dallas Fort-Worth',
 'Fargo to New York - LaGuardia',
 'Shreveport to Dallas-Fort Worth',
 'Columbus to Dallas Fort-Worth',
 'Dallas-Fort Worth to Seattle',
 'London Heathrow to Dallas Fort-Worth',
 'Destin-Fort Walton to Charlotte',
 'Omaha to Dallas Fort-Worth',
 'Seattle to Wilkes-Barre',
 'New York JFK to Port-au-Prince',
 'Sacramento to Scranton Wilkes-Barre',
 'Manado to Jakarta Soekarno-Hatta',
 'Medina-MED to Dhaka-DAC',
 'Cluj-Napoca to Barcelona',
 'Cluj-Napoca to Bucharest',
 'Lisbon to Cluj-Napoca',
 'Atlanta to Dallas Fort-Worth',
 'Cluj-Napoca to Dublin',
 'Tel Aviv-Yafo to Vienna',
 'Cluj-Napoca to Birmingham',
 'Cluj-Napoca to Bucharest',
 'U-Tapao to Koh Samui',
 'Dallas Fort-Worth to Toulouse',
 'Warsaw to London-Heathrow',
 'London-Heathrow to Warsaw',
 'Yogyakarta Kulon Progo to Jakarta Soekarno-Hatta',
 'Kunming to Shangri-La',
 'Sint Maarten to Pointe-à-Pitre',
 'Paris Orly to Pointe-à-Pitre',
 'Paris Orly to Pointe-à-Pitre',
 'Paris Orly to Pointe-à-Pitre / Martinique',
 'Paris-CDG to Prague',
 'Moscow to Tel-Aviv',
 'Nairobi to Tel-Aviv.',
 'Moscow to Abu-dhabi',
 'Saint-Petersburg to Denpasar',
 'Stansted to Cologne-Bonn',
 'Düsseldorf to Berlin-Tegel',
 'Abu-Dhabi to Manchester',
 'Helsinki-Vantaa to Jyväskylä',
 'Saint-Petersburg to Zurich',
 'Halifax to Kitchener-Waterloo',
 'Vienna to Kemi-Tornio',
 'Halifax to Kitchener-Waterloo',
 'Nur-Sultan to Almaty',
 'Dubai to U-tapao',
 'Nur-Sultan to Bucharest',
 'Tel-Aviv to Tbilisi',
 'Paris-Orly to Newark',
 'Berlin-Tegel to London Heathrow',
 'Heho to Nyaung-U',
 'Jakarta Soekarno-Hatta to Manado',
 'Denpasar-Bali to Perth',
 'Denpasar-Bali to London',
 'Denpasar-Bali to Jakarta',
 'Dallas Fort-Worth to Tel Aviv',
 'Raleigh-Durham to Philadelphia',
 'Sydney to Tel-Aviv',
 'Cancun to Dallas Fort-Worth',
 'Las Vegas to Dallas Fort-Worth',
 'Las Vegas to Dallas Fort-Worth',
 'Orlando to Dallas Fort-Worth',
 'Dallas Fort-Worth to Las Vegas',
 'Bangkok-Suvarnabhumi (BKK) to Vancouver (YVR)',
 'Dallas Fort-Worth to Las Vegas',
 'Seattle to Saint-Louis',
 'Philadelphia to Dallas Fort-Worth',
 'Miami to New York-LGA',
 'Austin-Bergstrom to Philadelphia',
 'Trenton-Mercer to Detroit',
 'Raleigh-Durham to Denver',
 'Washington-Dulles to Orlando International',
 'LHR-KEF-BOS to BOS-KEF-LHR',
 'New York JFK to Tokyo-Haneda',
 'Hanoi to Ho Chi-Minh',
 'Nairobi to Dar-Es-Salam',
 'Fort Lauderdale to Raleigh-Durham',
 'New York to Port-au-Prince',
 'Brisbane to Denpasar-Bali',
 'Mombasa to Dar-es-Salam',
 'New York-JFK to San Jose',
 'Brussels to New-York',
 'Adelaide to Melbourne-Avalon',
 'Los Angeles to Kailua-Kona',
 'Minneapolis to Hartford-Bradley',
 'Salt Lake City to Raleigh-Durham',
 'Santo Domingo to Fort-Lauderdale',
 'Greenville-Spartanburg to San Antonio',
 'Raleigh-Durham to Boston',
 'Orlando to New York-JFK',
 'Washington-Reagan to Boston',
 'Raleigh-Durham to Las Vegas',
 'Nashville to Minneapolis-Saint Paul',
 'Orlando to Wilkes-Barre',
 'Tampa to Raleigh-Durham',
 'Raleigh-Durham to LaGuardia',
 'Clermont-Ferrand to Newark',
 'Barcelona to New-york',
 'Honolulu to Seoul-Incheon',
 'Santiago-Chile to New York',
 'London to Saint-Petersburg',
 'Guarulhos to Gothenburg-Landvetter',
 'Amsterdam to Minneapolis-St. Paul',
 'Cluj-Napoca to Miami',
 'Johannesburg to Dallas-Fort Worth',
 'Munich to Tel Aviv-Yafo',
 'Bucharest to Nur-Sultan',
 'Berlin-Tegel to Munich',
 'Toulouse to New-York',
 'Berlin-Tegel to Frankfurt',
 'Berlin-TXL to Frankfurt',
 'New-York to Paris',
 'Paris CDG to Tunis-Carthage',
 'Yokota to Seattle-Tacoma',
 'Oslo to Longyearbyen-Svalbard',
 'Oslo to New York-JFK',
 'Sharm el-Sheikh to Cairo',
 'Moscow to Sharm el-Sheikh',
 'Barcelona to Sharm el-Sheik',
 'Moscow to Baden-Baden',
 'St. Petersburg to Rostov-on-Don',
 'Mont-Tremblant to Toronto',
 'Moscow (DME) to Ulan-Ude',
 'Denpasar-Bali to Brisbane',
 'Brisbane to Denpasar-Bali',
 'Tel-Aviv to Berlin',
 'Tel Aviv-Yafo to Paphos',
 'Rome-Ciampino to Dublin',
 'Manchester to Rome-Ciampino',
 'Dublin to Cluj-Napoca',
 'London Stansted to Stockholm-Skavsta',
 'Cologne to Berlin-Schonefeld',
 'Alicante to Newcastle-upon-Tyne',
 'Cologne-Bonn to Berlin',
 'Frankfurt-Hahn to Fuerteventura',
 'Frankfurt-Hahn to Rome Ciampino',
 'Ust-Kamenogorsk to Karaganda',
 'STT- Downtown to STX Downtown',
 'Tri-Cities to Tampa',
 'Siborong-Borong to Jakarta',
 'Dallas Fort-Worth to Miami',
 'Dallas Fort-Worth to Cozumel',
 'Ixtapa-Zihuatanejo to Minneapolis',
 'Las Vegas to Dallas-Fort Worth',
 'Nashville to Minneapolis St-Paul',
 'Juan Santamaria to Baltimore-Washington',
 'Dallas Fort-Worth to Las Vegas',
 'Dallas Fort-Worth to Las Vegas',
 'Reno-Tahoe to Las vegas',
 'Las Vegas to Dallas Fort-Worth',
 'Boston to Fort-Lauderdale',
 'Detroit to Dallas Fort-Worth',
 'Indianapolis to Chicago-Midway',
 'Las Vegas to Dallas Fort-Worth',
 'Los Angeles to Dallas Fort-Worth',
 'New York - La Guardia to Orlando MCO',
 'Miami to Dallas Fort-Worth',
 'DAY-TPA to TPA-DAY',
 'Dallas Fort-Worth to Tampa',
 'Las Vegas to Dallas Fort-Worth',
 'Cancun to Dallas Fort-Worth',
 'Dallas Fort-Worth to Panama City',
 'Akron-Canton to Fort Myers',
 'Dallas-Fort Worth to Atlanta',
 'Dallas-Fort Worth to Detroit Metro',
 'Orlando to Dallas Fort-Worth',
 'Baltimore to Dallas-Fort Worth',
 'Paramaribo to Port-of-Spain',
 'Montreal to Puerto-Plata',
 'Brussel to Saint-Petersburg',
 'Amsterdam to Cluj-Napoca',
 'Bucharest to Cluj-Napoca',
 'Athens to Cluj-Napoca',
 'Tel-Aviv to Paris',
 'Rotterdam-The Hague to Girona',
 'Sochi to Moscow-Domodedovo',
 'Ulan-Ude to Moscow',
 'Dallas Fort-Worth to Naples',
 'İstanbul to Tel Aviv-Yafo',
 'Calgary to London-Gatwick',
 'Kathmandu to Dallas Fort-Worth',
 'Istanbul to Dallas Fort-Worth',
 'Tel-Aviv to Newark',
 'Cluj-Napoca to Lisbon',
 'Dublin to Nur-Sultan',
 'Raleigh-Durham to Seattle',
 'Moscow-Vnukovo to Berlin-Bradenburg',
 'Istanbul to Basel-Mulhouse',
 'Kathmandu to Cluj-Napoca',
 'Minneapolis to Wilkes-Barre/Scranton',
 'Winnipeg to New York-LGA',
 'Lisbon to Sharm el-Sheikh',
 'Cluj-Napoca to New York',
 'Boston to Tri-Cities',
 'Los Angeles to Tokyo-Narita',
 'New Orleans to David-Panama',
 'Chicago to Tokyo-Narita',
 'Guiyang to Kuala-Lumpur',
 'Tel-Aviv to Chicago',
 'Frankfurt-Hahn to Belgrade',
 'Birmingham to Tel-Aviv',
 'Frankfurt-Hahn to Sibiu',
 'Cluj-Napoca to Berlin',
 'Barcelona to Cluj-Napoca',
 'Milan to Nur-Sultan',
 'Luton to Moscow-Vnukovo',
 'Luton to Cluj-Napoca',
 'Cluj-napoca to Liverpool',
 'Luton to Cluj-Napoca',
 'Luton to Cluj-Napoca',
 'Cluj-napoca to Treviso',
 'Cluj-Napoca to Luton',
 'Cluj-Napoca to Dortmund',
 'Cluj-Napoca to Charleroi']

For the rest of the `Route` that contains `"-"`, they should be part of the name, so we're done with this part.

### Look for `" and "` and `" & "` and examine if they should be changed to `" to "`

In [63]:
df_correct_to.loc[
    (df_correct_to['NewRoute'].str.contains(' and '))
    & (df_correct_to['NewRoute'].str.contains(' to ') == False),
    ['NewRoute', 'Review']]

,NewRoute,Review
12342,Geneva and Paris CDG,This short flight was the first shuttle of the...
24955,Philadelphia and San Diego,I fly AA moderately regularly between Philadel...
80509,Stockholm and Malmö,"DY 4053, 5 June. For the second time this year..."
115553,Ho Chi Minh City and Phu Quoc,The flight between Ho Chi Minh City and Phu Qu...

In [64]:
df_correct_to.loc[
    (df_correct_to['NewRoute'].str.contains(' and '))
    & (df_correct_to['NewRoute'].str.contains(' to ') == False),
    'Review'].to_list()

['This short flight was the first shuttle of the day between Geneva and Paris, no need to say that it was full. However, the staff well managed everyone to enter the plane on time. The only thing is that everyone kept their luggage to save time and, since there was no room anymore in the plane for additional luggage, many had to put their luggage back into the trunk. I guess Air France should advise passengers that, when the plane is full, it is better to register your bag. With so many passengers willing to save time and limited space, we ended up leaving the airport 20mn late because of those passengers. For the rest, it was very early and I felt asleep for the first 30mn. It was a really nice surprise to find a pain au chocolat waiting for me on my tablet. Usually, flight attendants do not serve you while you are asleep, especially in Economy class. I was very thankful the AF FA did it for me. Upon arrival, our luggage were delivered super fast and I was able to go to work in Paris as a usual commuter. Thank you Air France.',
 "I fly AA moderately regularly between Philadelphia and San Diego. I often travel with surfboards and pay the $150 each way for this service ($200 internationally). However, AA takes no responsibility for damage to the surfboard even though I am effectively paying for an additional ticket to travel. I think this is completely messed up. This past trip I took a board out to my daughter that she built this past summer. It was packed exceptionally well. Wrapped in bubble wrap, covered in cardboard on all surfaces and more bubble wrap on the rails of the board and the whole thing put into a padded surfboard travel bag. Got it to San Diego and the rails were crushed in two places and there was a big heel dent in the bottom on the board. It was like the baggage handlers went out of their way to destroy the surfboard. OK, AA will pay the damages. Nope, the fine print says they are not responsible and they turn their backs. That's it. Game over. I hate AA big time. But there is no other choice. Good luck.",
 'DY 4053, 5 June. For the second time this year I flew Norwegian between Stockholm and Malmö. For the second time there was a 2 hour delay due to mechanical problems. No compensation at all. The even wanted to charge 30SEK for a cup of coffee.  Never again Norwegian!',
 'The flight between Ho Chi Minh City and Phu Quoc island takes around 40 minutes so that they do not serve food on the flight. Every customer was provided with a small bottle of water and a piece of wet tissue. Moreover, there was no entertainment during the flight. Fortunately, I was seated near the windows and could see the sights below. The flight went through Mekong delta which consists of the long rivers and the large rice fields.']

The reviews indicate that the `" and "` represent `" to "` and should be changed.

In [65]:
and_edit = df_correct_to.index[
    (df_correct_to['NewRoute'].str.contains(' and '))
    & (df_correct_to['NewRoute'].str.contains(' to ') == False)
]

In [66]:
df_correct_to.loc[and_edit, 'NewRoute'] = df_correct_to.loc[and_edit, 'NewRoute'].str.replace(' and ', ' to ', regex=True)
df_correct_to.loc[and_edit, 'NewRoute']

12342              Geneva to Paris CDG
24955        Philadelphia to San Diego
80509               Stockholm to Malmö
115553    Ho Chi Minh City to Phu Quoc
Name: NewRoute, dtype: object

In [67]:
df_correct_to.loc[
    (df_correct_to['NewRoute'].str.contains('.+and '))
    & (df_correct_to['NewRoute'].str.contains('land|grand', case=False) == False),
    'NewRoute'
].to_list()

['WUH to BKI and return',
 'Cincinnati and Lexington to Destin/Fort Walton',
 'Trinidad and Tobago to Havana',
 'New York to Trinidad and Tobago',
 'SYD to HNL and return',
 'Beijing to Brussels and Berlin to Beijing',
 'New York JFK to Turks and Caicos',
 'Clermont-Ferrand to Newark',
 'Cracow to Lima and return',
 'CAI to AMS and AMS to IAD',
 'LGW to JFK and return',
 'Kristiansand to Gdansk',
 'Stansted to Malta and return',
 'Kansas City to Philadelphia and return',
 'Trinidad and Tobago to LaGuardia',
 'Valencia, Spain to Paris and Lyon to Rome to Valencia',
 'Turks and Caicos to Montréal',
 'Moscow to Trinidad and Tobago',
 'Kristiansand to Bergen',
 'Los Angeles to Keflavik and Amsterdam',
 'Samarkand to Tel Aviv']

In [68]:
and_return = df_correct_to.index[(df_correct_to['NewRoute'].str.contains('and return'))]
df_correct_to.loc[and_return, 'NewRoute']

18121                     WUH to BKI and return
52129                     SYD to HNL and return
54962         Manchester to Auckland and return
73262                 Cracow to Lima and return
80346                     LGW to JFK and return
88556              Stansted to Malta and return
98865    Kansas City to Philadelphia and return
Name: NewRoute, dtype: object

For these, we just count the non-return flight.

In [69]:
df_correct_to.loc[and_return, 'NewRoute'] = df_correct_to.loc[and_return, 'NewRoute'].replace(to_replace=' and return', value=',', regex=True)
df_correct_to.loc[and_return, 'NewRoute']

18121                     WUH to BKI,
52129                     SYD to HNL,
54962         Manchester to Auckland,
73262                 Cracow to Lima,
80346                     LGW to JFK,
88556              Stansted to Malta,
98865    Kansas City to Philadelphia,
Name: NewRoute, dtype: object

In [70]:
df_correct_to.loc[
    (df_correct_to['NewRoute'].str.contains('.+and '))
    & (df_correct_to['NewRoute'].str.contains('land|grand|trinidad|caicos|samarkand|sand|ferrand', case=False) == False),
    'NewRoute'
].to_list()

['Cincinnati and Lexington to Destin/Fort Walton',
 'Beijing to Brussels and Berlin to Beijing',
 'CAI to AMS and AMS to IAD',
 'Valencia, Spain to Paris and Lyon to Rome to Valencia',
 'Los Angeles to Keflavik and Amsterdam']

These have multiple origin/destinations, so we just remove them from our dataset.

In [71]:
and_remove = df_correct_to.index[
    (df_correct_to['NewRoute'].str.contains('.+and '))
    & (df_correct_to['NewRoute'].str.contains('land|grand|trinidad|caicos|samarkand|sand|ferrand', case=False) == False)
]
df_correct_to.drop(index=and_remove, inplace=True)

In [72]:
df_correct_to.loc[(df_correct_to['NewRoute'].str.contains('&')), 'NewRoute']

126528    Milwaukee, WI to Los Angeles & San Francisco
Name: NewRoute, dtype: object

In [73]:
and_remove = df_correct_to.index[(df_correct_to['NewRoute'].str.contains('&'))]
df_correct_to.drop(index=and_remove, inplace=True)

In [74]:
df_correct_to.loc[
    (df_correct_to['NewRoute'].str.contains(' and.+'))
    & (df_correct_to['NewRoute'].str.contains('land|grand|trinidad|caicos|samarkand|sand|ferrand', case=False) == False),
    'NewRoute'
]

Series([], Name: NewRoute, dtype: object)

We've now handled all of the `" and "`.

### Check that every entry has `" to "` and correct things that don't

Before we split `NewRoute` on `" to "`, we need to make sure that every `NewRoute` indeed contains this substring.

In [75]:
count_no_to = df_correct_to.loc[df_correct_to['NewRoute'].str.contains(' to ') == False, 'NewRoute'].count()
print("Number of entries without \" to \":", count_no_to)

Number of entries without " to ": 60

In [76]:
# Index of NewRoutes with various misspellings of " to "
wrong_to = df_correct_to.index[
    (df_correct_to['NewRoute'].str.contains(' to ') == False)
    & (df_correct_to['NewRoute'].str.contains(' [rty]o | tyo | t[p0]o | t.?o ', case=False))]
df_correct_to.loc[wrong_to, 'NewRoute']

35064          Hong Kong To Shanghai
35353                     SYD yo DXB
38637           Jieyang To Vancouver
39728                     SYD yo PEK
40260     Edinburgh To Fuerteventura
47290             Heathrow To Sydney
64798                    CHC t0o HBA
67492          Atlanta yo La Guardia
68963                    JKF tpo KWI
74032        Frankfurt TO Washington
90502                     doh TO sof
95174                     AKL ro SIN
117695         Washington tyo Tehran
Name: NewRoute, dtype: object

In [77]:
df_correct_to.loc[wrong_to, 'NewRoute'] = df_correct_to.loc[wrong_to, 'NewRoute'].replace([' [Tyr]o ',' TO ', ' tyo ', ' t[p0]o ', ' \xa0to '], ' to ',
                                                     regex=True)
df_correct_to.loc[wrong_to, 'NewRoute']

35064          Hong Kong to Shanghai
35353                     SYD to DXB
38637           Jieyang to Vancouver
39728                     SYD to PEK
40260     Edinburgh to Fuerteventura
47290             Heathrow to Sydney
64798                     CHC to HBA
67492          Atlanta to La Guardia
68963                     JKF to KWI
74032        Frankfurt to Washington
90502                     doh to sof
95174                     AKL to SIN
117695          Washington to Tehran
Name: NewRoute, dtype: object

Let's look at those with `"to"` but not `" to "`.

In [78]:
df_correct_to.loc[(df_correct_to['NewRoute'].str.contains('to')) &
                        (df_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']

11586             Toronto to Birmingham
22732                     Washington to
70816             Sao Jose do Rio Preto
97932     Raleigh/Durham to Albuquerque
105686                          Toronto
118351           SeattletoJacklsonville
Name: NewRoute, dtype: object

In [79]:
print("Before fixing:")
display(df_correct_to.loc[[11586, 97932, 118351], ['NewRoute']])

df_correct_to.loc[[11586, 97932, 118351], 'NewRoute'] = ['Toronto to Birmingham',
                                                              'Raleigh/Durham to Albuquerque',
                                                              'Seattle to Jacksonville']
print("After fixing:")
display(df_correct_to.loc[[11586, 97932, 118351], ['NewRoute']])

Before fixing:

                             NewRoute
11586           Toronto to Birmingham
97932   Raleigh/Durham to Albuquerque
118351         SeattletoJacklsonville

After fixing:

                             NewRoute
11586           Toronto to Birmingham
97932   Raleigh/Durham to Albuquerque
118351        Seattle to Jacksonville

The rest of the entries with no `" to "` seem to only have one place in the `NewRoute` column, so we just remove them.

In [80]:
#df_correct_to.loc[(df_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']
no_to = df_correct_to.index[(df_correct_to['NewRoute'].str.contains(' to ') == False)]
df_correct_to.drop(index=no_to, inplace=True)

print("Rows removed:", len(no_to))
del(no_to)

Rows removed: 44

# Split `NewRoute` into Origin and Destination

## Split `NewRoute` into `Origin` and `Destination` columns
Now, all of our entries have a `" to "`, which means we can split on it and create `Origin` and `Destination` columns.

In [81]:
df_origin_destination = df_correct_to.copy()
df_origin_destination.shape

(90476, 16)

In [82]:
origin_destination_split = df_origin_destination['NewRoute'].str.split(' to ', expand=True).rename(columns={0:'origin', 1:'destination'})
origin_destination_split

              origin destination     2     3
0             Moroni      Moheli  None  None
1             Moroni     Anjouan  None  None
2            Anjouan    Dzaoudzi  None  None
6             Milano       Olbia  None  None
7            Cascais    Bragança  None  None
...              ...         ...   ...   ...
129200      Budapest   Barcelona  None  None
129201          Rome   Bucharest  None  None
129202  London Luton    Budapest  None  None
129203      Budapest    Tel Aviv  None  None
129204      Budapest       Dubai  None  None

[90476 rows x 4 columns]

## Remove entries with multiple `" to "`s

We will drop all the entries which have multiple destinations (indicated by a non-null value in row 2 or 3 of the above df).

In [83]:
# Index of entries with multiple destinations in the `NewRoute` column
multiple_destinations = origin_destination_split.index[origin_destination_split[2].notna()]

In [84]:
df_origin_destination.drop(index=multiple_destinations, inplace=True)
origin_destination_split.drop(index=multiple_destinations, inplace=True)

In [85]:
df_origin_destination[['Origin', 'Destination']] = origin_destination_split[['origin', 'destination']]
df_origin_destination.head()

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,TripVerified,NewRoute,Origin,Destination
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Trip Verified,Moroni to Moheli,Moroni,Moheli
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Trip Verified,Moroni to Anjouan,Moroni,Anjouan
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Trip Verified,Anjouan to Dzaoudzi,Anjouan,Dzaoudzi
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Trip Verified,Milano to Olbia,Milano,Olbia
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Trip Verified,Cascais to Bragança,Cascais,Bragança

In [86]:
df_origin_destination.shape

(90430, 18)

In [87]:
df_origin_destination.drop(columns='NewRoute', inplace=True)

In [88]:
df_origin_destination.head()

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,TripVerified,Origin,Destination
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Trip Verified,Moroni,Moheli
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Trip Verified,Moroni,Anjouan
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Trip Verified,Anjouan,Dzaoudzi
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Trip Verified,Milano,Olbia
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Trip Verified,Cascais,Bragança

## Clean up `Origin` and `Destination` columns

In [89]:
df_origin_destination['Origin'] = df_origin_destination['Origin'].str.strip(' =?[0-9],')
df_origin_destination['Destination'] = df_origin_destination['Destination'].str.strip(' =?[0-9],')

# Standardize city and airport names

## Load city and airport dictionaries

In [90]:
airports = pd.read_excel('Data dict - airport_codes_and_city_id.xlsx')
airports

     Code                               Name  city_id
0     AAL                                NaN        1
1     AES                                NaN        2
2     AAR                           Tirstrup        3
3     ZID                                NaN        3
4     JEG                                NaN        4
...   ...                                ...      ...
3589  KNO    Kualanamu International Airport     1904
3590  PGD                Punta Gorda Airport     3484
3591  BLQ  Bologna Guglielmo Marconi Airport     3485
3592  AZA       Phoenix-Mesa Gateway Airport     3486
3593  KOE                    El Tari Airport     3487

[3594 rows x 3 columns]

In [91]:
cities = pd.read_excel('Data dict - cities_with_city_id.xlsx', sheet_name='Sheet1')
cities

            city state_prov state_prov_abbreviation         country  city_id
0        Aalborg        NaN                     NaN         Denmark        1
1       Aalesund        NaN                     NaN          Norway        2
2         Aarhus        NaN                     NaN         Denmark        3
3        Aasiaat        NaN                     NaN       Greenland        4
4         Abadan        NaN                     NaN            Iran        5
...          ...        ...                     ...             ...      ...
3483      Da Lat        NaN                     NaN         Vietnam     3491
3484   Doncaster        NaN                     NaN  United Kingdom     3492
3485    Busuanga    Palawan                     NaN     Philippines     3493
3486       Crete        NaN                     NaN          Greece     3494
3487  Manchester        NaN                     NaN  United Kingdom     3495

[3488 rows x 5 columns]

Let's make a copy of the dataset before making more changes.

In [92]:
df_with_origin_airport = df_origin_destination.copy()

### Make new columns that indicates a match and extra location information

In [93]:
import numpy as np
df_with_origin_airport[[
    'OriginMatch', 'OriginAirportCode', 'OriginCityId',
    'DestinationMatch', 'DestinationAirportCode', 'DestinationCityId' ]] = np.nan

In [94]:
df_with_origin_airport.head(3)

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,...,Review,TripVerified,Origin,Destination,OriginMatch,OriginAirportCode,OriginCityId,DestinationMatch,DestinationAirportCode,DestinationCityId
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,...,Moroni to Moheli. Turned out to be a pretty de...,Trip Verified,Moroni,Moheli,NaN,NaN,NaN,NaN,NaN,NaN
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,...,Moroni to Anjouan. It is a very small airline....,Trip Verified,Moroni,Anjouan,NaN,NaN,NaN,NaN,NaN,NaN
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,...,Anjouan to Dzaoudzi. A very small airline and ...,Trip Verified,Anjouan,Dzaoudzi,NaN,NaN,NaN,NaN,NaN,NaN

## Search for matches from the airport table

Before we search for matches, let's make an index of those that are not yet matched, which we will update as we seach for and find matches. We will use them in the following functions so that each `find_...` function will only look at entries that are not yet matched, thus, it will not override any matches made before.

In [95]:
UNMATCHED_ORIGIN_INDEX = df_with_origin_airport.index[df_with_origin_airport['OriginMatch'].isna()]
UNMATCHED_DESTINATION_INDEX = df_with_origin_airport.index[df_with_origin_airport['DestinationMatch'].isna()]

Before we search for matches from the table, let's make a list of all the codes and turn it into regex so that we can use it to search.

In [96]:
all_codes_regex = "|".join(airports['Code'])
all_codes_regex

'AAL|AES|AAR|ZID|JEG|ABD|ABA|YXX|ABR|ABZ|AHB|ABJ|ABI|AUH|ABS|ABV|ACA|AGV|ACC|ADK|ADA|ADD|ADL|ADE|AZR|AFT|AGA|IXA|AUP|AGF|AGR|AJI|BQN|AGU|AGJ|AMD|AWZ|AIM|AEO|AIC|AIT|AJL|AJA|KKI|AKI|AXT|ABE|AKU|ABE|AKV|AEY|KQA|AAN|AAC|AAY|AHU|AUK|ALM|ALS|ABT|ALB|CVO|QWY|ABQ|ABX|ACI|XLY|WKK|ALP|ALJ|AEX|ALY|XFS|AXD|FJR|AHO|ALG|ALC|ASP|AET|ABE|AIA|YTF|LEI|ARD|AOR|GUR|APN|ALF|ATM|AAT|ACH|ARR|AKX|ASJ|AMA|AZB|IVA|AMY|WAM|ABL|AMQ|ASV|AMV|ADJ|AMM|ATQ|AMS|DYR|YAA|AKP|HVA|AAQ|ANC|AOI|ANX|AZN|ASD|AUY|JHE|ANE|QXG|AGD|AQG|YAX|AGN|ANG|AXA|ANI|AWD|AKA|ANK|ESB|JVA|AAE|NCY|ANM|AYT|TNR|ANF|WAQ|DIE|WAI|ANR|ZAY|ANV|AOJ|AOT|APO|APW|FGI|ATW|AQJ|AJU|ARU|ARW|ARP|AUX|AAG|RAE|AUC|AMH|ACV|YAB|ARC|ADU|AQP|AGH|GYL|ARI|ARH|AXM|ARM|ATC|RUA|AUA|ARK|YEK|AJR|AKJ|CRK|ASB|ASM|ASO|ASE|ATZ|TSE|ASF|OVD|ASU|ASW|AXK|AHN|ATH|AIU|AKB|ATL|AIY|ATD|ATK|YAT|AUQ|GUW|AKL|AGB|AGS|AUG|AKS|YPJ|AUL|IXU|AUR|AUU|AUS|AVN|AYW|AYQ|BXB|BCD|BJZ|BXD|BDD|IXB|YBG|BJR|BHV|BHI|BFQ|BSC|BAH|BAY|YBC|VMU|YBK|BFL|BAK|BAS|BZI|BPN|OPU|BNK|BBA|BWI|BXR|ABM|BKO|BTJ|BND|TKG|BDH|BWN|BDO|BLR|BPX|BKK|BGR|BNX|BDJ|BJL|BMV|BNP|BGF|BSD|BAV|BHB|BCA|BCI|BCN|BLA|BDU|BRI|BNS|BBN|BZL|BAX|BRM|BRR|BCL|EJA|BAQ|BRA|BRW|BTI|BSO|BSL|ZDH|BUZ|BIA|BTH|ZBF|BHS|BRT|BAL|BLJ|BXM|BTR|BJF|BBM|BUS|BPF|BAU|AOO|BYM|BYU|XBE|AOO|WBQ|ZBV|CBH|BKW|BED|BEU|EIS|BEI|LAQ|BHY|PEK|BEW|BEY|BJA|BLG|BEL|BMY|BFS|BHD|EGO|BEG|BZE|TZA|ZEL|QBC|BLV|XVV|BLI|BNY|BMD|AVL|PLU|BJI|BEB|BEN|BKS|BEH|BEJ|BBO|YBV|BGO|EGC|BVG|BER|SXF|THF|TXL|AVL|BRN|ZDJ|BPY|BET|AVP|BTT|BZR|BDP|BWA|BMO|BHR|BHU|BHO|BBI|BHJ|BIK|BIQ|YTL|BII|BIO|BIL|BLL|AVP|BMU|BIM|NSB|BDA|BTU|NTI|BIR|KBC|BVI|BHM|BHX|BHH|FRU|BSK|BIS|OXB|YBI|BKQ|BLK|BLT|BQS|YBX|BLZ|BHE|BDA|BID|BFN|BMI|BDL|BVC|BOV|BVB|BOC|BOO|BJV|BOG|GIC|BOI|BJB|BUI|BWK|BZO|BOA|BDL|BON|YVB|BNJ|BOB|BOD|HBE|BMK|BLE|RNN|BOX|BSA|BOS|WBU|WHH|XHH|BQL|BYA|BOJ|BRK|BOH|BWG|BZN|BCQ|BFD|BRD|XPN|BMP|YBR|XFV|BSB|BTS|BTK|BWE|BZV|QKB|BRE|BES|BWQ|BGI|BDS|BNE|BRS|BGM|BVE|BRQ|ZDN|YBT|XBR|BHQ|BNN|BKX|RBH|BME|BRO|BWD|BQK|BHG|BRU|CRL|ZYR|BGA|BBU|OTP|BKC|BUD|AEP|EZE|BUF|BGM|BJM|BUA|BHK|BKZ|BUQ|BGM|IFP|BDB|BXZ|BUO|BUR|LEV|BFV|BUC|BRL|BTV|BWT|YPZ|PUS|BTM|BXU|BZG|BJX|CFR|CGY|CAG|CNS|CAI|CJA|CBQ|CJC|BJX|YYC|CLO|CLY|CMW|CBG|YCB|CRD|YBL|XAZ|CAL|CPE|CPV|CPQ|CGR|CAW|BLF|CBR|CUN|CEQ|JCA|QYW|CIW|BLF|CAP|YTE|CGI|LUR|EHM|CPI|CPT|CVL|XAW|CCS|CKS|MDH|CCF|CWL|CLD|CNM|BOM|CVQ|RIK|CTG|YRF|CUP|BOM|CMN|CAC|CSI|CPR|XZB|CST|YCG|DCM|YAC|CTC|CTA|CAQ|CXJ|CAY|CYB|CYO|CEB|CDC|CID|CED|CEM|JCU|CDR|ZBR|CIK|CMF|XCI|BPT|IXC|XDL|CGQ|CGD|CHX|CZX|CHQ|CHG|XAP|YLD|CHS|CRW|CTL|CLT|CHO|YHG|YYG|XCM|CHT|CHA|CSY|CYF|CEK|XHS|MAA|CJJ|BPT|CTU|CEG|YCS|CTM|VAK|CAK|YHR|CYS|CMJ|CNX|CEI|CYI|YMT|CGX|CHI|MDW|ORD|CIX|CKX|CIC|CIF|KCG|KCL|KCQ|CUU|YAI|CIP|CZN|YKU|CAK|KIV|HTA|CJL|CTD|CGP|CHY|CKG|CHC|XCH|CHU|XAD|YYQ|ZUM|ICI|AVI|CVG|IRC|CHP|CBL|CME|AGT|CJS|CEN|CVM|CLP|CKB|CAS|CFE|CVC|CLE|CNJ|CVN|CMK|CLJ|YCY|CAZ|CIJ|XGJ|CBB|COK|CNC|Keeling Islands|CAS|CUQ|CFA|KCC|CFS|CJB|CDB|CLQ|CLL|CGN|QKL|CMB|ONX|COS|CAE|COU|CMH|CSG|GTR|YCK|YQQ|CKY|CCP|CCR|CNK|CCU|COG|CND|CZL|OTD|CPD|CTN|OOM|CNB|CPH|CPO|QCE|YZS|COR|CDV|ORK|YCC|CZE|CZH|CRP|CNQ|CEZ|CMG|CVU|CBO|CCU|XGK|YCA|CXB|CZM|CGA|CCV|YXC|CEC|CCM|CKI|CKO|CRI|YCR|CRV|CZS|CUW|CUC|CUE|CVJ|CGB|CUL|CUM|CBE|CMA|CUR|CWB|CUZ|DAD|DRH|TAE|DKR|VIL|DLM|DLU|DLC|CEE|DAM|DMM|DGA|DAR|NLF|DAU|DRW|DTD|YDN|DVO|DAV|YDI|TVY|YDA|YDQ|DAX|DYG|DDI|DAY|DAB|SCC|LGI|DOL|DBM|DBT|DEC|YDF|YVZ|DRG|DEZ|DEL|YWJ|DJN|DEM|DNM|DNZ|DAL|DEN|QWM|DEA|DSK|DRB|DER|DSM|DSE|DTT|DTW|DVL|DPO|DAC|DIB|DIK|DPS|DIJ|DIL|DLG|DLY|DMU|DNR|DPL|DIR|DIU|DIY|DJG|DJE|JIB|DNK|DOB|DDC|DDM|DOD|DOH|DCF|DOM|CFN|DOK|DOG|DMD|DTM|DHN|DOU|DLA|DRS|XDM|YHD|DXB|DBO|DUB|DUJ|DBV|DBQ|DLH|DGT|DUM|DUQ|DND|DUD|DNH|DKI|DGO|DRO|DUR|CEE|CMI|DYU|DUS|MGL|QDU|DUT|DZA|ELS|ZEM|CMI|EAU|EBO|EOI|EDI|XZL|YEG|EDA|EDO|EDR|EEK|EGS|EIN|EIB|SVX|KKU|KEK|EHL|CNF|ELD|ELF|EMX|EBD|ELU|ELP|ELE|ESR|VIG|EYP|ETH|EZS|EBA|ELC|EDL|CNF|ELV|ELI|ESL|EKO|ELM|LYU|EAE|EMS|EMD|EMK|EMO|EWI|ENE|COC|ENT|WDG|ENF|ENH|EBB|ENU|EPL|ECN|ERF|ERI|ERC|ERZ|EBJ|ZBB|ESC|ESM|EPR|SON|EQS|YPF|EUG|EUE|EVV|EXT|EWE|EXM|VDB|FIE|FAI|LYP|FAJ|FKQ|FAV|RVA|FAR|FAO|FAE|FAY|FYV|XNA|FRE|FEG|FEN|FEZ|WFI|FSC|FZO|XFW|FIZ|FLG|FLF|YFO|FNT|FLO|FLR|COC|COD|FLA|FRS|FLW|FLN|FRO|FOG|ZFD|FDE|FMA|YFA|YPY|COD|CWA|FTU|FDF|FOD|YAG|YGH|YFH|FLL|TBN|YMM|RSW|YYE|YER|YFS|FSM|YSM|YXJ|CWA|FWA|DFW|FOR|FRC|MVB|FRW|FRA|HHN|FKL|ZBJ|YFC|XFC|FPO|FNA|FAT|FDH|DFW|FUJ|FUK|FKS|FUN|FNC|FTA|FUT|FUG|FOC|GBE|GAF|GGN|GNV|GPS|GEV|GUP|GWY|GAX|GMB|GAN|YQX|KAG|GHE|GAR|GRL|GCK|ELH|GPN|ELH|GYY|XDD|YGP|ELQ|ZGU|GAU|GZA|GZT|GDN|GEB|GDZ|EGN|GES|GVA|GOA|GRJ|GGT|GEO|XHM|GET|GRO|ZGS|LTD|GHA|GHT|GIB|GIL|YGX|GCC|YGB|GIS|GIZ|GZO|YHK|FNL|GLT|GGW|GLA|PIK|GLI|XZC|GDV|GOI|GOB|GGS|GDE|YGO|ZGI|GYN|OOL|GLF|GOQ|GLV|GOE|GDQ|GNU|YYR|GOR|GKA|GTO|GOT|GSE|GBL|GUD|FNL|GVR|GHB|OYA|GZM|GRW|GFN|GRX|GCN|JGC|GCM|GFK|GRI|GJT|GPZ|GRR|GDT|YQU|KGX|GRZ|GTF|GRB|FUE|GLH|FUE|PGV|GNB|GFF|XGY|GRY|YGZ|JGR|GRQ|GTE|GGG|GDL|GUM|GJA|GGG|CAN|GAO|GUA|GYE|GYA|GYM|XIA|GCI|GUB|KWL|GUI|GGG|ULU|KWE|GUC|KUV|URY|GST|GWD|GWL|KWJ|KVD|LWN|HPA|HAC|HGR|HFS|HFA|HAK|HAS|HLD|GON|HNS|DIN|HKD|ZHQ|XDG|YHZ|YUX|HCQ|HAD|HAM|LBC|GON|HLZ|YHM|HTI|HFT|GOV|HNM|PAK|CMX|HGH|HAQ|HPH|HAJ|GOV|HZG|HRE|HRB|HGA|HRL|MDT|HRO|EVE|GPT|HME|HAA|HDY|HTR|HAU|HAV|HAE|HVR|YGV|YHY|HDN|HIS|HYS|HKB|HFE|HDB|HLN|HGL|HEL|GPT|HAN|HER|HDF|HMV|HMO|XAK|XDU|HVB|GSO|HKY|YOJ|GSO|ITO|HHH|HIJ|HIW|HIT|HEH|HBA|HBB|HOD|HDS|HOQ|HOF|HET|HKK|HOG|HYL|YHI|HCR|HOM|HKG|HIR|HVG|HNL|HOK|MKK|HNH|HPB|YHO|HID|HFN|HOR|HKN|HOT|HTN|HOE|HUQ|HOU|IAH|ZHO|HUH|HUN|HHQ|HUU|HYN|HUX|HUV|YHB|SGN|HGD|HUS|HLF|HUY|HTS|HSV|HRG|HON|HSL|HWN|HYA|HYG|HYD|IAS|IBE|IBZ|IDA|IAA|IGG|YGT|IGU|IGR|IHU|ILP|YGR|ILF|IOS|ILI|ILA|ILO|IUL|JAV|IMP|GSP|IMF|IAM|IGA|INX|IDN|IND|IDR|XIB|INN|INA|INL|YPH|YEV|IVC|IVR|INV|IYK|IOA|IOP|IPN|IPI|IPE|IPH|IPA|YFB|IQQ|IQT|IKT|IMT|IWD|IFJ|IFN|ISG|ISB|GSP|ILY|IOM|ISC|TSO|ISP|IST|ITB|ITH|ITK|IVL|IFO|YIK|IWJ|HIB|IZT|ADB|IZO|JAT|JCR|JAN|MKL|JAC|JAX|OAJ|JAG|JAQ|JAI|CGK|JAL|UIT|DJB|JHW|JMS|JGA|JKR|JVL|JQE|XDH|DJJ|JED|JEJ|CJU|XRY|JER|JSR|JMU|JGN|GJL|JIJ|JIM|TNA|JDZ|JHG|JIN|JJN|HIN|BCO|JNZ|JPR|JIW|JPA|JDH|JOE|JNB|HIB|IPL|JON|JST|JHB|JOI|XJL|IXJ|JMO|JBR|JKG|XJQ|JLN|JRH|JSM|AJF|JDO|JUI|JDF|JUJ|JCK|JUL|JNU|JUZ|JYV|KDM|KBT|ABK|KBL|KBM|KCF|KDO|KCM|IPL|KZF|KAT|KAJ|KAE|KNK|AZO|LUP|KAX|KGD|KLG|KAL|KBX|KAC|YKA|MUE|KCD|KUY|XGR|YWB|YKG|KAN|MCI|JHM|YYU|KHI|KDL|KAB|FKB|AOK|KBF|KXA|ZKB|XKS|KAA|BBK|ZKE|KUK|KTR|KTM|KTW|LEB|KUN|KVA|KVG|KAW|ASR|KZN|EAR|EEN|KEW|EFL|ZKG|YLW|ENA|KDI|YQK|CFU|KTN|EYW|QKS|HJR|UVL|HRK|LBD|KDD|IAN|IEV|KBP|KGL|TKQ|LEB|JRO|ILE|LEB|KVC|AKN|KIF|IGM|LED|KIN|KTP|XEG|YGK|FIH|KPN|IRA|IRK|KTD|YKF|KTT|UNG|KVL|KWY|LMT|KLW|YKT|NOC|TYS|OBU|KCZ|ADQ|USM|QJY|KXK|KOA|KKH|KYA|ROR|OSZ|KBR|BKI|KOT|OTZ|KWM|KYU|CCJ|KBV|KRK|KWG|KUL|TGG|KUA|KUG|KCH|KUD|AKF|YBB|YCO|KUS|UEO|CMU|KUO|KUQ|KUH|KUT|YVP|YGW|KAO|KWI|KWA|KWT|KWK|KYZ|LCE|LCG|LSE|YGL|PLP|LAP|LPB|IRJ|LRM|YVC|LSC|ZLT|YLQ|EUN|LBS|LAB|LBU|LBJ|XLB|XEE|YLE|XEH|LAE|LML|LAF|LFT|LAJ|LGQ|ING|LOS|LDU|LHE|LCH|HII|LMA|LKB|LKL|LLI|LPM|LNB|SUF|LIH|LMP|LAU|LNY|LNS|LEQ|XEJ|LUV|LGK|LAI|YLH|LAN|ACE|LHW|ZGC|LAO|LPP|LAR|LKA|LRD|LCA|LRH|LPA|LSP|LAS|LTK|LBE|LUC|LST|PIB|LVO|LWY|LAW|LEH|ZLN|LPY|LTQ|YLR|LEA|LBA|LGP|IXL|LER|LEJ|LKN|LXS|LPI|LNO|YQL|LET|KLL|LWB|LWS|LWT|LEX|LXA|LYG|LBL|LIR|LBV|VXC|LGG|LIF|LHG|LNV|MAF|LJG|LIK|LIL|XDB|LLW|LIM|LMN|LIG|LNK|LDC|LDI|MAF|LYI|LNZ|LIS|LSY|LIT|LZH|LPL|LVI|LZR|HUI|YLL|IRG|LOF|LOH|LFW|BQH|LCY|LGW|LHR|LON|LTN|STN|XDQ|YXU|LDY|QQP|LDB|LPU|LBP|LBW|LGB|HAP|LGL|ODN|LOD|LRE|MBS|LYR|LNE|LPS|LDH|LTO|LRT|LAX|MBS|LMM|LSA|SDF|LDE|MBS|MFE|LZC|LAD|LXG|LPQ|LBB|LKO|LUD|LUG|VSG|LUA|LLA|FBM|LYA|LUN|YSG|LUW|LUX|LUM|LXR|LZO|LWO|LYC|LYS|XYD|MST|UBB|MCP|XMS|MFM|MCZ|MCH|MKY|MCN|MAG|MED|MSN|MDJ|MAD|IXM|HGN|MAQ|MWF|MFA|GDX|MQF|VVB|SEZ|MXT|MMO|MJE|MJN|MAJ|MQX|MCX|MKU|MZG|SSG|MKZ|AGP|MAK|LGS|MLX|MLE|MYD|MMX|MAV|PTF|MLA|WMP|MNF|MDC|MGA|WVK|WMR|NGX|MNJ|MAO|MAN|MHT|MDL|WMA|MGS|IXE|MAY|MNR|MFO|MHK|XMH|MHX|MNL|MNG|MBL|MZL|MJA|MKT|MLY|MHG|KMO|MKW|MSE|MEC|MAS|MZO|ZLO|MTS|AMO|MXS|MPM|MDQ|MRE|MAB|MAR|MYC|MEE|MGH|MBX|MHQ|JSU|MII|MGF|MWA|MPW|WMN|MVR|MQT|MRS|MHH|MLL|MVY|MFE|MUR|MBH|YMH|MBT|MSU|MHD|MCW|MSS|MAM|AMI|MMJ|MYJ|MUN|MRY|MUK|MNU|MOF|MUB|MAU|MRU|XID|MYG|MAZ|MZT|MDK|MJM|MRY|MCV|MCK|MCG|MES|EOH|MDE|MFR|YXH|MKR|MEH|MXZ|MJB|MKS|MYU|MEL|MLB|MLN|XEK|MMB|MEM|MDU|NDM|MDZ|MAH|MYX|MKQ|MWE|MCE|RDE|MID|MRD|MEI|MIM|MUH|MTM|ETZ|MXL|MEX|WMK|MFU|MIA|MPB|ZVA|MDS|MSL|MSL|MDY|MIK|JMK|BGY|LIN|MXP|MSL|MQL|MLS|MIJ|MGT|MKE|MMD|MTT|MDP|MRV|MSP|MOT|MHP|MSQ|MNT|XEY|MYY|MJZ|MSJ|MIS|OGG|MSO|MRA|MOI|MYE|MMY|MTF|MQN|MOA|CNY|MFJ|ONI|MFF|MNB|MOB|MOD|MGQ|MJD|MPK|OKU|MOL|MLI|MBA|MIR|MBE|LOV|XDP|YQM|MJK|MNY|MLU|ROB|YYY|MCM|MEU|MBJ|OXR|MTR|MTY|MOC|MVD|MGM|MPL|XAX|XLM|YMQ|YMX|YMY|YUL|MTJ|MNI|MOZ|YMO|MZI|MXX|TVA|MXM|MOV|MRZ|MLM|MGW|HNA|ONG|MXH|MOQ|HAH|MYA|BKA|DME|MOW|SVO|VKO|MWH|MJF|OMO|MTV|MJL|MON|MGB|HGU|MHU|ISA|WME|MMG|MPN|WMH|MOU|MPA|MYW|MVS|MDG|DGE|FMO|MKM|MLH|LII|MUX|MZV|OXR|MUA|MUC|MJV|MMK|MYI|MSR|MCT|PHF|MKG|MSA|MUZ|MFG|MWZ|MGZ|MYT|MYR|MJT|ZZU|NBX|MNC|NDR|NAN|NYM|WNP|NGS|NGO|NAG|YDP|NBO|WIL|NAJ|NAK|NST|YQN|NAL|NMA|ATN|NDK|APL|OSY|NDI|NNT|YCD|ZNA|NAO|YSR|NKG|NNG|JNN|NTE|QJZ|NTG|ACK|NNY|NYK|WNA|XIF|PKA|NPE|APF|NAP|NAW|NAA|JNS|UAK|NVK|NNM|BNA|NAS|PHF|MAT|NAT|YNA|NKI|INU|NVT|WNS|NUX|NDJ|NLA|CNP|NFG|EGL|NEG|NVA|EAM|NSN|NLG|NLP|EMN|YNS|NER|NQN|NEV|XEL|NCN|HVN|KGK|PHF|MSY|NPL|XEM|KNW|JFK|LGA|NYC|EWR|PID|BEO|NCL|NTL|ZNE|PID|NQY|WWT|NGE|NGI|RPM|LJU|XLV|NIM|NCE|NIC|NME|NIB|IKO|FNI|NGB|NIX|NFO|NTT|IUE|NJC|GOJ|WTK|NOJ|OME|NNL|ORV|PIE|NRD|NDZ|OFK|ORF|NLK|NSK|YVQ|NTN|NRK|NUS|YYB|OTH|NCA|NHA|LBF|NRL|YNO|ORT|YNE|NWI|NOB|NOS|EMA|NDB|NKC|GEA|NOU|NVR|NOZ|OVB|GER|NLD|NUI|NHV|TBU|NCU|NUL|NUB|NUP|NNX|NUE|ZAQ|GOH|UYL|NYU|NYN|OAK|OAX|OBD|OBO|OCJ|ZBQ|PMF|ODS|OGS|YOG|OHD|OIT|OKQ|OKJ|OHO|OKA|OKC|OIR|OKL|OLB|YOC|OLJ|OLP|OMA|OMB|OMS|OND|ONT|YBS|OMR|ORN|OAG|PMF|OMD|ORB|REN|MCO|ORL|ORW|OER|OSW|HOV|ITM|KIX|OSA|YOO|OIM|OSH|OSI|OSK|OSL|TRF|OSD|OSR|XDS|YOW|OTM|OTU|OUA|OGX|OZZ|ODY|OUD|OUL|UVE|VDA|OWB|YOH|POS|OYE|PBJ|JFR|PDG|PAD|PAH|PGA|PPG|PKZ|YIF|PAF|PCH|PKY|PLQ|PLM|PQM|PMO|PSP|PMI|PMZ|PMW|PMR|PLW|PNA|PAC|PFN|PTY|PKN|PGK|YXP|PJG|PNL|PPW|PPT|PFO|PAJ|PBO|POS|ORG|PBM|PRA|PRS|XFE|BVA|CDG|ORY|PAR|PKB|XPB|PHB|PBH|PSC|PSI|AOL|PFB|PSO|PAT|GPA|PUF|YPC|PWQ|YPE|YPO|PEX|PDB|PKU|PEC|PLN|PET|PMA|POL|YTA|PEN|PDT|PYE|PNS|YYF|PZE|PIA|XFG|PEI|PGX|PMQ|PEE|PGF|KPV|PER|PEG|PSR|PEW|PSG|PNZ|PKC|PES|PHW|PHL|PSA|PHS|PNH|PHX|PRH|SFB|HKT|YPL|PIX|PDS|PIR|PZB|PTG|YPM|PIP|UGB|PQS|PIF|PSA|PIT|THU|PIU|PLJ|PTU|PLB|PQC|PBZ|PLH|PIH|TGD|PNI|KPB|PHO|PIZ|PNR|PTP|XPX|YNL|PIS|XOP|PKR|PLV|PYJ|PNC|PSE|YIO|PDL|PMG|PNK|YHP|PNP|TAT|PBD|POR|PMV|YPB|PTA|CLM|POT|QWF|PAP|PUG|WPB|IXZ|KPC|PLZ|POG|PHC|YZT|PHE|PTH|YHA|PLO|PQQ|YPN|PML|POM|QWF|PPV|PSY|PZU|VLI|PCA|PDX|PTJ|PWM|OPO|POA|PXO|BPS|PVH|PVO|PSM|PSS|YSO|POU|YPX|YPW|PAZ|POZ|PRG|RAI|PXU|PRC|XII|PPB|PQI|PVK|YPA|XDV|YXS|XDW|YPR|RDU|PRN|PPP|PVD|PLS|PVC|PCL|PBC|PUB|PYH|PBE|RDU|PUD|PXM|PJM|PEU|PMY|PEM|PMC|PZO|POP|PPS|PSZ|PVR|XPK|PUY|PUW|PNQ|PUQ|PUJ|PDP|PND|PBP|PUT|PSU|FNJ|AQI|JJU|IQM|YVM|TAO|NDG|XQU|YQC|XFY|XLJ|XLK|YFZ|YQB|ZQN|UEL|XQP|QRO|YQZ|UET|PRQ|UIB|UIP|UIN|KWN|ULP|UIO|RBP|RBA|RAB|RDU|RAT|YRA|RAH|RJN|RFP|YOP|RAJ|RJH|SJD|RBV|RAM|RMP|IXR|YRT|UNN|RAP|RAR|RKT|RAS|RBE|RAZ|RDG|RBJ|REC|RCQ|RDV|YRL|YRS|RDD|RDM|REG|YQR|RNL|RNS|RNO|YUT|RES|YRB|REU|KEF|REX|RHI|RHO|RAO|RIB|RCB|RCM|RIC|RIX|YRG|RJK|RMI|YXK|RBR|RCU|GIG|RGL|RGA|RIG|ROY|RVD|RCH|RIS|RIW|XRP|RUH|RIY|RNE|ROA|RTB|YRJ|SJD|RCE|ROC|RST|RSD|RKS|ZRF|ZRK|ROK|RKD|RDZ|RRG|RVK|ZXM|RMA|CIA|FCO|ROM|RNP|RNB|RRS|RUR|ROS|RSJ|RPN|RET|RLG|ROV|ROW|ROP|ROT|RTM|URO|ZRJ|SNA|RVN|RBY|RSH|RUT|SZT|QFZ|ZPB|YSY|XKV|SMF|SNA|STC|STT|SGU|STG|XIM|YSJ|YYT|YSL|STL|SLU|SXM|KSM|SMK|SNP|UIH|STX|LTT|XPZ|SPN|SNO|SLY|SLE|SLN|SBY|YZG|SLX|SLC|SLW|SSA|SZG|EPS|KUF|SVB|UAS|SMI|ADZ|SJT|SAT|SVZ|OES|BRC|SAN|SFO|SJC|SJO|SYQ|SJU|UAQ|ULA|LUQ|SBP|SLP|SAI|CPC|NMG|SAP|AFA|SAL|ZSA|EAS|SAH|SDP|NDY|ZSJ|YSK|NNB|VKG|SBA|VKG|VVI|SPC|SAF|RIA|SMA|SMX|SMR|RSA|STS|STM|SMS|SCL|STI|GEL|NTO|HEX|SDQ|STD|SYX|SNE|CGH|GRU|VCP|TMS|VXE|CTS|OKD|SSR|SLK|SRQ|RTW|ZRM|XDX|YZR|YXE|SUJ|SWG|SLZ|CIU|YAM|SXK|SAV|ZVK|SVL|SVA|SVU|ZBY|SCM|YKL|BFF|SDL|SUN|LKE|SEA|EGM|GXF|WLK|QFK|SRG|ZEG|XFK|GMP|ICN|SEL|YZV|ZRI|SZM|SVQ|SWD|SHX|SKK|ZTM|PVG|SNN|SWA|SSH|XFL|XFM|SUN|SZD|SXP|SZX|SHR|LSI|LWK|HIL|CIT|SYZ|SHH|SYO|SHV|SHG|JHQ|REP|IXS|SVC|SYM|NKD|SIN|XSP|SQG|SUX|FSD|YXL|JHS|SIT|AKY|VAS|SGY|JSI|SKP|KVB|SZK|SLQ|SXL|YSH|YYD|YFJ|DWB|AER|SOO|SOF|SOG|SOC|STB|SOJ|SOD|TZN|SBN|XSC|SOU|XSI|SOI|WSN|SOP|SWF|SPU|GEG|AXP|SGF|SPI|SXR|SQH|YAY|YCM|RUN|SKB|YFX|SWF|XIO|PIE|TRI|FSP|SVD|STX|EBU|TRI|EUX|TRI|SCE|SHD|SVG|STW|YST|SBS|WBB|SML|YJT|TTN|SVS|TTN|ARN|BMA|STO|SCK|YSF|SRV|SYY|SQO|SXB|XER|XTY|SOY|TNX|STR|ZWS|VAO|SRE|XDY|YSB|SYU|SUL|THS|SUR|NTY|UUA|MCY|SUB|URT|SUV|EVG|SVJ|ZJN|SYD|YQY|ZYL|SYR|SZZ|TCP|TBJ|TBT|TBO|TBZ|TBG|TUU|TCG|THL|TAC|TCQ|XTL|TXG|TIF|TNN|TPE|TSA|TTT|TYN|TAI|TCT|TKA|TLH|TLL|YYH|TMR|TNO|TMM|WTA|TMC|TMU|TPA|TMP|TAM|TMW|TMH|TAL|TNG|TJQ|TJS|TAH|TSM|TAP|TRK|TRA|TAR|TPP|TRW|TRO|TIZ|TJA|TAS|YTQ|TEK|TUO|TRG|TVU|TWU|TEE|TBS|TCH|TEU|MME|TFF|TGU|THR|TKB|TLV|KTS|TEX|TIM|TXM|ZCO|TKE|TFN|TFS|TCA|TPQ|TER|THE|TMJ|TTE|YXT|HUF|TDB|TET|ZTB|TEH|TTU|TXK|TEZ|SNW|THG|XTG|TBI|XDZ|YQD|SKG|YTD|TVF|JTR|TRV|YTH|KTB|THO|YQT|TIS|TSN|TID|TGJ|TIJ|TIH|IKS|TIU|TMX|YTS|TSR|TNC|TIN|TIQ|TIY|TOD|TIE|TIA|TRE|TGM|TRZ|TIR|TIV|TLM|TAB|TOB|YAZ|TOG|TKJ|OOK|TKN|TKS|HND|NRT|TYO|TOL|TOW|TLC|TPR|TMG|TOM|TOF|TGO|TGH|TWB|FOE|XLQ|YBZ|YTZ|YYZ|TRC|TOH|TYF|TOV|TTB|TTQ|TTJ|TOU|TLN|TLS|TUF|XSH|TSV|TOY|TOE|TZX|TST|TPS|TGN|TVC|TCB|REL|UUA|TRS|GND|TDD|TIP|THN|TMT|TOS|TRD|TJI|TRU|TKK|XLZ|TTS|WTS|TSB|TSJ|TUB|TUS|TUC|TUV|TUR|TFI|TUG|YUB|TUA|ANU|ZFN|TUL|TLT|TUJ|TCO|TBP|TUN|WTL|TNK|TXN|TUP|TUI|TUK|TRN|TKU|TCL|TGZ|TWF|TWA|TYR|TJM|UBJ|UBA|UDI|UBP|UDR|UTH|UFA|UJE|UPG|UCT|ULN|HLH|UUD|ULB|ULY|ULI|USN|ULD|UME|YUD|UTT|UNK|JUV|UTN|URJ|URA|YBE|UVF|UGC|OMH|URU|UPN|URG|URC|USL|USH|USK|UIK|UKK|UTP|UCA|UII|UTK|UTO|UMD|UDJ|VPS|VAA|BDQ|VDS|EGE|QBF|VDZ|ZAL|YVO|VLD|VLC|VLN|XVS|VLV|VLS|VLL|VUP|VPS|VDE|VAN|CXH|XEA|YVR|VAI|VBV|VRA|VNS|VAW|VAG|VRK|VAR|VST|VAT|VAV|VXO|VEE|TSF|VCE|YIV|VER|VEL|VRN|VEY|VCT|YWH|YYJ|VFA|VCD|VDM|VIE|VTE|VQS|VGO|VNX|VHM|BVH|VLG|VME|VSA|VNO|ZSE|VIJ|VIS|VBY|VTZ|VTB|VIT|VDC|VIV|OGZ|VVO|VOH|VLK|VOG|VPN|VKT|VOZ|YWK|ACT|WAE|WHF|WET|WGA|WBA|WGP|AIN|WKJ|WLH|WAA|WGE|ALW|WLS|WVB|WMX|WKA|WAG|AGE|AGL|WXN|WAW|DCA|IAD|WAS|WSR|YKQ|WSU|KWF|WAT|ALO|ART|ATY|XWA|WUG|WUU|YIV|YWP|WED|EJH|WEH|WEI|WLG|YNC|EAT|WNZ|PBI|WYS|HPN|GWT|WST|WSZ|WRY|WSX|WWK|XFQ|WHK|YXN|WWP|WRE|WMO|YLC|YWR|YXY|WYA|ICT|SPS|WIC|WVN|YLC|YWM|YWL|YUY|IPT|ISN|ILM|WUN|WNR|XEC|YQG|YUY|XEF|YWG|WIN|WJA|ZWL|WOT|WJU|XIP|ORH|WRL|WTO|WTE|WRG|WRO|WUD|WUH|WNN|WUS|WYN|XWY|XIY|XMN|XFN|XIC|XKH|XIL|XNN|XUZ|YKM|YAK|YKS|KYX|XMY|GAJ|ENY|YNB|YNZ|XYA|RGN|YNJ|YNT|YAO|YAP|YQI|IAR|AZD|EYL|YZF|ZIH|RSU|EVN|YBP|YIH|INC|YIN|YIW|JOG|YGJ|OGN|ZAC|OKR|RNJ|YNG|UYN|YUM|UUS|ZAD|ZAG|ZAH|ZTH|ZAM|ZNZ|OZH|ZAZ|ZHA|ZAT|CGO|PZH|HSN|ZUH|IEG|ZIH|OUZ|UGU|ZRH|DMK|IKA|GYD|WDH|HLP|KLO|STT|SZB|TLE|ALA|HLA|IPC|VII|SAW|SHA|RAK|KNO|PGD|BLQ|AZA|KOE'

Let's first make a dictionary that we will use in the functions to help us map `city_id` to airports.

In [97]:
AIRPORT_CODE_ID_DICT = dict(zip(airports['Code'], airports ['city_id']))

We mark the `<Column>Match` column to `'exact-code'` and set `<Column>AirportCode` to be `Origin`, in all caps.

In [98]:
def find_exact_code_match(data, column, all_codes_regex, show_changes='True'):
    """Searches for exact matches of airport code and marks `Match` column."""
    global UNMATCHED_ORIGIN_INDEX
    global UNMATCHED_DESTINATION_INDEX
    
    unmatched_index = UNMATCHED_ORIGIN_INDEX if column == 'Origin' else UNMATCHED_DESTINATION_INDEX
    airport_code_exact_index = data.loc[unmatched_index].index[data.loc[unmatched_index][column].str.fullmatch(all_codes_regex, case=False)]
    print("Number of exact airport code matches in " + column + ":", len(airport_code_exact_index))

    # Remove UNMATCHED index
    if column == 'Origin':
        UNMATCHED_ORIGIN_INDEX = UNMATCHED_ORIGIN_INDEX.drop(airport_code_exact_index, errors='ignore')
    elif column == 'Destination':
        UNMATCHED_DESTINATION_INDEX = UNMATCHED_DESTINATION_INDEX.drop(airport_code_exact_index, errors='ignore')

    data.loc[airport_code_exact_index, column + 'AirportCode'] = data.loc[airport_code_exact_index, column].str.upper()
    data.loc[airport_code_exact_index, column + 'Match'] = 'exact-code'

    # Fill in the OriginCityId for these code matches
    global AIRPORT_CODE_ID_DICT
    data.loc[airport_code_exact_index, column + 'CityId'] = data.loc[airport_code_exact_index, column + 'AirportCode'].map(AIRPORT_CODE_ID_DICT, na_action='ignore')

    if show_changes:
        display(data.loc[airport_code_exact_index, [column, column + 'AirportCode', column + 'CityId', column + 'Match']])

In [99]:
find_exact_code_match(df_with_origin_airport, 'Origin', all_codes_regex)

Number of exact airport code matches in Origin: 16665

       Origin OriginAirportCode  OriginCityId OriginMatch
29        LJU               LJU        1711.0  exact-code
30        LJU               LJU        1711.0  exact-code
31        LJU               LJU        1711.0  exact-code
32        CDG               CDG        2338.0  exact-code
33        MUC               MUC        2057.0  exact-code
...       ...               ...           ...         ...
129147    CRL               CRL         462.0  exact-code
129150    LTN               LTN        1717.0  exact-code
129152    BUD               BUD         466.0  exact-code
129175    TLV               TLV        2994.0  exact-code
129177    VNO               VNO        3246.0  exact-code

[16665 rows x 4 columns]

In [100]:
find_exact_code_match(df_with_origin_airport, 'Destination', all_codes_regex)

Number of exact airport code matches in Destination: 16528

       Destination DestinationAirportCode  DestinationCityId DestinationMatch
29             VIE                    VIE             3236.0       exact-code
30             VIE                    VIE             3236.0       exact-code
31             CPH                    CPH              699.0       exact-code
32             LJU                    LJU             1711.0       exact-code
33             LJU                    LJU             1711.0       exact-code
...            ...                    ...                ...              ...
129147         BUD                    BUD              466.0       exact-code
129150         BUD                    BUD              466.0       exact-code
129152         CLJ                    CLJ              657.0       exact-code
129175         SOF                    SOF             2850.0       exact-code
129177         TLV                    TLV             2994.0       exact-code

[16528 rows x 4 columns]

### Search for partial matches of airport code and mark `Match` column

In [101]:
def find_partial_code_match(data, column, all_codes_regex, show_changes='True'):
    # Index of entries that have a partial match with an airport code
    global UNMATCHED_ORIGIN_INDEX
    global UNMATCHED_DESTINATION_INDEX

    unmatched_index = UNMATCHED_ORIGIN_INDEX if column == 'Origin' else UNMATCHED_DESTINATION_INDEX
    airport_code_partial_index = data.loc[unmatched_index].index[
        (data.loc[unmatched_index][column].str.contains(all_codes_regex))
        ]
    print("Number of partial airport code matches in " + column + ":", len(airport_code_partial_index))

    # This makes a list of all codes that partially matched with column entries
    airport_code_list_list = data.loc[airport_code_partial_index, column].str.findall(all_codes_regex).drop_duplicates().to_list()
    airport_code_list = [code[0] for code in airport_code_list_list if len(code) == 1]

    for code in airport_code_list:
        matching_index = data.loc[airport_code_partial_index, column][data.loc[airport_code_partial_index, column].str.contains(code)].index
        data.loc[matching_index, column + 'AirportCode'] = code
        data.loc[matching_index, column + 'Match'] = 'partial-code'

        # Remove from UNMATCHED index
        if column == 'Origin':
            UNMATCHED_ORIGIN_INDEX = UNMATCHED_ORIGIN_INDEX.drop(matching_index, errors='ignore')
        elif column == 'Destination':
            UNMATCHED_DESTINATION_INDEX = UNMATCHED_DESTINATION_INDEX.drop(matching_index, errors='ignore')

        # Fill in the OriginCityId for these code matches
        global AIRPORT_CODE_ID_DICT
        data.loc[matching_index, column + 'CityId'] = data.loc[matching_index, column + 'AirportCode'].map(AIRPORT_CODE_ID_DICT, na_action='ignore')

    if show_changes:
        display(data.loc[airport_code_partial_index, [column, column + 'AirportCode', column + 'CityId', column + 'Match']])

In [102]:
find_partial_code_match(df_with_origin_airport, 'Origin', all_codes_regex)

Number of partial airport code matches in Origin: 561

              Origin OriginAirportCode  OriginCityId   OriginMatch
216     New York JFK               JFK        2155.0  partial-code
684       Moscow SVO               SVO        2028.0  partial-code
1276    New York JFK               JFK        2155.0  partial-code
1280      Berlin TXL               TXL         341.0  partial-code
1311    New York JFK               JFK        2155.0  partial-code
...              ...               ...           ...           ...
127873  Berlin (SXF)               SXF         341.0  partial-code
127878     Paris CDG               CDG        2338.0  partial-code
127886     Paris CDG               CDG        2338.0  partial-code
127918     Paris CDG               CDG        2338.0  partial-code
127995     Paris CDG               CDG        2338.0  partial-code

[561 rows x 4 columns]

In [103]:
find_partial_code_match(df_with_origin_airport, 'Destination', all_codes_regex)

Number of partial airport code matches in Destination: 598

,Destination,DestinationAirportCode,DestinationCityId,DestinationMatch
684,Paris CDG,CDG,2338.0,partial-code
823,New York JFK,JFK,2155.0,partial-code
906,New York JFK,JFK,2155.0,partial-code
990,New York JFK,JFK,2155.0,partial-code
1052,New York JFK,JFK,2155.0,partial-code
...,...,...,...,...
127519,Paris CDG,CDG,2338.0,partial-code
127686,New York JFK,JFK,2155.0,partial-code
127692,Paris CDG,CDG,2338.0,partial-code
127722,Paris CDG,CDG,2338.0,partial-code
128938,Paris BVA,BVA,2338.0,partial-code

### Search for exact matches of airport names and mark `Match` column

In [104]:
airports[airports['Name'].notna()]['Name'].drop_duplicates()

2                                      Tirstrup
77      Alicante–Elche Miguel Hernandez Airport
104                         Civil/Marka Airport
105                    Queen Alia International
120                                       Marce
                         ...
3589            Kualanamu International Airport
3590                        Punta Gorda Airport
3591          Bologna Guglielmo Marconi Airport
3592               Phoenix-Mesa Gateway Airport
3593                            El Tari Airport
Name: Name, Length: 244, dtype: object

In [105]:
all_airport_names_regex = "|".join(airports[airports['Name'].notna()]['Name'].drop_duplicates())

We fill in the corresponding airport code for each of the exact airport name matches and mark `<Column>Match` as 'exact-airport-name'.

In [106]:
def find_exact_airport_name_match(data, column, all_names_regex, show_changes='True'):
    global UNMATCHED_ORIGIN_INDEX
    global UNMATCHED_DESTINATION_INDEX
    unmatched_index = UNMATCHED_ORIGIN_INDEX if column == 'Origin' else UNMATCHED_DESTINATION_INDEX

    airport_name_exact_index = data.loc[unmatched_index].index[data.loc[unmatched_index][column].str.fullmatch(all_names_regex, case=False)]
    print("Number of exact airport name matches in " + column + ":", len(airport_name_exact_index))

    exact_airport_name_list = data.loc[airport_name_exact_index, column].drop_duplicates().to_list()
    
    for name in exact_airport_name_list:
        # Index of all entries whose name is an exact match of an airport
        matching_index = data.loc[airport_name_exact_index, column][data.loc[airport_name_exact_index, column].str.fullmatch(name, case=False)].index
        
        code = airports.loc[airports['Name'].str.lower() == name.lower()]['Code'].values[0]
        city_id = airports.loc[airports['Name'].str.lower() == name.lower()]['city_id'].values[0]

        data.loc[matching_index, column + 'AirportCode'] = code
        data.loc[matching_index, column + 'CityId'] = city_id
        data.loc[matching_index, column + 'Match'] = 'exact-airport-name'

        # Remove matched indices from UNMATCHED index
        if column == 'Origin':
            UNMATCHED_ORIGIN_INDEX = UNMATCHED_ORIGIN_INDEX.drop(matching_index, errors='ignore')
        elif column == 'Destination':
            UNMATCHED_DESTINATION_INDEX = UNMATCHED_DESTINATION_INDEX.drop(matching_index, errors='ignore')

    if show_changes:
        display(data.loc[airport_name_exact_index, [column, column + 'AirportCode', column + 'CityId', column + 'Match']])

In [107]:
find_exact_airport_name_match(df_with_origin_airport, 'Origin', all_airport_names_regex)

Number of exact airport name matches in Origin: 1548

          Origin OriginAirportCode  OriginCityId         OriginMatch
710      Gatwick               LGW        1717.0  exact-airport-name
758      Gatwick               LGW        1717.0  exact-airport-name
805     Heathrow               LHR        1717.0  exact-airport-name
834      Gatwick               LGW        1717.0  exact-airport-name
898      Gatwick               LGW        1717.0  exact-airport-name
...          ...               ...           ...                 ...
129168     Luton               LTN        1717.0  exact-airport-name
129174     Luton               LTN        1717.0  exact-airport-name
129176     Luton               LTN        1717.0  exact-airport-name
129188     Luton               LTN        1717.0  exact-airport-name
129199     Luton               LTN        1717.0  exact-airport-name

[1548 rows x 4 columns]

In [108]:
find_exact_airport_name_match(df_with_origin_airport, 'Destination', all_airport_names_regex)

Number of exact airport name matches in Destination: 1150

,Destination,DestinationAirportCode,DestinationCityId,DestinationMatch
240,Melville Hall,DOM,822.0,exact-airport-name
711,Gatwick,LGW,1717.0,exact-airport-name
799,Gatwick,LGW,1717.0,exact-airport-name
891,Stansted,STN,1717.0,exact-airport-name
1272,Gatwick,LGW,1717.0,exact-airport-name
...,...,...,...,...
129138,Luton,LTN,1717.0,exact-airport-name
129144,Luton,LTN,1717.0,exact-airport-name
129153,Luton,LTN,1717.0,exact-airport-name
129179,Charleroi,CRL,462.0,exact-airport-name
129198,Luton,LTN,1717.0,exact-airport-name

### Search for partial matches of airport names and mark `Match` column

First let's make a list of shortened airport names to help us search for a partial match.

In [109]:
airport_names_short = airports.loc[airports['Name'].notna(), 'Name'].replace(to_replace = [

    "[ .]?[Aa]irport", " ?[Ii]nterna.?ional[ .]?", "[ .]?[Ii]ntercon.*",
    "[ .]?[Ii]ntl[ .]*", "[ .]?[Ii]nt'?l[ .]*", "[ .,]*[Mm]etro.*[Aa]rea[ .,]*", ".?alls.?"

    ], value = ',', regex=True)

airport_names_short = airport_names_short.str.strip(' =?/,')
airport_names_short.drop(index=airport_names_short.index[airport_names_short == ','], inplace=True)
airport_names_short.drop(index=airport_names_short.index[airport_names_short == ''], inplace=True)
airport_names_short = airport_names_short.drop_duplicates()
#airport_names_short

In [110]:
airport_names_short_regex = "|".join(airport_names_short)
#airport_names_short_regex

We now fill in the corresponding airport code as we did with the exact matches and mark `Match` as 'partial-airport-name'.

In [111]:
def find_partial_airport_name_match(data, column, names_regex, show_changes=True, inplace=True):
    global UNMATCHED_ORIGIN_INDEX
    global UNMATCHED_DESTINATION_INDEX
    unmatched_index = UNMATCHED_ORIGIN_INDEX if column == 'Origin' else UNMATCHED_DESTINATION_INDEX
    
    # Index of entries where column is a partial airport name match
    airport_name_partial_index = data.loc[unmatched_index].index[
        (data.loc[unmatched_index][column].str.contains(names_regex, case=False))
        & (data.loc[unmatched_index][column].str.fullmatch(names_regex, case=False) == False)]
    print("Number of partial airport name matches in " + column + ":", len(airport_name_partial_index))

    # Make a list of airport names that partially matched with entries in column    
    partial_airport_name_list_list = data.loc[airport_name_partial_index, column].str.findall(names_regex).drop_duplicates().to_list()
    partial_airport_name_list = [name[0] for name in partial_airport_name_list_list if len(name) == 1]
    
    for name in partial_airport_name_list:
        # Index of all entries whose column is a partial match of name
        matching_index = data.loc[airport_name_partial_index, column][data.loc[airport_name_partial_index, column].str.contains(name, case=False)].index
        
        # # debug ---
        # print("Current name:", name)
        # print("Data associated with name:")
        # display(airports.loc[airports['Name'].str.contains(name, case=False, na=False)][['Code', 'Name', 'city_id']])
        # # end debug ---

        code = airports.loc[airports['Name'].str.contains(name, case=False, na=False)]['Code'].values[0]
        city_id = airports.loc[airports['Name'].str.contains(name, case=False, na=False)]['city_id'].values[0]
        
        if inplace==False:
            data = data.copy()
        data.loc[matching_index, column + 'AirportCode'] = code
        data.loc[matching_index, column + 'CityId'] = city_id
        data.loc[matching_index, column + 'Match'] = 'partial-airport-name'

        # Remove from UNMATCHED index
        if column == 'Origin':
            UNMATCHED_ORIGIN_INDEX = UNMATCHED_ORIGIN_INDEX.drop(matching_index, errors='ignore')
        elif column == 'Destination':
            UNMATCHED_DESTINATION_INDEX = UNMATCHED_DESTINATION_INDEX.drop(matching_index, errors='ignore')

    if show_changes:
        display(data.loc[airport_name_partial_index, [column, column + 'AirportCode', column + 'CityId', column + 'Match']])

In [112]:
find_partial_airport_name_match(df_with_origin_airport, 'Origin', airport_names_short_regex)

Number of partial airport name matches in Origin: 1308

,Origin,OriginAirportCode,OriginCityId,OriginMatch
732,London Gatwick,LGW,1717.0,partial-airport-name
757,London Heathrow,LHR,1717.0,partial-airport-name
790,London Heathrow,LHR,1717.0,partial-airport-name
820,London Heathrow,LHR,1717.0,partial-airport-name
856,Paris Orly,ORY,2338.0,partial-airport-name
...,...,...,...,...
129164,London Luton,LTN,1717.0,partial-airport-name
129169,London Luton,LTN,1717.0,partial-airport-name
129170,London Luton,LTN,1717.0,partial-airport-name
129183,Brussels Charleroi,CRL,462.0,partial-airport-name
129202,London Luton,LTN,1717.0,partial-airport-name

In [113]:
find_partial_airport_name_match(df_with_origin_airport, 'Destination', airport_names_short_regex)

Number of partial airport name matches in Destination: 1140

,Destination,DestinationAirportCode,DestinationCityId,DestinationMatch
165,Paris Orly,ORY,2338.0,partial-airport-name
826,Paris-Orly,ORY,2338.0,partial-airport-name
828,Paris Orly,ORY,2338.0,partial-airport-name
854,Paris Orly,ORY,2338.0,partial-airport-name
855,Paris Orly,ORY,2338.0,partial-airport-name
...,...,...,...,...
128919,London Luton,LTN,1717.0,partial-airport-name
129007,London Luton,LTN,1717.0,partial-airport-name
129024,London Luton,LTN,1717.0,partial-airport-name
129178,London Luton,LTN,1717.0,partial-airport-name
129180,Frankfurt Hahn,HHN,995.0,partial-airport-name

## Search for matches from the city table

### Make a list of non-ambiguous cities to check against

Some city names appear more than once in our cities table (e.g. London, United Kingdom, and London, Ontario, Canada). We will first deal with the non-ambiguous cities much like we did with airport names and handle the ambiguous cities later.

In [114]:
ambiguous_cities = cities[cities.duplicated(subset=['city'])]['city'].drop_duplicates().to_list()
all_cities = cities['city'].drop_duplicates().to_list()
unambiguous_cities = list(set(all_cities) - set(ambiguous_cities))

In [115]:
print("all cities length:", len(all_cities))
print("ambiguous cities length:", len(ambiguous_cities))
print("unambiguous cities length:", len(unambiguous_cities))

all cities length: 3399
ambiguous cities length: 81
unambiguous cities length: 3318

### Search for exact matches of unambiguous city names and mark `Match` column

In [116]:
# Make a copy of dataset
df_with_origin_city = df_with_origin_airport.copy()

In [117]:
unambiguous_cities_regex = "|".join(unambiguous_cities)
#unambiguous_cities_regex

We set `OriginCityId` to be the corresponding `city_id` in `cities` and mark the `Match` column to `'exact-city'`.

Below takes a minute or two to run.

In [118]:
def find_exact_city_match(data, column, city_regex, show_changes='True'):
    global UNMATCHED_ORIGIN_INDEX
    global UNMATCHED_DESTINATION_INDEX
    unmatched_index = UNMATCHED_ORIGIN_INDEX if column == 'Origin' else UNMATCHED_DESTINATION_INDEX
    
    city_exact_index = data.loc[unmatched_index][data.loc[unmatched_index][column].str.fullmatch(unambiguous_cities_regex, case=False)].index
    print("Number of exact city matches:", len(city_exact_index))

    exact_city_list = data.loc[city_exact_index, column].drop_duplicates().to_list()
    for city in exact_city_list:
        # Index of all entries whose column is an exact match of an unambiguous city
        matching_index = data.loc[city_exact_index, column][data.loc[city_exact_index, column].str.fullmatch(city, case=False)].index
        city_id = cities.loc[cities['city'].str.fullmatch(city, case=False)]['city_id'].values[0]

        data.loc[matching_index, column + 'CityId'] = city_id
        data.loc[matching_index, column + 'Match'] = 'exact-city'

        # Remove from UNMATCHED index
        if column == 'Origin':
            UNMATCHED_ORIGIN_INDEX = UNMATCHED_ORIGIN_INDEX.drop(matching_index, errors='ignore')
        elif column == 'Destination':
            UNMATCHED_DESTINATION_INDEX = UNMATCHED_DESTINATION_INDEX.drop(matching_index, errors='ignore')
    
    if show_changes:
        display(data.loc[city_exact_index, [column, column + 'CityId', column + 'Match']])

In [119]:
find_exact_city_match(df_with_origin_city, 'Origin', unambiguous_cities_regex)

Number of exact city matches: 55621

          Origin  OriginCityId OriginMatch
0         Moroni        2026.0  exact-city
1         Moroni        2026.0  exact-city
2        Anjouan        3433.0  exact-city
7        Cascais        3442.0  exact-city
9        Funchal        1009.0  exact-city
...          ...           ...         ...
129198  Budapest         466.0  exact-city
129200  Budapest         466.0  exact-city
129201      Rome        2643.0  exact-city
129203  Budapest         466.0  exact-city
129204  Budapest         466.0  exact-city

[55621 rows x 3 columns]

In [120]:
find_exact_city_match(df_with_origin_city, 'Destination', unambiguous_cities_regex)

Number of exact city matches: 56571

        Destination  DestinationCityId DestinationMatch
1           Anjouan             3433.0       exact-city
2          Dzaoudzi              855.0       exact-city
6             Olbia             2252.0       exact-city
8           Cascais             3442.0       exact-city
9       Porto Santo             2473.0       exact-city
...             ...                ...              ...
129199       Warsaw             3286.0       exact-city
129201    Bucharest              464.0       exact-city
129202     Budapest              466.0       exact-city
129203     Tel Aviv             2994.0       exact-city
129204        Dubai              834.0       exact-city

[56571 rows x 3 columns]

### Search for partial matches of unambiguous city names and mark `Match` column

First let's make a list of city names that were a partial match to help us search for a partial match.

We set `OriginCityId` to be the corresponding `city_id` in `cities` and mark the `Match` column to `'partial-city'`.

In [121]:
def find_partial_city_match(data, column, city_regex, show_changes='True'):
    global UNMATCHED_ORIGIN_INDEX
    global UNMATCHED_DESTINATION_INDEX
    unmatched_index = UNMATCHED_ORIGIN_INDEX if column == 'Origin' else UNMATCHED_DESTINATION_INDEX

    city_partial_index = data.loc[unmatched_index][
        (data.loc[unmatched_index][column].str.contains(unambiguous_cities_regex, case=False))
        ].index
    print("Number of partial city matches:", len(city_partial_index))

    partial_city_list_list = data.loc[city_partial_index, column].str.findall(unambiguous_cities_regex).drop_duplicates().to_list()
    partial_city_list = [name[0] for name in partial_city_list_list if len(name) == 1]

    for city in partial_city_list:
        # Index of all entries whose column is an partial match of an unambiguous city
        matching_index = data.loc[city_partial_index, column][data.loc[city_partial_index, column].str.contains(city, case=False)].index

        city_ids = cities.loc[cities['city'].str.contains(city, case=False)]['city_id']
        if city_ids.shape[0] == 0:
            continue
        city_id = cities.loc[cities['city'].str.contains(city, case=False)]['city_id'].values[0]

        data.loc[matching_index, column + 'CityId'] = city_id
        data.loc[matching_index, column + 'Match'] = 'partial-city'

        # Remove from UNMATCHED index
        if column == 'Origin':
            UNMATCHED_ORIGIN_INDEX = UNMATCHED_ORIGIN_INDEX.drop(matching_index, errors='ignore')
        elif column == 'Destination':
            UNMATCHED_DESTINATION_INDEX = UNMATCHED_DESTINATION_INDEX.drop(matching_index, errors='ignore')
    
    if show_changes:
        display(data.loc[city_partial_index, [column, column + 'CityId', column + 'Match']])

In [122]:
find_partial_city_match(df_with_origin_city, 'Origin', unambiguous_cities_regex)

Number of partial city matches: 2085

                    Origin  OriginCityId   OriginMatch
6                   Milano        1948.0  partial-city
48              Manchester         601.0  partial-city
101     Ixtapa Zihuatanejo           NaN           NaN
102     Ixtapa-Zihuatanejo           NaN           NaN
128                 Tamale        1806.0  partial-city
...                    ...           ...           ...
128929       Kiev Zhuliany        1507.0  partial-city
128965         Cluj-Napoca         657.0  partial-city
129173         Cluj Napoca         657.0  partial-city
129179         Cluj-Napoca         657.0  partial-city
129196      Paris Beauvais        2338.0  partial-city

[2085 rows x 3 columns]

In [123]:
find_partial_city_match(df_with_origin_city, 'Destination', unambiguous_cities_regex)

Number of partial city matches: 2075

                      Destination  DestinationCityId DestinationMatch
122                        Tamale                NaN              NaN
129                        Tamale                NaN              NaN
180                         Salta                NaN              NaN
182     San Juan Domingo Faustino              209.0     partial-city
195                     Bariloche              266.0     partial-city
...                           ...                ...              ...
128986           Beauvais (Paris)             2338.0     partial-city
128993                Cluj Napoca              657.0     partial-city
129149      Eindhoven (Amsterdam)              106.0     partial-city
129164                Cluj Napoca              657.0     partial-city
129188                    Romanis             1590.0     partial-city

[2075 rows x 3 columns]

There are a few for which it wasn't matched, and we will deal with them later.

In [124]:
# df_with_origin_city.loc[
#     city_partial_index.intersection(df_with_origin_city.index[df_with_origin_city['OriginMatch'].isna()]),
#     'Origin'].drop_duplicates().to_list()

### Search for matches of ambiguous cities

To deal with the ambiguous cities, we look at which ones are the most popular cities in our dataset so far (from the airport information) and assign the most popular one. Right now, only the ones whose `Match` is an airport code is missing the city id, so we fill these in.

In [125]:
ambiguous_cities_regex = "|".join(ambiguous_cities)
#ambiguous_cities_regex
#ambiguous_cities

In [126]:
current_city_counts = pd.concat([
    df_with_origin_city['OriginCityId'],
    df_with_origin_city['DestinationCityId']]).dropna().value_counts().to_dict()
#current_city_counts

In [127]:
city_names_with_counts = pd.DataFrame(zip(cities['city'], cities['city_id'], cities['city_id'].map(current_city_counts)))
city_names_with_counts.rename(columns={0: 'city', 1: 'city_id', 2: 'counts'}, inplace=True)
city_names_with_counts = city_names_with_counts[city_names_with_counts['city'].isin(ambiguous_cities)]
city_names_with_counts

             city  city_id  counts
7        Aberdeen        8     NaN
8        Aberdeen        9    20.0
59         Albany       60     4.0
60         Albany       61     NaN
68     Alexandria       69     1.0
...           ...      ...     ...
3321  White River     3325     NaN
3463       Argyle     3471     9.0
3466   Valparaiso     3474     5.0
3476  Punta Gorda     3484    28.0
3487   Manchester     3495     NaN

[170 rows x 3 columns]

Now we can use this to assign cities to entries where `Origin` matches an ambiguous city.

Let's do exact matches first.

### Search for exact matches of ambiguous cities

In [128]:
ambiguous_city_exact_index = df_with_origin_city.index[df_with_origin_city['Origin'].str.fullmatch(ambiguous_cities_regex, case=False)]
print("Number of exact ambiguous city matches:", len(ambiguous_city_exact_index))

Number of exact ambiguous city matches: 9546

In [129]:
exact_ambiguous_city_list = df_with_origin_city.loc[ambiguous_city_exact_index, 'Origin'].str.lower().drop_duplicates().to_list()
#exact_ambiguous_city_list

We set `OriginCityId` to be the corresponding `city_id` in `cities` and mark the `Match` column to `'exact-city'`.

In [130]:
def find_exact_ambiguous_city(data, column, city_regex, show_changes='True'):
    global UNMATCHED_ORIGIN_INDEX
    global UNMATCHED_DESTINATION_INDEX
    unmatched_index = UNMATCHED_ORIGIN_INDEX if column == 'Origin' else UNMATCHED_DESTINATION_INDEX
    
    ambiguous_city_exact_index = data.loc[unmatched_index].index[data.loc[unmatched_index][column].str.fullmatch(city_regex, case=False)]
    print("Number of exact ambiguous city matches in " + column + ":", len(ambiguous_city_exact_index))

    exact_ambiguous_city_list = data.loc[ambiguous_city_exact_index, column].str.lower().drop_duplicates().to_list()

    for city in exact_ambiguous_city_list:
        # Index of all entries whose column is an exact match of an ambiguous city
        matching_index = data.loc[ambiguous_city_exact_index, column][data.loc[ambiguous_city_exact_index, column].str.fullmatch(city, case=False)].index
        
        max_count_index = city_names_with_counts[city_names_with_counts['city'].str.fullmatch(city, case=False)]['counts'].idxmax()

        # If index of max doesn't exist, go on
        if np.isnan(max_count_index):
            continue

        city_id = city_names_with_counts.loc[max_count_index, 'city_id']

        data.loc[matching_index, column + 'CityId'] = city_id
        data.loc[matching_index, column + 'Match'] = 'exact-city-ambiguous'

        # Remove from UNMATCHED index
        if column == 'Origin':
            UNMATCHED_ORIGIN_INDEX = UNMATCHED_ORIGIN_INDEX.drop(matching_index, errors='ignore')
        elif column == 'Destination':
            UNMATCHED_DESTINATION_INDEX = UNMATCHED_DESTINATION_INDEX.drop(matching_index, errors='ignore')
    
    if show_changes:
        display(data[data[column + 'Match'] =='exact-city-ambiguous'][[column, column + 'CityId', column + 'Match']])
        print("Total matched:", data[data[column + 'Match'] =='exact-city-ambiguous'][[column, column + 'CityId', column + 'Match']].shape[0])

In [131]:
find_exact_ambiguous_city(df_with_origin_city, 'Origin', ambiguous_cities_regex)

Number of exact ambiguous city matches in Origin: 8808

            Origin  OriginCityId           OriginMatch
189       Santiago        2750.0  exact-city-ambiguous
236         London        1717.0  exact-city-ambiguous
253        Rosario        2648.0  exact-city-ambiguous
257         London        1717.0  exact-city-ambiguous
465         London        1717.0  exact-city-ambiguous
...            ...           ...                   ...
129139      London        1717.0  exact-city-ambiguous
129143  Birmingham         374.0  exact-city-ambiguous
129182      London        1717.0  exact-city-ambiguous
129192      London        1717.0  exact-city-ambiguous
129193      London        1717.0  exact-city-ambiguous

[8768 rows x 3 columns]

Total matched: 8768

In [132]:
find_exact_ambiguous_city(df_with_origin_city, 'Destination', ambiguous_cities_regex)

Number of exact ambiguous city matches in Destination: 8534

       Destination  DestinationCityId      DestinationMatch
219         London             1717.0  exact-city-ambiguous
235      Barcelona              263.0  exact-city-ambiguous
490         London             1717.0  exact-city-ambiguous
521         London             1717.0  exact-city-ambiguous
530         London             1717.0  exact-city-ambiguous
...            ...                ...                   ...
129151      London             1717.0  exact-city-ambiguous
129172      London             1717.0  exact-city-ambiguous
129184      London             1717.0  exact-city-ambiguous
129191      London             1717.0  exact-city-ambiguous
129200   Barcelona              263.0  exact-city-ambiguous

[8486 rows x 3 columns]

Total matched: 8486

### Search for partial matches of ambiguous cities

First let's make a list of city names that were a partial match to help us search for a partial match.

In [133]:
def find_partial_ambiguous_city(data, column, city_regex, show_changes='True'):
    global UNMATCHED_ORIGIN_INDEX
    global UNMATCHED_DESTINATION_INDEX
    unmatched_index = UNMATCHED_ORIGIN_INDEX if column == 'Origin' else UNMATCHED_DESTINATION_INDEX

    # Index of entries with partial matches of ambiguous cities
    ambiguous_city_partial_index = data.loc[unmatched_index].index[
        (data.loc[unmatched_index][column].str.fullmatch(city_regex, case=False) == False)
        & (data.loc[unmatched_index][column].str.contains(city_regex, case=False))
        ]
    print("Number of partial ambiguous city matches:", len(ambiguous_city_partial_index))

    # List of ambigous cities found in column
    partial_ambiguous_city_list_list = data.loc[ambiguous_city_partial_index, column].str.findall(city_regex).drop_duplicates().to_list()
    partial_ambiguous_city_list = [name[0] for name in partial_ambiguous_city_list_list if len(name) == 1]

    for city in partial_ambiguous_city_list:
        # Index of all entries whose column is an partial match of an unambiguous city
        matching_index = data.loc[ambiguous_city_partial_index, column][data.loc[ambiguous_city_partial_index, column].str.contains(city, case=False)].index

        max_count_index = city_names_with_counts[city_names_with_counts['city'].str.fullmatch(city, case=False)]['counts'].idxmax()

        if np.isnan(max_count_index) == False:
            city_id = city_names_with_counts.loc[max_count_index, 'city_id']
        else:
            continue

        data.loc[matching_index, column + 'CityId'] = city_id
        data.loc[matching_index, column + 'Match'] = 'partial-city-ambiguous'

        # Remove from UNMATCHED index
        if column == 'Origin':
            UNMATCHED_ORIGIN_INDEX = UNMATCHED_ORIGIN_INDEX.drop(matching_index, errors='ignore')
        elif column == 'Destination':
            UNMATCHED_DESTINATION_INDEX = UNMATCHED_DESTINATION_INDEX.drop(matching_index, errors='ignore')
    
    if show_changes:
        display(data.loc[ambiguous_city_partial_index, [column, column + 'CityId', column + 'Match']])
        print("Number of partial ambiguous city matched:", data[data[column + 'Match'] =='partial-city-ambiguous'].shape[0])
        print("Remaining unmatched:",
            len(ambiguous_city_partial_index) - data[data[column + 'Match'] =='partial-city-ambiguous'].shape[0])

In [134]:
find_partial_ambiguous_city(df_with_origin_city, 'Origin', ambiguous_cities_regex)

Number of partial ambiguous city matches: 151

                       Origin  OriginCityId             OriginMatch
1714            East Midlands           NaN                     NaN
5754        Sydney, Australia        2923.0  partial-city-ambiguous
6890              London (ON)        1717.0  partial-city-ambiguous
7595          Sydney (Canada)        2923.0  partial-city-ambiguous
9221    Albrook (Panama City)        2321.0  partial-city-ambiguous
...                       ...           ...                     ...
121984          Watertown, SD           NaN                     NaN
122669     San Antonio, Texas        2708.0  partial-city-ambiguous
124697            Houston, TX        1264.0  partial-city-ambiguous
125519         Charleston, SC         583.0  partial-city-ambiguous
126290       Portland, Oregon        2468.0  partial-city-ambiguous

[151 rows x 3 columns]

Number of partial ambiguous city matched: 111
Remaining unmatched: 40

In [135]:
find_partial_ambiguous_city(df_with_origin_city, 'Destination', ambiguous_cities_regex)

Number of partial ambiguous city matches: 180

                  Destination  DestinationCityId        DestinationMatch
1075        San Jose del Cabo             2715.0  partial-city-ambiguous
1328            San Jose Cabo             2715.0  partial-city-ambiguous
1605    San Jose (Costa Rica)             2715.0  partial-city-ambiguous
2747            San Jose Cabo             2715.0  partial-city-ambiguous
5753        Sydney, Australia             2923.0  partial-city-ambiguous
...                       ...                ...                     ...
125313          Houston Texas             1264.0  partial-city-ambiguous
125608       Jacksonville, FL             1362.0  partial-city-ambiguous
126400         Burlington, VT              485.0  partial-city-ambiguous
126422             Houston TX             1264.0  partial-city-ambiguous
126531           Portland, ME             2468.0  partial-city-ambiguous

[180 rows x 3 columns]

Number of partial ambiguous city matched: 162
Remaining unmatched: 18

There are a few for which it wasn't matched, and we will deal with them later.

In [136]:
# df_with_origin_city.loc[
#     ambiguous_city_partial_index.intersection(df_with_origin_city.index[df_with_origin_city['OriginMatch'].isna()]),
#     'Origin'].drop_duplicates().to_list()

In [137]:
# # pd.set_option("display.max_rows", None)
# pd.reset_option("display.max_rows")
# # df_with_origin_city[df_with_origin_city['OriginMatch'].isna()]['Origin'].value_counts()

## Deal with misspellings

First, we will do the airport names, then cities. We will also only do those misspellings that appear 7 or more times.

Let's first make a list of all the airport names and city names that we will use while spellchecking and for finding matches later.

In [138]:
# Copied from later
airport_names_short = airports.loc[airports['Name'].notna(), 'Name'].replace(to_replace = [

    "[ .]?[Aa]irport", " ?[Ii]nterna.?ional[ .]?", "[ .]?[Ii]ntercon.*",
    "[ .]?[Ii]ntl[ .]*", "[ .]?[Ii]nt'?l[ .]*", "[ .,]*[Mm]etro.*[Aa]rea[ .,]*", ".?alls.?"

    ], value = ',', regex=True)

airport_names_short = airport_names_short.str.strip(' =?/,')
airport_names_short.drop(index=airport_names_short.index[airport_names_short == ','], inplace=True)

In [139]:
all_cities = cities['city'].drop_duplicates().to_list()
all_airports = airports['Code'].drop_duplicates().to_list()

In [140]:
all_location_names = set(all_cities + airport_names_short.to_list() + all_airports)

We'll also make a list of states/provinces and countries to aid with spell checking.

In [141]:
states_countries = set(cities[cities['state_prov'].notna()]['state_prov'].to_list() + cities[cities['country'].notna()]['country'].to_list())

Let us make a list of all the as yet unmatched names in `Origin` or `Destination` that we will spell check.

In [142]:
unmatched_name_counts = pd.concat([
        df_with_origin_city[(df_with_origin_city['Origin'].isin(all_location_names) == False) & (df_with_origin_city['OriginMatch'].isna())]['Origin'],
        df_with_origin_city[(df_with_origin_city['Destination'].isin(all_location_names) == False) & (df_with_origin_city['DestinationMatch'].isna())]['Destination']
        ]).value_counts()

In [143]:
pd.reset_option("display.max_rows")

### Misspelled airport names

In [144]:
from difflib import get_close_matches

In [145]:
closest_match_dict = {}

In [146]:
def misspelling_dictionary(data, type_to_check, current_dict, unmatched_name_counts, cutoff, min_count=7, mode='print'):
    """
    Returns the closest match of unmatched location names ("typo") in either Origin
    or Destination columns.
    Parameters:
        current_dict (dict) : Current dictionary of misspellings
        data (DataFrame): DataFrame of reviews
        type_to_check (str): Determines what dictionary to use, 'airport' or 'city'
        unmatched_name_counts (Series): series of value_counts() of names that are still unmatched
        cutoff (float): Cutoff for closeness of strings
        min_count (int): Minimum number of times a "typo" must appear to be considered
        mode (str) : 'print' or 'add'
    
    Returns:
        current_dict (dict): After it's been updated
    """
    
    n = 0
    correct_names_list = airport_names_short if type_to_check == 'airport' else all_cities
    for unmatched, count in unmatched_name_counts[unmatched_name_counts >= min_count].items():
        close_match = get_close_matches(unmatched, correct_names_list, n=1, cutoff=cutoff)

        condition = (unmatched not in current_dict) & (len(close_match) == 1) & (unmatched not in states_countries)        
        # Change which list to check against based on parameter
        if type_to_check == 'airport':
            condition = condition  & (unmatched not in all_cities)
        elif type_to_check == 'city':
            condition = condition & (unmatched not in airport_names_short)

        if condition:
            closest_match = close_match[0]
            if mode == 'print':
                n += 1
                num_string = str(n) + "."
                print(num_string, "\'"+ unmatched + "\':", "\'" + closest_match + "\'")
            elif mode == 'add':
                current_dict[unmatched] = closest_match

    return

We're going to use `cutoff` = .6 for the airports.

In [147]:
# misspelling_dictionary(
#     df_with_origin_airport,'airport',
#     closest_match_dict, unmatched_name_counts, 0.6)

In [148]:
misspelling_dictionary(
    df_with_origin_airport, 'airport',
    closest_match_dict, unmatched_name_counts, 0.6, mode='add')

In [149]:
updated_spellings = {
    "Sanford ": "SFB", "Sanford": "SFB", 'London Luton': 'LTN', 'New York JFK' : 'JFK',
    'Ft Myers' : 'Fort Myers', 'Dallas Ft Worth': 'DFW', 'Dallas Fort-Worth': 'DFW',
    'Chicago O’Hare': 'O\'Hare', 'Washington Dulles': 'Dulles', 'Paris Orly': 'Orly',
    'Paris CDG' : 'CDG', 'New York LGA': 'LGA', 'New York LaGuardia': 'LGA', 'Danang' : 'Da Nang',
    'Da nang': 'Da Nang', 'Kauai' : 'Kauai Island', 'Mahe': 'Mahe Island'}

removal_list = [
    "Palma", "Kansas", "Panama", "Changsa", 'Orlando Florida', 'Marrakech',
    'Gran Canaria', 'Hawaii', 'New York City', 'Barbados', 'Dalat', 'Xi\'an', 'Cabo',
    'Vegas', 'Hannover', 'Destin', 'Milano', 'Saigon', 'Caticlan', 'St Thomas', 'Changsha',
    'Sao Paolo', 'Kansas city', 'Coffs Harbour', 'Mahe', 'Douala', 'Mallorca',
    'Málaga', 'Shenyang', 'Xian', 'Dehradun', 'Santa Clara','Málaga','Tahiti','Tianjin',
    'Malé','Sevilla','Nelson','Sal','St Maarten','Nur-Sultan','Zante','Toronto City',
    'Krasnodar','St. Maarten','Easter Island','Saint Martin','Basra' ]

In [150]:
def update_dict(current_dict, updated_spellings, removal_list):
    """Updates dictionary with new spellings."""
    current_dict.update(updated_spellings)

    for incorrect in removal_list:
        if incorrect in current_dict:
            del current_dict[incorrect]

In [151]:
update_dict(closest_match_dict, updated_spellings, removal_list)
closest_match_dict

{'LaGuardia': 'La Guardia',
 'Ft Myers': 'Fort Myers',
 'Sanford': 'SFB',
 'Kauai': 'Kauai Island',
 'Madeira': 'Mandelieu',
 'Stewart': 'New York Stewart',
 'Northwest Arkansas': 'Northwest Arkansas Regional',
 'Laguardia': 'La Guardia',
 'Sanford ': 'SFB',
 'London Luton': 'LTN',
 'New York JFK': 'JFK',
 'Dallas Ft Worth': 'DFW',
 'Dallas Fort-Worth': 'DFW',
 'Chicago O’Hare': "O'Hare",
 'Washington Dulles': 'Dulles',
 'Paris Orly': 'Orly',
 'Paris CDG': 'CDG',
 'New York LGA': 'LGA',
 'New York LaGuardia': 'LGA',
 'Danang': 'Da Nang',
 'Da nang': 'Da Nang'}

### Misspelled cities

We're going to use `cutoff` = 0.7 for cities.

In [152]:
# misspelling_dictionary(
#     df_with_origin_airport, 'city',
#     closest_match_dict, unmatched_name_counts, 0.65, min_count=14)

In [153]:
misspelling_dictionary(
    df_with_origin_airport,'city', 
    closest_match_dict, unmatched_name_counts, 0.7, mode='add', min_count=14)

In [154]:
updated_spellings = {
    'Kyiv': 'Kiev', 'Guatemala': 'Guatemala City', 'Denpasar Bali': 'Denpasar', 
    'Oklahoma': 'Oklahoma City', 'Washington, DC': 'Washington DC', 'México City': 'Mexico City',
    'Hi Chi Minh City': 'Ho Chi Minh City', 'San Fransisco': 'San Francisco', 'Vegas': 'Las Vegas',
    'Ho chi Minh': 'Ho Chi Minh City', 'Salt Lake': 'Salt Lake City', 'Torino' : 'Turin', 'Panama': 'Panama City',
    'Palma' : 'Palma de Mallorca', 'Eveter' :'Exeter', 'Chiangmai': 'Chiang Mai',
    'Washington Dulles' : 'IAD', 'Saigon': 'Ho Chi Minh City', 'Pnomh Penh': 'Phnom Penh',
    'Bruxelles': 'Brussels', 'Odesa': 'Odessa', 'Salt Lake' : 'Salt Lake City', 'Orlando Florida': 'Orlando',
    'Washington' : 'Washington DC', 'Incheon' : 'ICN', 'Washington DCA': 'DCA', 'Leeds Bradford': 'LBA',
    'Dallas/Fort Worth': 'DFW', 'Orlando FL': 'Orlando', 'Orlando Fl': 'Orlando',
    'Orlando Florida': 'Orlando', 'Orlando Intl': 'Orlando', 'Orlando, FL': 'Orlando',
    'Orlando, Fl': 'Orlando', 'Orlando, Florida': 'Orlando', 'Kefallinia' : 'Kefalonia',
    'Santiago de Chile' : 'Santiago', 'Cabo': 'Cabo San Lucas', 'Dalat' : 'Da Lat'
    }

removal_list = [
    "Kansas", 'Paris CDG', 'Changsha', 'Cochin', 'Bradley', 'Surat',
    'Crete', 'Arrecife', 'Oporto'
    ]

In [155]:
closest_match_dict.update(updated_spellings)

for incorrect in removal_list:
    if incorrect in closest_match_dict:
        del closest_match_dict[incorrect]

#closest_match_dict

### Correct the spellings in the dataset

In [156]:
df_origin_spellchecked = df_with_origin_city.copy()

In [157]:
#pd.set_option("display.max_rows", None)
pd.reset_option("display.max_rows")

In [158]:
def apply_spellcheck(data, column, spelling_dict, show_changes=True):
    """Applies the spelling correction from the spelling_dict to column
    and prints out how many entries are corrected."""
    unmatched_index = UNMATCHED_ORIGIN_INDEX if column == 'Origin' else UNMATCHED_DESTINATION_INDEX

    print("Entries corrected in " + column + ": ", data.loc[unmatched_index, column].map(spelling_dict).dropna().shape[0])
    if show_changes:
        changes = pd.DataFrame(zip(data.loc[unmatched_index, column], data.loc[unmatched_index, column].map(spelling_dict)))
        changes.rename(columns={0: 'Original', 1: 'Corrected'}, inplace=True)
        display(changes[changes['Corrected'].notna()])

    data.loc[unmatched_index, column] = data.loc[unmatched_index, column].map(closest_match_dict).fillna(data.loc[unmatched_index, column])

In [159]:
apply_spellcheck(df_origin_spellchecked, 'Origin', closest_match_dict)
apply_spellcheck(df_origin_spellchecked, 'Destination', closest_match_dict)

Entries corrected in Origin:  1811

         Original         Corrected
19    Ho Chi Minh  Ho Chi Minh City
21    México City       Mexico City
23      Marrakech         Marrakesh
26     Washington     Washington DC
33     Washington     Washington DC
...           ...               ...
3895         Kyiv              Kiev
3897    Reykjavík         Reykjavik
3904     Keflavík          Keflavik
3910       Zürich            Zurich
3913       Gdańsk            Gdansk

[1811 rows x 2 columns]

Entries corrected in Destination:  1643

       Original  Corrected
2        Zürich     Zurich
3        Zürich     Zurich
28         Kyiv       Kiev
32         Kyiv       Kiev
33    Marrakech  Marrakesh
...         ...        ...
4387       Kyiv       Kiev
4392     Kraków     Krakow
4395   Hannover    Hanover
4405  Reykjavík  Reykjavik
4408   Hannover    Hanover

[1643 rows x 2 columns]

Let's check how many are matched now.

In [160]:
# Check how many is left unmatched
print("Total matched, Origin:", df_origin_spellchecked['OriginMatch'].notna().sum())
print("Remaining unmatched total, Origin:", df_origin_spellchecked['OriginMatch'].isna().sum())
print("")
print("Total matched, Destination:", df_origin_spellchecked['DestinationMatch'].notna().sum())
print("Remaining unmatched total, Destination:", df_origin_spellchecked['DestinationMatch'].isna().sum())

Total matched, Origin: 86508
Remaining unmatched total, Origin: 3922

Total matched, Destination: 86009
Remaining unmatched total, Destination: 4421

In [161]:
unmatched_count = ((df_origin_spellchecked['OriginMatch'].isna()) | (df_origin_spellchecked['DestinationMatch'].isna())).sum()
print("Total rows with both Origin and Destination:", df_origin_spellchecked.shape[0] - unmatched_count)
print("Percent of data matched:", '%.1f' % ((df_origin_spellchecked.shape[0] - unmatched_count) * 100 / df_origin_spellchecked.shape[0]) + '%')

Total rows with both Origin and Destination: 82400
Percent of data matched: 91.1%

### Find matches again after correcting spellings

In [162]:
find_exact_code_match(df_origin_spellchecked, 'Origin', all_codes_regex)
find_exact_code_match(df_origin_spellchecked, 'Destination', all_codes_regex)

Number of exact airport code matches in Origin: 62

       Origin OriginAirportCode  OriginCityId OriginMatch
3794      ICN               ICN        2794.0  exact-code
5526      ICN               ICN        2794.0  exact-code
5732      ICN               ICN        2794.0  exact-code
16095     ICN               ICN        2794.0  exact-code
16123     ICN               ICN        2794.0  exact-code
...       ...               ...           ...         ...
83842     ICN               ICN        2794.0  exact-code
88590     ICN               ICN        2794.0  exact-code
105882    SFB               SFB        2269.0  exact-code
109530    ICN               ICN        2794.0  exact-code
115592    ICN               ICN        2794.0  exact-code

[62 rows x 4 columns]

Number of exact airport code matches in Destination: 69

       Destination DestinationAirportCode  DestinationCityId DestinationMatch
6168           ICN                    ICN             2794.0       exact-code
16268          ICN                    ICN             2794.0       exact-code
16398          ICN                    ICN             2794.0       exact-code
16566          SFB                    SFB             2269.0       exact-code
16708          SFB                    SFB             2269.0       exact-code
...            ...                    ...                ...              ...
115140         ICN                    ICN             2794.0       exact-code
115141         ICN                    ICN             2794.0       exact-code
115434         ICN                    ICN             2794.0       exact-code
115513         ICN                    ICN             2794.0       exact-code
116742         ICN                    ICN             2794.0       exact-code

[69 rows x 4 columns]

In [163]:
find_partial_code_match(df_origin_spellchecked, 'Origin', all_codes_regex)
find_partial_code_match(df_origin_spellchecked, 'Destination', all_codes_regex)

Number of partial airport code matches in Origin: 3

           Origin OriginAirportCode  OriginCityId OriginMatch
38221  GUANG ZHOU               NaN           NaN         NaN
99152    BROOKLYN               NaN           NaN         NaN
99486     DAY-TPA               NaN           NaN         NaN

Number of partial airport code matches in Destination: 3

       Destination DestinationAirportCode  DestinationCityId DestinationMatch
72647  KRK/KTW/WRO                    NaN                NaN              NaN
99152     BROOKLYN                    NaN                NaN              NaN
99486      TPA-DAY                    NaN                NaN              NaN

In [173]:
find_exact_airport_name_match(df_origin_spellchecked, 'Origin', all_airport_names_regex, show_changes=False)
find_exact_airport_name_match(df_origin_spellchecked, 'Destination', all_airport_names_regex, show_changes=False)

Number of exact airport name matches in Origin: 0
Number of exact airport name matches in Destination: 0

In [174]:
find_partial_airport_name_match(df_origin_spellchecked, 'Origin', airport_names_short_regex, show_changes=False)
find_partial_airport_name_match(df_origin_spellchecked, 'Destination', airport_names_short_regex, show_changes=False)

Number of partial airport name matches in Origin: 3
Number of partial airport name matches in Destination: 4

In [166]:
find_exact_city_match(df_origin_spellchecked, 'Origin', unambiguous_cities_regex)
find_exact_city_match(df_origin_spellchecked, 'Destination', unambiguous_cities_regex)

Number of exact city matches: 1611

                  Origin  OriginCityId OriginMatch
609     Ho Chi Minh City        1233.0  exact-city
681          Mexico City        1937.0  exact-city
711            Marrakesh        3445.0  exact-city
729        Washington DC        3287.0  exact-city
822        Washington DC        3287.0  exact-city
...                  ...           ...         ...
128617              Kiev        1507.0  exact-city
128647         Reykjavik        2597.0  exact-city
128774          Keflavik        3460.0  exact-city
128933            Zurich        3426.0  exact-city
129014            Gdansk        1041.0  exact-city

[1611 rows x 3 columns]

Number of exact city matches: 1444

          Destination  DestinationCityId DestinationMatch
13             Zurich             3426.0       exact-city
15             Zurich             3426.0       exact-city
597              Kiev             1507.0       exact-city
638              Kiev             1507.0       exact-city
663         Marrakesh             3445.0       exact-city
...               ...                ...              ...
128012       Montreal             2009.0       exact-city
128263  Washington DC             3287.0       exact-city
128506           Kiev             1507.0       exact-city
128563         Krakow             1556.0       exact-city
128788      Reykjavik             2597.0       exact-city

[1444 rows x 3 columns]

In [167]:
find_partial_city_match(df_origin_spellchecked, 'Origin', unambiguous_cities_regex)
find_partial_city_match(df_origin_spellchecked, 'Destination', unambiguous_cities_regex)

Number of partial city matches: 80

                    Origin  OriginCityId OriginMatch
101     Ixtapa Zihuatanejo           NaN         NaN
102     Ixtapa-Zihuatanejo           NaN         NaN
5197         Rouyn-Noranda           NaN         NaN
9032        Palma Mallorca           NaN         NaN
9243              Mt Hagen           NaN         NaN
...                    ...           ...         ...
118181              Oporto           NaN         NaN
118532      Casper Wyoming           NaN         NaN
119920   Palma di Mallorca           NaN         NaN
121095             Berwick           NaN         NaN
122329              Oporto           NaN         NaN

[80 rows x 3 columns]

Number of partial city matches: 114

                   Destination  DestinationCityId DestinationMatch
122                     Tamale                NaN              NaN
129                     Tamale                NaN              NaN
180                      Salta                NaN              NaN
216                      Salta                NaN              NaN
1092             Yekaterinburg                NaN              NaN
...                        ...                ...              ...
122528         Casper, Wyoming                NaN              NaN
122784  Rio de Janeiro, Brazil                NaN              NaN
123756             Llibreville                NaN              NaN
127276                 Maumare                NaN              NaN
128419                Arrecife                NaN              NaN

[114 rows x 3 columns]

In [168]:
find_exact_ambiguous_city(df_origin_spellchecked, 'Origin', ambiguous_cities_regex)
find_exact_ambiguous_city(df_origin_spellchecked, 'Destination', ambiguous_cities_regex)

Number of exact ambiguous city matches in Origin: 109

            Origin  OriginCityId           OriginMatch
189       Santiago        2750.0  exact-city-ambiguous
236         London        1717.0  exact-city-ambiguous
253        Rosario        2648.0  exact-city-ambiguous
257         London        1717.0  exact-city-ambiguous
465         London        1717.0  exact-city-ambiguous
...            ...           ...                   ...
129139      London        1717.0  exact-city-ambiguous
129143  Birmingham         374.0  exact-city-ambiguous
129182      London        1717.0  exact-city-ambiguous
129192      London        1717.0  exact-city-ambiguous
129193      London        1717.0  exact-city-ambiguous

[8837 rows x 3 columns]

Total matched: 8837
Number of exact ambiguous city matches in Destination: 105

       Destination  DestinationCityId      DestinationMatch
219         London             1717.0  exact-city-ambiguous
235      Barcelona              263.0  exact-city-ambiguous
490         London             1717.0  exact-city-ambiguous
521         London             1717.0  exact-city-ambiguous
530         London             1717.0  exact-city-ambiguous
...            ...                ...                   ...
129151      London             1717.0  exact-city-ambiguous
129172      London             1717.0  exact-city-ambiguous
129184      London             1717.0  exact-city-ambiguous
129191      London             1717.0  exact-city-ambiguous
129200   Barcelona              263.0  exact-city-ambiguous

[8543 rows x 3 columns]

Total matched: 8543

In [172]:
find_partial_ambiguous_city(df_origin_spellchecked, 'Origin', ambiguous_cities_regex, show_changes=False)
find_partial_ambiguous_city(df_origin_spellchecked, 'Destination', ambiguous_cities_regex, show_changes=False)

Number of partial ambiguous city matches: 40
Number of partial ambiguous city matches: 18

Let's check how many are matched now.

In [170]:
# Check how many is left unmatched
print("Total matched, Origin:", df_origin_spellchecked['OriginMatch'].notna().sum())
print("Remaining unmatched total, Origin:", df_origin_spellchecked['OriginMatch'].isna().sum())
print("")
print("Total matched, Destination:", df_origin_spellchecked['DestinationMatch'].notna().sum())
print("Remaining unmatched total, Destination:", df_origin_spellchecked['DestinationMatch'].isna().sum())

Total matched, Origin: 88319
Remaining unmatched total, Origin: 2111

Total matched, Destination: 87652
Remaining unmatched total, Destination: 2778

In [171]:
unmatched_count = ((df_origin_spellchecked['OriginMatch'].isna()) | (df_origin_spellchecked['DestinationMatch'].isna())).sum()
print("Total rows with both Origin and Destination:", df_origin_spellchecked.shape[0] - unmatched_count)
print("Percent of data matched:", '%.1f' % ((df_origin_spellchecked.shape[0] - unmatched_count) * 100 / df_origin_spellchecked.shape[0]) + '%')

Total rows with both Origin and Destination: 85682
Percent of data matched: 94.7%