In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Data - AirlineReviews_Edited.csv", encoding = 'utf-8')
dataset

,Aircraft,AirlineName,CabinType,TravelType,DateFlown,DatePub,OverallScore,SeatComfortRating,ServiceRating,FoodRating,...,ValueRating,WifiRating,OriginCountry,Recommended,Review,Route,Slug,Title,TripVerified,unique_id
0,NaN,AB Aviation,Economy Class,Solo Leisure,19-Nov,11th November 2019,9.0,4,5,4,...,3,0,Netherlands,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,ab-aviation,pretty decent airline,Trip Verified,d3b260fb-268b-4399-8a9b-2804825902c6
1,E120,AB Aviation,Economy Class,Solo Leisure,19-Jun,25th June 2019,1.0,2,2,1,...,2,0,UnitedKingdom,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,ab-aviation,Not a good airline,Trip Verified,307711df-268f-4698-97b8-45729b7d972e
2,Embraer E120,AB Aviation,Economy Class,Solo Leisure,19-Jun,25th June 2019,1.0,2,1,1,...,2,0,UnitedKingdom,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,ab-aviation,flight was fortunately short,Trip Verified,82bd2602-171d-4724-bde0-90b71621cdcf
3,NaN,Aerocaribbean,Economy Class,NaN,NaN,31st December 2010,8.0,0,0,0,...,4,0,Denmark,yes,Havana - Cayo Coco return. A one hour flight w...,NaN,aerocaribbean,Aerocaribbean customer review,NaN,a927beb4-6244-4f5c-9dc3-09890aa3e616
4,NaN,Aerocaribbean,NaN,NaN,NaN,25th November 2010,1.0,0,0,0,...,0,0,UnitedKingdom,no,Holguin to Havana last week. Okay apart from i...,NaN,aerocaribbean,Aerocaribbean customer review,NaN,d7bea425-c58a-4a7e-8269-02e0e6516633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129450,NaN,Wizz Air,Economy Class,NaN,NaN,15th July 2010,NaN,0,0,0,...,1,0,UnitedKingdom,no,This airline is terrible! Timetable changes (m...,NaN,wizz-air,Wizz Air customer review,NaN,7889c410-59a0-4a11-9af6-a100c5ebb03e
129451,NaN,Wizz Air,Economy Class,NaN,NaN,23rd June 2010,8.0,0,0,0,...,4,0,Belgium,yes,We often fly with Wizzair to/from Charleroi/Bu...,NaN,wizz-air,Wizz Air customer review,NaN,dc7700d9-69e3-4296-93a5-0a550e8b8a80
129452,NaN,Wizz Air,Economy Class,NaN,NaN,19th June 2010,NaN,0,0,0,...,1,0,Ireland,no,Avoid Wizzair! A group of us had our outgoing ...,NaN,wizz-air,Wizz Air customer review,NaN,6de9ac64-a533-4dc8-b555-a16cc13554f7
129453,NaN,Wizz Air,Economy Class,NaN,NaN,16th June 2010,5.0,0,0,0,...,4,0,CzechRepublic,yes,PRG-LTN and LTN-PRG were rather good flights. ...,NaN,wizz-air,Wizz Air customer review,NaN,52ad5aa9-88f6-4eb1-99fe-e7fa64223792
129454,NaN,Wizz Air,Economy Class,NaN,NaN,6th June 2010,1.0,0,0,0,...,1,0,UnitedKingdom,no,London - Kiev. First problem started a few wee...,NaN,wizz-air,Wizz Air customer review,NaN,c1ceb07e-a04d-4389-ac85-dca4fe00b745

In [3]:
dataset.describe()

,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating
count,125124.000000,129455.000000,129455.000000,129455.000000,129455.000000,129455.000000,129455.000000,129455.000000
mean,4.556408,2.470202,2.689622,1.989077,1.557190,1.652010,2.637527,0.453926
std,3.498833,1.620262,1.774499,1.774512,1.751076,1.740252,1.628808,1.078274
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,2.000000,0.000000
75%,8.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,0.000000
max,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129455 entries, 0 to 129454
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Aircraft             36424 non-null   object
 1   AirlineName          129455 non-null  object
 2   CabinType            126437 non-null  object
 3   TravelType           91146 non-null   object
 4   DateFlown            90993 non-null   object
 5   DatePub              129455 non-null  object
 6   OverallScore         125124 non-null  float64
 7   SeatComfortRating    129455 non-null  int64
 8   ServiceRating        129455 non-null  int64
 9   FoodRating           129455 non-null  int64
 10  EntertainmentRating  129455 non-null  int64
 11  GroundServiceRating  129455 non-null  int64
 12  ValueRating          129455 non-null  int64
 13  WifiRating           129455 non-null  int64
 14  OriginCountry        127777 non-null  object
 15  Recommended          129455 non-null  object
 16  Review               128631 non-null  object
 17  Route                90825 non-null   object
 18  Slug                 129455 non-null  object
 19  Title                129451 non-null  object
 20  TripVerified         59508 non-null   object
 21  unique_id            129455 non-null  object
dtypes: float64(1), int64(7), object(14)
memory usage: 21.7+ MB

In [5]:
dataset_modified = dataset.copy()

## Drop unnecessary columns

In [6]:
columns_to_drop = ['Aircraft', 'DatePub', 'OriginCountry', 'Slug', 'Title', 'unique_id']

In [7]:
dataset_modified = dataset_modified.drop(columns=columns_to_drop)
dataset_modified

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,Route,TripVerified
0,AB Aviation,Economy Class,Solo Leisure,19-Nov,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,Trip Verified
1,AB Aviation,Economy Class,Solo Leisure,19-Jun,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,Trip Verified
2,AB Aviation,Economy Class,Solo Leisure,19-Jun,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,Trip Verified
3,Aerocaribbean,Economy Class,NaN,NaN,8.0,0,0,0,0,0,4,0,yes,Havana - Cayo Coco return. A one hour flight w...,NaN,NaN
4,Aerocaribbean,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,no,Holguin to Havana last week. Okay apart from i...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129450,Wizz Air,Economy Class,NaN,NaN,NaN,0,0,0,0,0,1,0,no,This airline is terrible! Timetable changes (m...,NaN,NaN
129451,Wizz Air,Economy Class,NaN,NaN,8.0,0,0,0,0,0,4,0,yes,We often fly with Wizzair to/from Charleroi/Bu...,NaN,NaN
129452,Wizz Air,Economy Class,NaN,NaN,NaN,0,0,0,0,0,1,0,no,Avoid Wizzair! A group of us had our outgoing ...,NaN,NaN
129453,Wizz Air,Economy Class,NaN,NaN,5.0,0,0,0,0,0,4,0,yes,PRG-LTN and LTN-PRG were rather good flights. ...,NaN,NaN
129454,Wizz Air,Economy Class,NaN,NaN,1.0,0,0,0,0,0,1,0,no,London - Kiev. First problem started a few wee...,NaN,NaN

## Drop old reviews and reviews with no flight date

We'll drop reviews that are more than 10 years old.

In [8]:
dataset_outdated_dropped = dataset_modified.copy()

In [9]:
import datetime as dt

In [10]:
dataset_outdated_dropped['DateFlown'] = pd.to_datetime(dataset_outdated_dropped['DateFlown'], format='%y-%b')

In [11]:
dataset_outdated_dropped['DateFlown']

0        2019-11-01
1        2019-06-01
2        2019-06-01
3               NaT
4               NaT
            ...
129450          NaT
129451          NaT
129452          NaT
129453          NaT
129454          NaT
Name: DateFlown, Length: 129455, dtype: datetime64[ns]

In [12]:
no_flight_date = dataset_outdated_dropped.index[dataset_outdated_dropped['DateFlown'].isna()]
older_than_2015 = dataset_outdated_dropped.index[dataset_outdated_dropped['DateFlown'].dt.year < 2015]
print("No flight date: ", len(no_flight_date))
print("Older than 2015: ", len(older_than_2015))

No flight date:  38462
Older than 2015:  153

In [13]:
dataset_outdated_dropped.drop(index=no_flight_date, inplace=True)
dataset_outdated_dropped.drop(index=older_than_2015, inplace=True)
print("Length of new dataset: ", dataset_outdated_dropped.shape[0])
print("Old - (len of indices): ", dataset_modified.shape[0] - len(no_flight_date) - len(older_than_2015))

Length of new dataset:  90840
Old - (len of indices):  90840

In [14]:
dataset_outdated_dropped

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,Route,TripVerified
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,Trip Verified
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,Trip Verified
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,Trip Verified
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Milano to Olbia,Trip Verified
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Cascais to Bragança,Trip Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129200,Wizz Air,Economy Class,Solo Leisure,2015-05-01,8.0,1,1,0,0,2,5,0,yes,"If you are going with them, you need to learn ...",Budapest to Barcelona,NaN
129201,Wizz Air,Economy Class,Family Leisure,2015-06-01,1.0,1,2,1,1,1,1,1,no,We went to Ciampino airport 3 hours early and ...,Rome to Bucharest,NaN
129202,Wizz Air,Economy Class,Solo Leisure,2015-04-01,1.0,2,1,0,0,2,2,0,no,I had never heard of Wizz Air before but as th...,London Luton to Budapest,NaN
129203,Wizz Air,Economy Class,Couple Leisure,2015-06-01,1.0,2,2,0,0,1,1,0,no,Very disappointing experience. The airline cha...,Budapest to Tel Aviv,NaN
129204,Wizz Air,Economy Class,Family Leisure,2015-02-01,1.0,1,1,1,0,1,1,0,no,Wizz Air is hands down the worst airline in al...,Budapest to Dubai,NaN

In [15]:
dataset_outdated_dropped[(dataset_outdated_dropped['DateFlown'].dt.year < 2015) | (dataset_outdated_dropped['DateFlown'].isna())]

Empty DataFrame
Columns: [AirlineName, CabinType, TravelType, DateFlown, OverallScore, SeatComfortRating, ServiceRating, FoodRating, EntertainmentRating, GroundServiceRating, ValueRating, WifiRating, Recommended, Review, Route, TripVerified]
Index: []

In [16]:
del(no_flight_date)
del(older_than_2015)

## Remove duplicated entries

In [17]:
dataset_deduplicated = dataset_outdated_dropped.copy()

In [18]:
duplicated_reviews = dataset_deduplicated.index[(dataset_deduplicated.duplicated(subset='Review')) & (dataset_deduplicated['Review'].notna())]

In [19]:
dataset_deduplicated.drop(index=duplicated_reviews, inplace=True)
dataset_deduplicated

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,Route,TripVerified
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,Trip Verified
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,Trip Verified
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,Trip Verified
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Milano to Olbia,Trip Verified
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Cascais to Bragança,Trip Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129200,Wizz Air,Economy Class,Solo Leisure,2015-05-01,8.0,1,1,0,0,2,5,0,yes,"If you are going with them, you need to learn ...",Budapest to Barcelona,NaN
129201,Wizz Air,Economy Class,Family Leisure,2015-06-01,1.0,1,2,1,1,1,1,1,no,We went to Ciampino airport 3 hours early and ...,Rome to Bucharest,NaN
129202,Wizz Air,Economy Class,Solo Leisure,2015-04-01,1.0,2,1,0,0,2,2,0,no,I had never heard of Wizz Air before but as th...,London Luton to Budapest,NaN
129203,Wizz Air,Economy Class,Couple Leisure,2015-06-01,1.0,2,2,0,0,1,1,0,no,Very disappointing experience. The airline cha...,Budapest to Tel Aviv,NaN
129204,Wizz Air,Economy Class,Family Leisure,2015-02-01,1.0,1,1,1,0,1,1,0,no,Wizz Air is hands down the worst airline in al...,Budapest to Dubai,NaN

In [20]:
print("Duplicate entries removed: ", dataset_outdated_dropped.shape[0] - dataset_deduplicated.shape[0])

Duplicate entries removed:  14

# Clean up the `Route` column

We want to eventually split the `Route` column into `Origin` and `Destination` columns. Before we do that, we make sure that it's standardized.

## Strip whitespace

In [21]:
dataset_route_stripped = dataset_deduplicated.copy()

In [22]:
dataset_route_stripped['Route'] = dataset_route_stripped['Route'].str.strip('.!?,& \n\t')

## Remove entries with no `Route`

In [23]:
no_route = dataset_route_stripped.index[dataset_route_stripped['Route'].isna()]
no_route

Int64Index([   947,   1473,   1518,   1672,   1802,   1952,   5047,   5588,
              6269,   6319,
            ...
            128192, 128377, 128412, 128421, 128472, 128483, 128492, 128517,
            128530, 128541],
           dtype='int64', length=300)

In [24]:
dataset_route_stripped.drop(index=no_route, inplace=True)

In the future, we could possibly fill these in by using the `Review` column.

## Split into Origin+Destination and Layover

If we look at the structure of the `Route` column, most of them are of the form "[Origin] to [Destination]" or "[Origin] to [Destination] via [Layover]." We deal with those entries that have `"via"`, split on it, and put them into new columns in our data.

In [25]:
dataset_route_stripped.loc[dataset_route_stripped['Route'].str.contains(' via '), ['Route']]

                                                 Route
11                    Sofia to Amsterdam via Ljubljana
15                    Pristina to Zürich via Ljubliana
19                       Paris to Skopje via Ljubljana
101     Ixtapa Zihuatanejo to Acapulco via Mexico City
174                  Buenos Aires to Brussels via Rome
...                                                ...
128583                Milan to Nur-Sultan via Budapest
128618          Barcelona to Thessaloniki via Budapest
128730                  Baku to Frankfurt via Budapest
128844                     Luton to Dubai via Katowice
129036                     Luton to Moscow via Vilnius

[23895 rows x 1 columns]

In [26]:
dataset_no_layovers = dataset_route_stripped.copy()

### Look for typos or variants of `" via "` and clean them

In [27]:
dataset_no_layovers.loc[(dataset_no_layovers['Route'].str.contains('.+via ')) & (dataset_no_layovers['Route'].str.contains(' via ') == False), 'Route']

11319             Bologna to Johannesburgvia Paris
15073                              Latvia to Turku
15423                            Monrovia to Accra
22027     Baton Rouge to College Stationvia Dallas
45741         Hong Kong to Reykjavik =via Helsinki
90270                            HKT to BRUvia DOH
95635              Varanasi to Bangkok via Kolkata
121411            Helena to Indianapolisvia Denver
125204              Des Moines to Fresnovia Denver
Name: Route, dtype: object

In [28]:
via_edit = [11319, 22027, 45741, 90270, 121411, 125204]

In [29]:
dataset_no_layovers.loc[via_edit, 'Route'] = dataset_no_layovers.loc[via_edit, 'Route'].replace(to_replace='via ', value=' via ', regex=True)
dataset_no_layovers.loc[via_edit, 'Route']

11319             Bologna to Johannesburg via Paris
22027     Baton Rouge to College Station via Dallas
45741         Hong Kong to Reykjavik = via Helsinki
90270                            HKT to BRU via DOH
121411            Helena to Indianapolis via Denver
125204              Des Moines to Fresno via Denver
Name: Route, dtype: object

In [30]:
dataset_no_layovers.loc[(dataset_no_layovers['Route'].str.contains(' via.+')) & (dataset_no_layovers['Route'].str.contains(' via ') == False), 'Route']

16386    Honolulu to Manila viaTokyo
76671              PRG to YYZ viaFRA
76689              LAX to WRO viaMUC
Name: Route, dtype: object

In [31]:
via_edit = dataset_no_layovers.index[(dataset_no_layovers['Route'].str.contains(' via.+')) & (dataset_no_layovers['Route'].str.contains(' via ') == False)]
via_edit

Int64Index([16386, 76671, 76689], dtype='int64')

In [32]:
dataset_no_layovers.loc[via_edit, 'Route'] = dataset_no_layovers.loc[via_edit, 'Route'].replace(to_replace=' via', value=' via ', regex=True)
dataset_no_layovers.loc[via_edit, 'Route']

16386    Honolulu to Manila via Tokyo
76671              PRG to YYZ via FRA
76689              LAX to WRO via MUC
Name: Route, dtype: object

In [33]:
print("Contains \" via \": ", dataset_no_layovers['Route'].str.contains(' via ').sum())
print("Contains \".+via \": ", dataset_no_layovers['Route'].str.contains('.+via ').sum())
print("Contains \" via.+\": ", dataset_no_layovers['Route'].str.contains(' via.+').sum())

Contains " via ":  23904
Contains ".+via ":  23907
Contains " via.+":  23904

### Split on `" via "`

In [34]:
via_splitted = dataset_no_layovers['Route'].str.split(' via ', regex=True, expand=True)
via_splitted

                               0     1
0               Moroni to Moheli  None
1              Moroni to Anjouan  None
2            Anjouan to Dzaoudzi  None
6                Milano to Olbia  None
7            Cascais to Bragança  None
...                          ...   ...
129200     Budapest to Barcelona  None
129201         Rome to Bucharest  None
129202  London Luton to Budapest  None
129203      Budapest to Tel Aviv  None
129204         Budapest to Dubai  None

[90526 rows x 2 columns]

### Add column without "via layover" into dataset and remove old `Route` column.

In [35]:
dataset_no_layovers['NewRoute'] = via_splitted[0]
dataset_no_layovers.drop(columns='Route', inplace=True)
dataset_no_layovers

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,TripVerified,NewRoute
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Trip Verified,Moroni to Moheli
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Trip Verified,Moroni to Anjouan
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Trip Verified,Anjouan to Dzaoudzi
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Trip Verified,Milano to Olbia
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Trip Verified,Cascais to Bragança
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129200,Wizz Air,Economy Class,Solo Leisure,2015-05-01,8.0,1,1,0,0,2,5,0,yes,"If you are going with them, you need to learn ...",NaN,Budapest to Barcelona
129201,Wizz Air,Economy Class,Family Leisure,2015-06-01,1.0,1,2,1,1,1,1,1,no,We went to Ciampino airport 3 hours early and ...,NaN,Rome to Bucharest
129202,Wizz Air,Economy Class,Solo Leisure,2015-04-01,1.0,2,1,0,0,2,2,0,no,I had never heard of Wizz Air before but as th...,NaN,London Luton to Budapest
129203,Wizz Air,Economy Class,Couple Leisure,2015-06-01,1.0,2,2,0,0,1,1,0,no,Very disappointing experience. The airline cha...,NaN,Budapest to Tel Aviv
129204,Wizz Air,Economy Class,Family Leisure,2015-02-01,1.0,1,1,1,0,1,1,0,no,Wizz Air is hands down the worst airline in al...,NaN,Budapest to Dubai

## Clean up `NewRoute` to make them all have `" to "`

#### Look for typos and variants of `" to "` and clean

In [36]:
dataset_correct_to = dataset_no_layovers.copy()

In [37]:
dataset_correct_to.loc[(dataset_correct_to['NewRoute'].str.contains('.+to ')) & (dataset_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']

8006                                              YYZto EWR
8048      Sault Ste. Marie, Canada - Toronto - Frankfurt...
9139                                Tel Avivito Malta (MLA)
11586                                 Toronto to Birmingham
21382                                             PIEto DSM
21620                            Richmondto Fort Lauderdale
48465                                             NCEto KIX
52808                                             CGKto AMS
68191                                             SANto LHR
112319                                 Jakartato Yogyakarta
118173                                        Parisnto Kiev
Name: NewRoute, dtype: object

In [38]:
to_edit = [8006, 9139, 21382, 21620, 48465, 52808, 68191, 112319, 118173]

In [39]:
dataset_correct_to.loc[to_edit, 'NewRoute'] = dataset_correct_to.loc[to_edit, 'NewRoute'].replace(to_replace='to ', value=' to ', regex=True)
dataset_correct_to.loc[to_edit, 'NewRoute']

8006                       YYZ to EWR
9139         Tel Avivi to Malta (MLA)
21382                      PIE to DSM
21620     Richmond to Fort Lauderdale
48465                      NCE to KIX
52808                      CGK to AMS
68191                      SAN to LHR
112319          Jakarta to Yogyakarta
118173                 Parisn to Kiev
Name: NewRoute, dtype: object

In [40]:
dataset_correct_to.loc[(dataset_correct_to['NewRoute'].str.contains(' to.+')) & (dataset_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']

14758       Bangalore toChennai
25388                 MCO toLAX
27081                 JFK toTLV
28090           Krabi toBangkok
42443       Nuremburg toHamburg
50368           Mumbai toJaipur
69576       Sydney to- New York
79387                 LHR toBKK
80303                 LGW toJFK
88932                 SYV toLHR
94500               LUN toi HKG
102501              MSP top LAS
106404    Frankfurt toBucharest
108220              SIN toi MFM
123134                BXH toCPT
Name: NewRoute, dtype: object

In [41]:
# All of them seem to be right so we include all of them
to_edit = dataset_correct_to.index[(dataset_correct_to['NewRoute'].str.contains(' to.+')) & (dataset_correct_to['NewRoute'].str.contains(' to ') == False)]

In [42]:
dataset_correct_to.loc[to_edit, 'NewRoute'] = dataset_correct_to.loc[to_edit, 'NewRoute'].replace(to_replace=' to', value=' to ', regex=True)
dataset_correct_to.loc[to_edit, 'NewRoute']

14758       Bangalore to Chennai
25388                 MCO to LAX
27081                 JFK to TLV
28090           Krabi to Bangkok
42443       Nuremburg to Hamburg
50368           Mumbai to Jaipur
69576       Sydney to - New York
79387                 LHR to BKK
80303                 LGW to JFK
88932                 SYV to LHR
94500               LUN to i HKG
102501              MSP to p LAS
106404    Frankfurt to Bucharest
108220              SIN to i MFM
123134                BXH to CPT
Name: NewRoute, dtype: object

Notice that there are still typos on some of them. We will deal with them later, as well as the inconsistencies.

### Look for `"from"` in `NewRoute` and change them all to be of the form "X to Y"

Some Route entries are of the form "From X to Y" or "To Y from X", or something like it and we want to just make it all "X to Y".

In [43]:
dataset_correct_to.loc[dataset_correct_to['NewRoute'].str.contains('from', case=False), ['NewRoute', 'Review']]

,NewRoute,Review
47290,To Sydney from Heathrow,Flew out to Sydney from Heathrow on the 14th M...
49598,From King Shaka to O.R Tambo,Staff were semi friendly but not respectful to...
66396,Metro Airport from Boston Logan,On a flight back to Detroit Metro Airport from...
82707,Manila from Brisbane,"Flight to Manila from Brisbane 07/12/2017, onl..."
88497,from Rome (CIA) to Stansted (London),On November 7th I flew Ryanair from Rome (CIA)...

In [44]:
# Index of Routes in the form "From X to Y"
from_to = dataset_correct_to.index[dataset_correct_to['NewRoute'].str.match('from ', case=False)]
dataset_correct_to.loc[from_to, ['NewRoute', 'Review']]

,NewRoute,Review
49598,From King Shaka to O.R Tambo,Staff were semi friendly but not respectful to...
88497,from Rome (CIA) to Stansted (London),On November 7th I flew Ryanair from Rome (CIA)...

In [45]:
dataset_correct_to.loc[from_to, 'NewRoute'] = dataset_correct_to.loc[from_to, 'NewRoute'].replace('[Ff]rom ', '', regex=True)
dataset_correct_to.loc[from_to, 'NewRoute']

49598            King Shaka to O.R Tambo
88497    Rome (CIA) to Stansted (London)
Name: NewRoute, dtype: object

In [46]:
# Index of Routes in the form "To Y from X"
to_from = dataset_correct_to.index[dataset_correct_to['NewRoute'].str.match('to .+ from', case=False)]
dataset_correct_to.loc[to_from, 'NewRoute']

47290    To Sydney from Heathrow
Name: NewRoute, dtype: object

Let's split them at " from " to get the place names and insert it back.

In [47]:
to_from_split = dataset_correct_to.loc[to_from, 'NewRoute'].str.split(' [Ff]rom ', regex=True)
to_from_split

47290    [To Sydney, Heathrow]
Name: NewRoute, dtype: object

In [48]:
to_from_route = (to_from_split.str[1] + " ").str.cat(to_from_split.str[0])
to_from_route

47290    Heathrow To Sydney
Name: NewRoute, dtype: object

In [49]:
dataset_correct_to.loc[to_from, 'NewRoute'] = to_from_route
dataset_correct_to.loc[to_from, ['AirlineName', 'Review', 'NewRoute']]

,AirlineName,Review,NewRoute
47290,Etihad Airways,Flew out to Sydney from Heathrow on the 14th M...,Heathrow To Sydney

Finally, let's look at the ones with just "from" in the middle.

In [50]:
# Index of Routes in the form "Y from X"
only_from = dataset_correct_to.index[dataset_correct_to['NewRoute'].str.contains(' from ', case=False)]
dataset_correct_to.loc[only_from, 'NewRoute']

66396    Metro Airport from Boston Logan
82707               Manila from Brisbane
Name: NewRoute, dtype: object

In [51]:
only_from_split = dataset_correct_to.loc[only_from, 'NewRoute'].str.split(' [Ff]rom ', regex=True)
only_from_split

66396    [Metro Airport, Boston Logan]
82707               [Manila, Brisbane]
Name: NewRoute, dtype: object

We do a similar thing from above and concatenate these to be "X to Y". Note that as before, the origin is the second entry.

In [52]:
only_from_route = (only_from_split.str[1] + " to ").str.cat(only_from_split.str[0])
display(only_from_route)

print("Before")
display(dataset_correct_to.loc[only_from, ['AirlineName', 'Review', 'NewRoute']])

dataset_correct_to.loc[only_from, 'NewRoute'] = only_from_route
print("After")
display(dataset_correct_to.loc[only_from, ['AirlineName', 'Review', 'NewRoute']])

66396    Boston Logan to Metro Airport
82707               Brisbane to Manila
Name: NewRoute, dtype: object

Before

,AirlineName,Review,NewRoute
66396,Jetblue Airways,On a flight back to Detroit Metro Airport from...,Metro Airport from Boston Logan
82707,Philippine Airlines,"Flight to Manila from Brisbane 07/12/2017, onl...",Manila from Brisbane

After

,AirlineName,Review,NewRoute
66396,Jetblue Airways,On a flight back to Detroit Metro Airport from...,Boston Logan to Metro Airport
82707,Philippine Airlines,"Flight to Manila from Brisbane 07/12/2017, onl...",Brisbane to Manila

Check if there are any more "from" in `NewRoute`.

In [53]:
dataset_correct_to['NewRoute'].str.contains('from').any()

False

We're done with the `"from"`.

### Look for `" - "` variants and examine if they should be changed to `" to "`

Several entries use ` - ` instead of ` to `, but some could be part of place names.

In [54]:
dataset_correct_to.loc[(dataset_correct_to['NewRoute'].str.contains(' - ')), 'NewRoute']

8048      Sault Ste. Marie, Canada - Toronto - Frankfurt...
12196                     Toronto - YYZ to Manchester - MAN
17649                                Bandung - Kuala Lumpur
19089                        Destin - Fort Walton to Boston
23156                         Fargo to New York - LaGuardia
24966                                 Charlotte - Frankfurt
25023                   Dallas Fort Worth - London Heathrow
27255                                             REC - VCP
29879                                      Lyons - Brussels
33094                                      LHR - EDI to LHR
34810                                      Legazpi - Manila
61446                                   Da Nang - Hong Kong
69576                                  Sydney to - New York
71384                       Bogotá to São Paulo - Guarulhos
76518                                   Los Angeles - Delhi
89127                            Melbourne - Dubai - London
92364                              London Gatwick - Bangkok
94873                            Jakarta to TMC - Tambolaka
99132                  New York - La Guardia to Orlando MCO
109439                                   Manchester - Crete
113443                                   Dublin - Charlotte
115677                            London Heathrow - Seattle
115791                   London Heathrow - Ho Chi Minh City
Name: NewRoute, dtype: object

In [55]:
# Index of all the above except for the ones that don't mean "to"
dash_edit = dataset_correct_to.index[(dataset_correct_to['NewRoute'].str.contains(' - '))].drop([12196, 19089, 23156, 99132])

In [56]:
dataset_correct_to.loc[dash_edit, 'NewRoute'] = dataset_correct_to.loc[dash_edit, 'NewRoute'].replace(to_replace=' - ', value=' to ', regex=True)
dataset_correct_to.loc[dash_edit, 'NewRoute']

8048      Sault Ste. Marie, Canada to Toronto to Frankfu...
17649                               Bandung to Kuala Lumpur
24966                                Charlotte to Frankfurt
25023                  Dallas Fort Worth to London Heathrow
27255                                            REC to VCP
29879                                     Lyons to Brussels
33094                                     LHR to EDI to LHR
34810                                     Legazpi to Manila
61446                                  Da Nang to Hong Kong
69576                                 Sydney to to New York
71384                      Bogotá to São Paulo to Guarulhos
76518                                  Los Angeles to Delhi
89127                          Melbourne to Dubai to London
92364                             London Gatwick to Bangkok
94873                           Jakarta to TMC to Tambolaka
109439                                  Manchester to Crete
113443                                  Dublin to Charlotte
115677                           London Heathrow to Seattle
115791                  London Heathrow to Ho Chi Minh City
Name: NewRoute, dtype: object

In [57]:
dataset_correct_to.loc[(dataset_correct_to['NewRoute'].str.fullmatch('.{3}-.{3}')), 'NewRoute']

8043      YWG-LHR
8979      KIV-LIS
15531     GRR-ORD
17245     SYD-LAX
18244     HKG-HKT
29855     BRU-CPH
33182     YVR-LIS
33542     MAN-LHR
33554     LHR-BOM
33626     LHR-DEN
33627     ORD-LHR
33628     LHR-GLA
33629     GLA-LHR
36505     FRA-WDH
36506     WDH-FRA
39846     CAN-CGO
45846     MAN-GOI
48367     AMS-BKK
48606     LAX-DMM
67973     SEA-ORF
68230     DCA-NRT
76894     MRS-KIX
79391     SIN-KUL
79447     LHR-KUL
88660     SYD-AKL
88723     SYD-LHR
91271     SIN-LHR
91274     LHR-SIN
102778    ORD-MSP
104962    HUX-YEG
121625    YYC-LAS
123876    LAX-FRA
126523    DEN-GRR
129105    VNO-FMM
Name: NewRoute, dtype: object

All of the `"-"` above mean `" to "`, so they will all be changed to `" to "`.

In [58]:
dash_edit = dataset_correct_to.index[(dataset_correct_to['NewRoute'].str.fullmatch('.{3}-.{3}'))]
dataset_correct_to.loc[dash_edit, 'NewRoute'] = dataset_correct_to.loc[dash_edit, 'NewRoute'].replace(to_replace='-', value=' to ', regex=True)
dataset_correct_to.loc[dash_edit, 'NewRoute']

8043      YWG to LHR
8979      KIV to LIS
15531     GRR to ORD
17245     SYD to LAX
18244     HKG to HKT
29855     BRU to CPH
33182     YVR to LIS
33542     MAN to LHR
33554     LHR to BOM
33626     LHR to DEN
33627     ORD to LHR
33628     LHR to GLA
33629     GLA to LHR
36505     FRA to WDH
36506     WDH to FRA
39846     CAN to CGO
45846     MAN to GOI
48367     AMS to BKK
48606     LAX to DMM
67973     SEA to ORF
68230     DCA to NRT
76894     MRS to KIX
79391     SIN to KUL
79447     LHR to KUL
88660     SYD to AKL
88723     SYD to LHR
91271     SIN to LHR
91274     LHR to SIN
102778    ORD to MSP
104962    HUX to YEG
121625    YYC to LAS
123876    LAX to FRA
126523    DEN to GRR
129105    VNO to FMM
Name: NewRoute, dtype: object

In [59]:
# Route which contains a "-" but not a " to "
dataset_correct_to.loc[(dataset_correct_to['NewRoute'].str.contains('-')) & (dataset_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']

8054                  YUL-LHR-YYZ-MEX
12256                  Toronto-Venice
13803                     IAD-CDG-CAI
19729                 Oakland-Seattle
31854              Edinburgh-Florence
35380                     SFO-PVG-SGN
39803                        AKL-LHR
47291     Tokyo-Abu Dhabi-Los Angeles
51308              Bucharest-Brussels
74651             CAI-AMS and AMS-IAD
80511                     LGW-CPH-JFK
91288                     MEL-DOH-BAH
101738                 Detroit-Cancun
107451                    GVA-ZRH-GRU
117226                    HAN-HUI-HAN
123992              Vienna-IST-Rostov
126536                    TPA-IAD-LHR
Name: NewRoute, dtype: object

All of the `"-"` above mean `" to "`, so they will all be changed to `" to "`.

In [60]:
dash_edit = dataset_correct_to.index[(dataset_correct_to['NewRoute'].str.contains('-')) & (dataset_correct_to['NewRoute'].str.contains(' to ') == False)]

In [61]:
dataset_correct_to.loc[dash_edit, 'NewRoute'] = dataset_correct_to.loc[dash_edit, 'NewRoute'].replace(to_replace='-', value=' to ', regex=True)
dataset_correct_to.loc[dash_edit, 'NewRoute']

8054               YUL to LHR to YYZ to MEX
12256                     Toronto to Venice
13803                     IAD to CDG to CAI
19729                    Oakland to Seattle
31854                 Edinburgh to Florence
35380                     SFO to PVG to SGN
39803                           AKL to LHR
47291     Tokyo to Abu Dhabi to Los Angeles
51308                 Bucharest to Brussels
74651             CAI to AMS and AMS to IAD
80511                     LGW to CPH to JFK
91288                     MEL to DOH to BAH
101738                    Detroit to Cancun
107451                    GVA to ZRH to GRU
117226                    HAN to HUI to HAN
123992              Vienna to IST to Rostov
126536                    TPA to IAD to LHR
Name: NewRoute, dtype: object

In [62]:
dataset_correct_to.loc[(dataset_correct_to['NewRoute'].str.contains('-')), 'NewRoute'].to_list()

['Ixtapa-Zihuatanejo to Mexico City',
 'Point-à-pitre to Saint Martin',
 'Point-a-Pietre to Melville Hall',
 'St-Denis de La Reunion to Mauritius',
 'Petropavlovsk-Kamchatsky to Moscow',
 'Moscow to Nur-Sultan',
 'Nur-Sultan to Seoul',
 'London to Nur-Sultan',
 'St-Petersburg to Istanbul',
 'Paris to Fort-de-France',
 'Saint-Petersburg to Aktobe',
 'Pointe-à-Pitre to Paris-Orly',
 'Pointe-à-Pitre to Paris Orly',
 'Paris Orly to Pointe-à-Pitre',
 'St Petersburg to Ust-Kamenogorsk',
 'Saint-Petersburg to Rome',
 'Petropavlovsk-Kamchatsky to Moscow',
 'Dublin to Rome-Fiumicino',
 'Veracruz to Mexico-City',
 'Guadalajara to Chicago O-Hare',
 'Mexico City to Seattle-Tacoma',
 'Geneva to Tokyo-Narita',
 'Coya-Coco to Montreal',
 'Bangkok to Washington-Dulles',
 'Lyon Saint-Exupéry to Dublin',
 'Rouyn-Noranda to Johannesburg',
 'Prince-George to Toronto',
 'Montreal to Tokyo-Narita',
 'Paris-Orly to São Paulo',
 'Paris Orly to Pointe-à-Pitre',
 'Paris Orly to Pointe-à-Pitre',
 'Toronto - YYZ to Manchester - MAN',
 'Paris-Orly to Cayenne',
 'Point-a-Pitre to Marseille',
 'New-York to Paris',
 'Paris-CDG to Milan-LIN',
 'St-Petersburg to Brussels',
 'Perth to U-Tapao',
 'Dallas Fort-Worth to Shreveport',
 'Stewart-Newburgh to Toronto',
 'Eilat to Tel Aviv-Yafo',
 'Tokyo-Haneda to Sydney',
 'Okayama to Tokyo-Haneda',
 'Anchorage to Dallas Fort-Worth',
 'Washington-Dulles to Narita',
 'Idaho falls to Phoenix-Mesa',
 'Rome-Fiumicino to Milan-Linate',
 'Phoenix to Tri-Cities',
 'Kauai-Lihue to Seattle',
 'Orlando to Tri-Cities',
 'Phoenix-Mesa Gateway to South Bend',
 'Burlington to St. Pete-Clearwater',
 'Destin - Fort Walton to Boston',
 'Provo to Phoenix-Mesa',
 'Mid-America to St. Petersburg/Clearwater',
 'New Orleans to Raleigh-Durham',
 'Sanford /Orlando to Raleigh-Durham',
 'Indianapolis to St. Pete-Clearwater',
 'Springfield to Destin-Fort Walton Beach',
 'Santa Ana to Dallas Fort-Worth',
 'Baltimore-Washington to Asheville',
 'Wilkes-Barre to St. Petersburg',
 'Sacramento to Dallas Fort-Worth',
 'Wilkes-Barre to Charlotte',
 'Dallas Fort-Worth to Omaha',
 'Dallas Fort-Worth to Columbus',
 'Honolulu to Dallas Fort-Worth',
 'Phoenix-Mesa Gateway to Wichita, KS',
 'Asheville NC to St Pete-Clearwater',
 'Tokyo to Dallas Fort-Worth',
 'Honolulu to Dallas Fort-Worth',
 'Dallas Fort-Worth to Barcelona',
 'Wilkes-Barre/Scranton to Cancun',
 'Dallas Fort-Worth to Miami',
 'Ontario to Dallas Fort-Worth',
 'Cancun to Dallas Fort-Worth',
 'Chicago to Wilkes-Barre/Scranton',
 'Portland to Dallas Fort-Worth',
 'Dallas Fort-Worth to Costa Rica',
 'Dallas Fort-Worth to Fort Walton Beach',
 'Dallas Fort-Worth to Hartford',
 'Phoenix to Dallas Fort-Worth',
 'Pensacola to Dallas Fort-Worth',
 'New Orleans to Dallas Fort-Worth',
 'Boston to Dallas Fort-Worth',
 'Raleigh-Durham to Oklahoma City',
 'Los Angeles to Dallas Fort-Worth',
 'Cancun to Dallas Fort-Worth',
 'Cincinnati to Dallas Fort-Worth',
 'Fargo to New York - LaGuardia',
 'Shreveport to Dallas-Fort Worth',
 'Columbus to Dallas Fort-Worth',
 'Dallas-Fort Worth to Seattle',
 'London Heathrow to Dallas Fort-Worth',
 'Destin-Fort Walton to Charlotte',
 'Omaha to Dallas Fort-Worth',
 'Seattle to Wilkes-Barre',
 'New York JFK to Port-au-Prince',
 'Sacramento to Scranton Wilkes-Barre',
 'Manado to Jakarta Soekarno-Hatta',
 'Medina-MED to Dhaka-DAC',
 'Cluj-Napoca to Barcelona',
 'Cluj-Napoca to Bucharest',
 'Lisbon to Cluj-Napoca',
 'Atlanta to Dallas Fort-Worth',
 'Cluj-Napoca to Dublin',
 'Tel Aviv-Yafo to Vienna',
 'Cluj-Napoca to Birmingham',
 'Cluj-Napoca to Bucharest',
 'U-Tapao to Koh Samui',
 'Dallas Fort-Worth to Toulouse',
 'Warsaw to London-Heathrow',
 'London-Heathrow to Warsaw',
 'Yogyakarta Kulon Progo to Jakarta Soekarno-Hatta',
 'Kunming to Shangri-La',
 'Sint Maarten to Pointe-à-Pitre',
 'Paris Orly to Pointe-à-Pitre',
 'Paris Orly to Pointe-à-Pitre',
 'Paris Orly to Pointe-à-Pitre / Martinique',
 'Paris-CDG to Prague',
 'Moscow to Tel-Aviv',
 'Nairobi to Tel-Aviv.',
 'Moscow to Abu-dhabi',
 'Saint-Petersburg to Denpasar',
 'Stansted to Cologne-Bonn',
 'Düsseldorf to Berlin-Tegel',
 'Abu-Dhabi to Manchester',
 'Helsinki-Vantaa to Jyväskylä',
 'Saint-Petersburg to Zurich',
 'Halifax to Kitchener-Waterloo',
 'Vienna to Kemi-Tornio',
 'Halifax to Kitchener-Waterloo',
 'Nur-Sultan to Almaty',
 'Dubai to U-tapao',
 'Nur-Sultan to Bucharest',
 'Tel-Aviv to Tbilisi',
 'Paris-Orly to Newark',
 'Berlin-Tegel to London Heathrow',
 'Heho to Nyaung-U',
 'Jakarta Soekarno-Hatta to Manado',
 'Denpasar-Bali to Perth',
 'Denpasar-Bali to London',
 'Denpasar-Bali to Jakarta',
 'Dallas Fort-Worth to Tel Aviv',
 'Raleigh-Durham to Philadelphia',
 'Sydney to Tel-Aviv',
 'Cancun to Dallas Fort-Worth',
 'Las Vegas to Dallas Fort-Worth',
 'Las Vegas to Dallas Fort-Worth',
 'Orlando to Dallas Fort-Worth',
 'Dallas Fort-Worth to Las Vegas',
 'Bangkok-Suvarnabhumi (BKK) to Vancouver (YVR)',
 'Dallas Fort-Worth to Las Vegas',
 'Seattle to Saint-Louis',
 'Philadelphia to Dallas Fort-Worth',
 'Miami to New York-LGA',
 'Austin-Bergstrom to Philadelphia',
 'Trenton-Mercer to Detroit',
 'Raleigh-Durham to Denver',
 'Washington-Dulles to Orlando International',
 'LHR-KEF-BOS to BOS-KEF-LHR',
 'New York JFK to Tokyo-Haneda',
 'Hanoi to Ho Chi-Minh',
 'Nairobi to Dar-Es-Salam',
 'Fort Lauderdale to Raleigh-Durham',
 'New York to Port-au-Prince',
 'Brisbane to Denpasar-Bali',
 'Mombasa to Dar-es-Salam',
 'New York-JFK to San Jose',
 'Brussels to New-York',
 'Adelaide to Melbourne-Avalon',
 'Los Angeles to Kailua-Kona',
 'Minneapolis to Hartford-Bradley',
 'Salt Lake City to Raleigh-Durham',
 'Santo Domingo to Fort-Lauderdale',
 'Greenville-Spartanburg to San Antonio',
 'Raleigh-Durham to Boston',
 'Orlando to New York-JFK',
 'Washington-Reagan to Boston',
 'Raleigh-Durham to Las Vegas',
 'Nashville to Minneapolis-Saint Paul',
 'Orlando to Wilkes-Barre',
 'Tampa to Raleigh-Durham',
 'Raleigh-Durham to LaGuardia',
 'Clermont-Ferrand to Newark',
 'Barcelona to New-york',
 'Honolulu to Seoul-Incheon',
 'Santiago-Chile to New York',
 'London to Saint-Petersburg',
 'Guarulhos to Gothenburg-Landvetter',
 'Amsterdam to Minneapolis-St. Paul',
 'Cluj-Napoca to Miami',
 'Johannesburg to Dallas-Fort Worth',
 'Munich to Tel Aviv-Yafo',
 'Bucharest to Nur-Sultan',
 'Berlin-Tegel to Munich',
 'Toulouse to New-York',
 'Berlin-Tegel to Frankfurt',
 'Berlin-TXL to Frankfurt',
 'New-York to Paris',
 'Paris CDG to Tunis-Carthage',
 'Yokota to Seattle-Tacoma',
 'Oslo to Longyearbyen-Svalbard',
 'Oslo to New York-JFK',
 'Sharm el-Sheikh to Cairo',
 'Moscow to Sharm el-Sheikh',
 'Barcelona to Sharm el-Sheik',
 'Moscow to Baden-Baden',
 'St. Petersburg to Rostov-on-Don',
 'Mont-Tremblant to Toronto',
 'Moscow (DME) to Ulan-Ude',
 'Denpasar-Bali to Brisbane',
 'Brisbane to Denpasar-Bali',
 'Tel-Aviv to Berlin',
 'Tel Aviv-Yafo to Paphos',
 'Rome-Ciampino to Dublin',
 'Manchester to Rome-Ciampino',
 'Dublin to Cluj-Napoca',
 'London Stansted to Stockholm-Skavsta',
 'Cologne to Berlin-Schonefeld',
 'Alicante to Newcastle-upon-Tyne',
 'Cologne-Bonn to Berlin',
 'Frankfurt-Hahn to Fuerteventura',
 'Frankfurt-Hahn to Rome Ciampino',
 'Ust-Kamenogorsk to Karaganda',
 'STT- Downtown to STX Downtown',
 'Tri-Cities to Tampa',
 'Siborong-Borong to Jakarta',
 'Dallas Fort-Worth to Miami',
 'Dallas Fort-Worth to Cozumel',
 'Ixtapa-Zihuatanejo to Minneapolis',
 'Las Vegas to Dallas-Fort Worth',
 'Nashville to Minneapolis St-Paul',
 'Juan Santamaria to Baltimore-Washington',
 'Dallas Fort-Worth to Las Vegas',
 'Dallas Fort-Worth to Las Vegas',
 'Reno-Tahoe to Las vegas',
 'Las Vegas to Dallas Fort-Worth',
 'Boston to Fort-Lauderdale',
 'Detroit to Dallas Fort-Worth',
 'Indianapolis to Chicago-Midway',
 'Las Vegas to Dallas Fort-Worth',
 'Los Angeles to Dallas Fort-Worth',
 'New York - La Guardia to Orlando MCO',
 'Miami to Dallas Fort-Worth',
 'DAY-TPA to TPA-DAY',
 'Dallas Fort-Worth to Tampa',
 'Las Vegas to Dallas Fort-Worth',
 'Cancun to Dallas Fort-Worth',
 'Dallas Fort-Worth to Panama City',
 'Akron-Canton to Fort Myers',
 'Dallas-Fort Worth to Atlanta',
 'Dallas-Fort Worth to Detroit Metro',
 'Orlando to Dallas Fort-Worth',
 'Baltimore to Dallas-Fort Worth',
 'Paramaribo to Port-of-Spain',
 'Montreal to Puerto-Plata',
 'Brussel to Saint-Petersburg',
 'Amsterdam to Cluj-Napoca',
 'Bucharest to Cluj-Napoca',
 'Athens to Cluj-Napoca',
 'Tel-Aviv to Paris',
 'Rotterdam-The Hague to Girona',
 'Sochi to Moscow-Domodedovo',
 'Ulan-Ude to Moscow',
 'Dallas Fort-Worth to Naples',
 'İstanbul to Tel Aviv-Yafo',
 'Calgary to London-Gatwick',
 'Kathmandu to Dallas Fort-Worth',
 'Istanbul to Dallas Fort-Worth',
 'Tel-Aviv to Newark',
 'Cluj-Napoca to Lisbon',
 'Dublin to Nur-Sultan',
 'Raleigh-Durham to Seattle',
 'Moscow-Vnukovo to Berlin-Bradenburg',
 'Istanbul to Basel-Mulhouse',
 'Kathmandu to Cluj-Napoca',
 'Minneapolis to Wilkes-Barre/Scranton',
 'Winnipeg to New York-LGA',
 'Lisbon to Sharm el-Sheikh',
 'Cluj-Napoca to New York',
 'Boston to Tri-Cities',
 'Los Angeles to Tokyo-Narita',
 'New Orleans to David-Panama',
 'Chicago to Tokyo-Narita',
 'Guiyang to Kuala-Lumpur',
 'Tel-Aviv to Chicago',
 'Frankfurt-Hahn to Belgrade',
 'Birmingham to Tel-Aviv',
 'Frankfurt-Hahn to Sibiu',
 'Cluj-Napoca to Berlin',
 'Barcelona to Cluj-Napoca',
 'Milan to Nur-Sultan',
 'Luton to Moscow-Vnukovo',
 'Luton to Cluj-Napoca',
 'Cluj-napoca to Liverpool',
 'Luton to Cluj-Napoca',
 'Luton to Cluj-Napoca',
 'Cluj-napoca to Treviso',
 'Cluj-Napoca to Luton',
 'Cluj-Napoca to Dortmund',
 'Cluj-Napoca to Charleroi']

For the rest of the `Route` that contains `"-"`, they should be part of the name, so we're done with this part.

### Look for `" and "` and `" & "` and examine if they should be changed to `" to "`

In [63]:
dataset_correct_to.loc[
    (dataset_correct_to['NewRoute'].str.contains(' and '))
    & (dataset_correct_to['NewRoute'].str.contains(' to ') == False),
    ['NewRoute', 'Review']]

,NewRoute,Review
12342,Geneva and Paris CDG,This short flight was the first shuttle of the...
24955,Philadelphia and San Diego,I fly AA moderately regularly between Philadel...
80509,Stockholm and Malmö,"DY 4053, 5 June. For the second time this year..."
115553,Ho Chi Minh City and Phu Quoc,The flight between Ho Chi Minh City and Phu Qu...

In [64]:
dataset_correct_to.loc[
    (dataset_correct_to['NewRoute'].str.contains(' and '))
    & (dataset_correct_to['NewRoute'].str.contains(' to ') == False),
    'Review'].to_list()

['This short flight was the first shuttle of the day between Geneva and Paris, no need to say that it was full. However, the staff well managed everyone to enter the plane on time. The only thing is that everyone kept their luggage to save time and, since there was no room anymore in the plane for additional luggage, many had to put their luggage back into the trunk. I guess Air France should advise passengers that, when the plane is full, it is better to register your bag. With so many passengers willing to save time and limited space, we ended up leaving the airport 20mn late because of those passengers. For the rest, it was very early and I felt asleep for the first 30mn. It was a really nice surprise to find a pain au chocolat waiting for me on my tablet. Usually, flight attendants do not serve you while you are asleep, especially in Economy class. I was very thankful the AF FA did it for me. Upon arrival, our luggage were delivered super fast and I was able to go to work in Paris as a usual commuter. Thank you Air France.',
 "I fly AA moderately regularly between Philadelphia and San Diego. I often travel with surfboards and pay the $150 each way for this service ($200 internationally). However, AA takes no responsibility for damage to the surfboard even though I am effectively paying for an additional ticket to travel. I think this is completely messed up. This past trip I took a board out to my daughter that she built this past summer. It was packed exceptionally well. Wrapped in bubble wrap, covered in cardboard on all surfaces and more bubble wrap on the rails of the board and the whole thing put into a padded surfboard travel bag. Got it to San Diego and the rails were crushed in two places and there was a big heel dent in the bottom on the board. It was like the baggage handlers went out of their way to destroy the surfboard. OK, AA will pay the damages. Nope, the fine print says they are not responsible and they turn their backs. That's it. Game over. I hate AA big time. But there is no other choice. Good luck.",
 'DY 4053, 5 June. For the second time this year I flew Norwegian between Stockholm and Malmö. For the second time there was a 2 hour delay due to mechanical problems. No compensation at all. The even wanted to charge 30SEK for a cup of coffee.  Never again Norwegian!',
 'The flight between Ho Chi Minh City and Phu Quoc island takes around 40 minutes so that they do not serve food on the flight. Every customer was provided with a small bottle of water and a piece of wet tissue. Moreover, there was no entertainment during the flight. Fortunately, I was seated near the windows and could see the sights below. The flight went through Mekong delta which consists of the long rivers and the large rice fields.']

The reviews indicate that the `" and "` represent `" to "` and should be changed.

In [65]:
and_edit = dataset_correct_to.index[
    (dataset_correct_to['NewRoute'].str.contains(' and '))
    & (dataset_correct_to['NewRoute'].str.contains(' to ') == False)
]

In [66]:
dataset_correct_to.loc[and_edit, 'NewRoute'] = dataset_correct_to.loc[and_edit, 'NewRoute'].str.replace(' and ', ' to ', regex=True)
dataset_correct_to.loc[and_edit, 'NewRoute']

12342              Geneva to Paris CDG
24955        Philadelphia to San Diego
80509               Stockholm to Malmö
115553    Ho Chi Minh City to Phu Quoc
Name: NewRoute, dtype: object

In [67]:
dataset_correct_to.loc[
    (dataset_correct_to['NewRoute'].str.contains('.+and '))
    & (dataset_correct_to['NewRoute'].str.contains('land|grand', case=False) == False),
    'NewRoute'
].to_list()

['WUH to BKI and return',
 'Cincinnati and Lexington to Destin/Fort Walton',
 'Trinidad and Tobago to Havana',
 'New York to Trinidad and Tobago',
 'SYD to HNL and return',
 'Beijing to Brussels and Berlin to Beijing',
 'New York JFK to Turks and Caicos',
 'Clermont-Ferrand to Newark',
 'Cracow to Lima and return',
 'CAI to AMS and AMS to IAD',
 'LGW to JFK and return',
 'Kristiansand to Gdansk',
 'Stansted to Malta and return',
 'Kansas City to Philadelphia and return',
 'Trinidad and Tobago to LaGuardia',
 'Valencia, Spain to Paris and Lyon to Rome to Valencia',
 'Turks and Caicos to Montréal',
 'Moscow to Trinidad and Tobago',
 'Kristiansand to Bergen',
 'Los Angeles to Keflavik and Amsterdam',
 'Samarkand to Tel Aviv']

In [68]:
and_return = dataset_correct_to.index[(dataset_correct_to['NewRoute'].str.contains('and return'))]
dataset_correct_to.loc[and_return, 'NewRoute']

18121                     WUH to BKI and return
52129                     SYD to HNL and return
54962         Manchester to Auckland and return
73262                 Cracow to Lima and return
80346                     LGW to JFK and return
88556              Stansted to Malta and return
98865    Kansas City to Philadelphia and return
Name: NewRoute, dtype: object

For these, we just count the non-return flight.

In [69]:
dataset_correct_to.loc[and_return, 'NewRoute'] = dataset_correct_to.loc[and_return, 'NewRoute'].replace(to_replace=' and return', value='', regex=True)
dataset_correct_to.loc[and_return, 'NewRoute']

18121                     WUH to BKI
52129                     SYD to HNL
54962         Manchester to Auckland
73262                 Cracow to Lima
80346                     LGW to JFK
88556              Stansted to Malta
98865    Kansas City to Philadelphia
Name: NewRoute, dtype: object

In [70]:
dataset_correct_to.loc[
    (dataset_correct_to['NewRoute'].str.contains('.+and '))
    & (dataset_correct_to['NewRoute'].str.contains('land|grand|trinidad|caicos|samarkand|sand|ferrand', case=False) == False),
    'NewRoute'
].to_list()

['Cincinnati and Lexington to Destin/Fort Walton',
 'Beijing to Brussels and Berlin to Beijing',
 'CAI to AMS and AMS to IAD',
 'Valencia, Spain to Paris and Lyon to Rome to Valencia',
 'Los Angeles to Keflavik and Amsterdam']

These have multiple origin/destinations, so we just remove them from our dataset.

In [71]:
and_remove = dataset_correct_to.index[
    (dataset_correct_to['NewRoute'].str.contains('.+and '))
    & (dataset_correct_to['NewRoute'].str.contains('land|grand|trinidad|caicos|samarkand|sand|ferrand', case=False) == False)
]
dataset_correct_to.drop(index=and_remove, inplace=True)

In [72]:
dataset_correct_to.loc[(dataset_correct_to['NewRoute'].str.contains('&')), 'NewRoute']

126528    Milwaukee, WI to Los Angeles & San Francisco
Name: NewRoute, dtype: object

In [73]:
and_remove = dataset_correct_to.index[(dataset_correct_to['NewRoute'].str.contains('&'))]
dataset_correct_to.drop(index=and_remove, inplace=True)

In [241]:
dataset_correct_to.loc[
    (dataset_correct_to['NewRoute'].str.contains(' and.+'))
    & (dataset_correct_to['NewRoute'].str.contains('land|grand|trinidad|caicos|samarkand|sand|ferrand', case=False) == False),
    'NewRoute'
]

Series([], Name: NewRoute, dtype: object)

We've now handled all of the `" and "`.

### Check that every entry has `" to "` and correct things that don't

Before we split `NewRoute` on `" to "`, we need to make sure that every `NewRoute` indeed contains this substring.

In [74]:
count_no_to = dataset_correct_to.loc[dataset_correct_to['NewRoute'].str.contains(' to ') == False, 'NewRoute'].count()
print("Number of entries without \" to \":", count_no_to)

Number of entries without " to ": 60

In [94]:
# Index of NewRoutes with various misspellings of " to "
wrong_to = dataset_correct_to.index[
    (dataset_correct_to['NewRoute'].str.contains(' to ') == False)
    & (dataset_correct_to['NewRoute'].str.contains(' [rty]o | tyo | t[p0]o | t.?o ', case=False))]
dataset_correct_to.loc[wrong_to, 'NewRoute']

Series([], Name: NewRoute, dtype: object)

In [84]:
dataset_correct_to.loc[wrong_to, 'NewRoute'] = dataset_correct_to.loc[wrong_to, 'NewRoute'].replace([' [Tyr]o ',' TO ', ' tyo ', ' t[p0]o ', ' \xa0to '], ' to ',
                                                     regex=True)
dataset_correct_to.loc[wrong_to, 'NewRoute']

Series([], Name: NewRoute, dtype: object)

Let's look at those with `"to"` but not `" to "`.

In [97]:
dataset_correct_to.loc[(dataset_correct_to['NewRoute'].str.contains('to')) &
                        (dataset_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']

11586             Toronto to Birmingham
22732                     Washington to
70816             Sao Jose do Rio Preto
97932     Raleigh/Durham to Albuquerque
105686                          Toronto
118351           SeattletoJacklsonville
Name: NewRoute, dtype: object

In [108]:
print("Before fixing:")
display(dataset_correct_to.loc[[11586, 97932, 118351], ['NewRoute']])

dataset_correct_to.loc[[11586, 97932, 118351], 'NewRoute'] = ['Toronto to Birmingham',
                                                              'Raleigh/Durham to Albuquerque',
                                                              'Seattle to Jacksonville']
print("After fixing:")
display(dataset_correct_to.loc[[11586, 97932, 118351], ['NewRoute']])

Before fixing:

                             NewRoute
11586           Toronto to Birmingham
97932   Raleigh/Durham to Albuquerque
118351       Seattle to Jacklsonville

After fixing:

                             NewRoute
11586           Toronto to Birmingham
97932   Raleigh/Durham to Albuquerque
118351        Seattle to Jacksonville

The rest of the entries with no `" to "` seem to only have one place in the `NewRoute` column, so we just remove them.

In [115]:
#dataset_correct_to.loc[(dataset_correct_to['NewRoute'].str.contains(' to ') == False), 'NewRoute']
no_to = dataset_correct_to.index[(dataset_correct_to['NewRoute'].str.contains(' to ') == False)]
dataset_correct_to.drop(index=no_to, inplace=True)

print("Rows removed:", len(no_to))
del(no_to)

Rows removed: 0

# Split `NewRoute` into Origin and Destination

## Split `NewRoute` into `Origin` and `Destination` columns
Now, all of our entries have a `" to "`, which means we can split on it and create `Origin` and `Destination` columns.

In [118]:
dataset_origin_destination = dataset_correct_to.copy()
dataset_origin_destination.shape

(90476, 16)

In [122]:
origin_destination_split = dataset_origin_destination['NewRoute'].str.split(' to ', expand=True).rename(columns={0:'origin', 1:'destination'})
origin_destination_split

              origin destination     2     3
0             Moroni      Moheli  None  None
1             Moroni     Anjouan  None  None
2            Anjouan    Dzaoudzi  None  None
6             Milano       Olbia  None  None
7            Cascais    Bragança  None  None
...              ...         ...   ...   ...
129200      Budapest   Barcelona  None  None
129201          Rome   Bucharest  None  None
129202  London Luton    Budapest  None  None
129203      Budapest    Tel Aviv  None  None
129204      Budapest       Dubai  None  None

[90476 rows x 4 columns]

We will drop all the entries which have multiple destinations (indicated by a non-null value in row 2 or 3 of the above df).

In [126]:
# Index of entries with multiple destinations in the `NewRoute` column
multiple_destinations = origin_destination_split.index[origin_destination_split[2].notna()]

In [129]:
dataset_origin_destination.drop(index=multiple_destinations, inplace=True)
origin_destination_split.drop(index=multiple_destinations, inplace=True)

In [132]:
dataset_origin_destination[['Origin', 'Destination']] = origin_destination_split[['origin', 'destination']]
dataset_origin_destination.head()

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,TripVerified,NewRoute,Origin,Destination
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Trip Verified,Moroni to Moheli,Moroni,Moheli
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Trip Verified,Moroni to Anjouan,Moroni,Anjouan
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Trip Verified,Anjouan to Dzaoudzi,Anjouan,Dzaoudzi
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Trip Verified,Milano to Olbia,Milano,Olbia
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Trip Verified,Cascais to Bragança,Cascais,Bragança

In [133]:
dataset_origin_destination.shape

(90430, 18)

In [134]:
dataset_origin_destination.drop(columns='NewRoute', inplace=True)