In [13]:
import pandas as pd

In [14]:
dataset = pd.read_csv("Data - AirlineReviews_Edited.csv", encoding = 'utf-8')
dataset

,Aircraft,AirlineName,CabinType,TravelType,DateFlown,DatePub,OverallScore,SeatComfortRating,ServiceRating,FoodRating,...,ValueRating,WifiRating,OriginCountry,Recommended,Review,Route,Slug,Title,TripVerified,unique_id
0,NaN,AB Aviation,Economy Class,Solo Leisure,Nov-19,11th November 2019,9.0,4,5,4,...,3,0,Netherlands,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,ab-aviation,pretty decent airline,Trip Verified,d3b260fb-268b-4399-8a9b-2804825902c6
1,E120,AB Aviation,Economy Class,Solo Leisure,Jun-19,25th June 2019,1.0,2,2,1,...,2,0,UnitedKingdom,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,ab-aviation,Not a good airline,Trip Verified,307711df-268f-4698-97b8-45729b7d972e
2,Embraer E120,AB Aviation,Economy Class,Solo Leisure,Jun-19,25th June 2019,1.0,2,1,1,...,2,0,UnitedKingdom,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,ab-aviation,flight was fortunately short,Trip Verified,82bd2602-171d-4724-bde0-90b71621cdcf
3,NaN,Aerocaribbean,Economy Class,NaN,NaN,31st December 2010,8.0,0,0,0,...,4,0,Denmark,yes,Havana - Cayo Coco return. A one hour flight w...,NaN,aerocaribbean,Aerocaribbean customer review,NaN,a927beb4-6244-4f5c-9dc3-09890aa3e616
4,NaN,Aerocaribbean,NaN,NaN,NaN,25th November 2010,1.0,0,0,0,...,0,0,UnitedKingdom,no,Holguin to Havana last week. Okay apart from i...,NaN,aerocaribbean,Aerocaribbean customer review,NaN,d7bea425-c58a-4a7e-8269-02e0e6516633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129450,NaN,Wizz Air,Economy Class,NaN,NaN,15th July 2010,NaN,0,0,0,...,1,0,UnitedKingdom,no,This airline is terrible! Timetable changes (m...,NaN,wizz-air,Wizz Air customer review,NaN,7889c410-59a0-4a11-9af6-a100c5ebb03e
129451,NaN,Wizz Air,Economy Class,NaN,NaN,23rd June 2010,8.0,0,0,0,...,4,0,Belgium,yes,We often fly with Wizzair to/from Charleroi/Bu...,NaN,wizz-air,Wizz Air customer review,NaN,dc7700d9-69e3-4296-93a5-0a550e8b8a80
129452,NaN,Wizz Air,Economy Class,NaN,NaN,19th June 2010,NaN,0,0,0,...,1,0,Ireland,no,Avoid Wizzair! A group of us had our outgoing ...,NaN,wizz-air,Wizz Air customer review,NaN,6de9ac64-a533-4dc8-b555-a16cc13554f7
129453,NaN,Wizz Air,Economy Class,NaN,NaN,16th June 2010,5.0,0,0,0,...,4,0,CzechRepublic,yes,PRG-LTN and LTN-PRG were rather good flights. ...,NaN,wizz-air,Wizz Air customer review,NaN,52ad5aa9-88f6-4eb1-99fe-e7fa64223792
129454,NaN,Wizz Air,Economy Class,NaN,NaN,6th June 2010,1.0,0,0,0,...,1,0,UnitedKingdom,no,London - Kiev. First problem started a few wee...,NaN,wizz-air,Wizz Air customer review,NaN,c1ceb07e-a04d-4389-ac85-dca4fe00b745

In [15]:
dataset_modified = dataset.copy()

### Drop unnecessary columns

In [16]:
columns_to_drop = ['Aircraft', 'DatePub', 'OriginCountry', 'Slug', 'Title', 'unique_id']

In [17]:
dataset_modified = dataset_modified.drop(columns=columns_to_drop)
dataset_modified

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,Route,TripVerified
0,AB Aviation,Economy Class,Solo Leisure,Nov-19,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,Trip Verified
1,AB Aviation,Economy Class,Solo Leisure,Jun-19,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,Trip Verified
2,AB Aviation,Economy Class,Solo Leisure,Jun-19,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,Trip Verified
3,Aerocaribbean,Economy Class,NaN,NaN,8.0,0,0,0,0,0,4,0,yes,Havana - Cayo Coco return. A one hour flight w...,NaN,NaN
4,Aerocaribbean,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,no,Holguin to Havana last week. Okay apart from i...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129450,Wizz Air,Economy Class,NaN,NaN,NaN,0,0,0,0,0,1,0,no,This airline is terrible! Timetable changes (m...,NaN,NaN
129451,Wizz Air,Economy Class,NaN,NaN,8.0,0,0,0,0,0,4,0,yes,We often fly with Wizzair to/from Charleroi/Bu...,NaN,NaN
129452,Wizz Air,Economy Class,NaN,NaN,NaN,0,0,0,0,0,1,0,no,Avoid Wizzair! A group of us had our outgoing ...,NaN,NaN
129453,Wizz Air,Economy Class,NaN,NaN,5.0,0,0,0,0,0,4,0,yes,PRG-LTN and LTN-PRG were rather good flights. ...,NaN,NaN
129454,Wizz Air,Economy Class,NaN,NaN,1.0,0,0,0,0,0,1,0,no,London - Kiev. First problem started a few wee...,NaN,NaN

### Drop old reviews and reviews with no flight date

We'll drop reviews that are more than 10 years old.

In [18]:
dataset_outdated_dropped = dataset_modified.copy()

In [19]:
import datetime as dt

In [27]:
dataset_outdated_dropped['DateFlown'] = pd.to_datetime(dataset_outdated_dropped['DateFlown'], format='%b-%y')

In [28]:
dataset_outdated_dropped['DateFlown']

0        2019-11-01
1        2019-06-01
2        2019-06-01
3               NaT
4               NaT
            ...
129450          NaT
129451          NaT
129452          NaT
129453          NaT
129454          NaT
Name: DateFlown, Length: 129455, dtype: datetime64[ns]

In [29]:
no_flight_date = dataset_outdated_dropped.index[dataset_outdated_dropped['DateFlown'].isna()]
older_than_2015 = dataset_outdated_dropped.index[dataset_outdated_dropped['DateFlown'].dt.year < 2015]
print("No flight date: ", len(no_flight_date))
print("Older than 2015: ", len(older_than_2015))

No flight date:  38462
Older than 2015:  153

In [30]:
dataset_outdated_dropped.drop(index=no_flight_date, inplace=True)
dataset_outdated_dropped.drop(index=older_than_2015, inplace=True)
print("Length of new dataset: ", dataset_outdated_dropped.shape[0])
print("Old - (len of indices): ", dataset_modified.shape[0] - len(no_flight_date) - len(older_than_2015))

Length of new dataset:  90840
Old - (len of indices):  90840

In [31]:
dataset_outdated_dropped

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,Route,TripVerified
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,Trip Verified
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,Trip Verified
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,Trip Verified
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Milano to Olbia,Trip Verified
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Cascais to Bragança,Trip Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129200,Wizz Air,Economy Class,Solo Leisure,2015-05-01,8.0,1,1,0,0,2,5,0,yes,"If you are going with them, you need to learn ...",Budapest to Barcelona,NaN
129201,Wizz Air,Economy Class,Family Leisure,2015-06-01,1.0,1,2,1,1,1,1,1,no,We went to Ciampino airport 3 hours early and ...,Rome to Bucharest,NaN
129202,Wizz Air,Economy Class,Solo Leisure,2015-04-01,1.0,2,1,0,0,2,2,0,no,I had never heard of Wizz Air before but as th...,London Luton to Budapest,NaN
129203,Wizz Air,Economy Class,Couple Leisure,2015-06-01,1.0,2,2,0,0,1,1,0,no,Very disappointing experience. The airline cha...,Budapest to Tel Aviv,NaN
129204,Wizz Air,Economy Class,Family Leisure,2015-02-01,1.0,1,1,1,0,1,1,0,no,Wizz Air is hands down the worst airline in al...,Budapest to Dubai,NaN

In [32]:
dataset_outdated_dropped[(dataset_outdated_dropped['DateFlown'].dt.year < 2015) | (dataset_outdated_dropped['DateFlown'].isna())]

Empty DataFrame
Columns: [AirlineName, CabinType, TravelType, DateFlown, OverallScore, SeatComfortRating, ServiceRating, FoodRating, EntertainmentRating, GroundServiceRating, ValueRating, WifiRating, Recommended, Review, Route, TripVerified]
Index: []

In [33]:
del(no_flight_date)
del(older_than_2015)

### Remove duplicated entries

In [34]:
dataset_deduplicated = dataset_outdated_dropped.copy()

In [35]:
duplicated_reviews = dataset_deduplicated.index[(dataset_deduplicated.duplicated(subset='Review')) & (dataset_deduplicated['Review'].notna())]

In [36]:
dataset_deduplicated.drop(index=duplicated_reviews, inplace=True)
dataset_deduplicated

,AirlineName,CabinType,TravelType,DateFlown,OverallScore,SeatComfortRating,ServiceRating,FoodRating,EntertainmentRating,GroundServiceRating,ValueRating,WifiRating,Recommended,Review,Route,TripVerified
0,AB Aviation,Economy Class,Solo Leisure,2019-11-01,9.0,4,5,4,0,4,3,0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,Trip Verified
1,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,2,1,0,1,2,0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,Trip Verified
2,AB Aviation,Economy Class,Solo Leisure,2019-06-01,1.0,2,1,1,0,1,2,0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,Trip Verified
6,AeroItalia,Economy Class,Business,2023-04-01,2.0,1,3,1,0,1,1,0,no,Only 1 check-in desk open for a full plane and...,Milano to Olbia,Trip Verified
7,Aero VIP,Economy Class,Solo Leisure,2019-04-01,9.0,4,4,0,0,5,4,0,yes,Cascais to Bragança with Aero VIP. Services ar...,Cascais to Bragança,Trip Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129200,Wizz Air,Economy Class,Solo Leisure,2015-05-01,8.0,1,1,0,0,2,5,0,yes,"If you are going with them, you need to learn ...",Budapest to Barcelona,NaN
129201,Wizz Air,Economy Class,Family Leisure,2015-06-01,1.0,1,2,1,1,1,1,1,no,We went to Ciampino airport 3 hours early and ...,Rome to Bucharest,NaN
129202,Wizz Air,Economy Class,Solo Leisure,2015-04-01,1.0,2,1,0,0,2,2,0,no,I had never heard of Wizz Air before but as th...,London Luton to Budapest,NaN
129203,Wizz Air,Economy Class,Couple Leisure,2015-06-01,1.0,2,2,0,0,1,1,0,no,Very disappointing experience. The airline cha...,Budapest to Tel Aviv,NaN
129204,Wizz Air,Economy Class,Family Leisure,2015-02-01,1.0,1,1,1,0,1,1,0,no,Wizz Air is hands down the worst airline in al...,Budapest to Dubai,NaN

In [37]:
print("Duplicate entries removed: ", dataset_outdated_dropped.shape[0] - dataset_deduplicated.shape[0])

Duplicate entries removed:  14

## Start cleaning and splitting up the `Route` column

### Strip whitespace

In [38]:
dataset_route_stripped = dataset_deduplicated.copy()

In [42]:
dataset_route_stripped['Route'] = dataset_route_stripped['Route'].str.strip('.!?,& \n\t')

### Remove entries with no `Route`

In [45]:
no_route = dataset_route_stripped.index[dataset_route_stripped['Route'].isna()]
no_route

Int64Index([   947,   1473,   1518,   1672,   1802,   1952,   5047,   5588,
              6269,   6319,
            ...
            128192, 128377, 128412, 128421, 128472, 128483, 128492, 128517,
            128530, 128541],
           dtype='int64', length=300)

In [46]:
dataset_route_stripped.drop(index=no_route, inplace=True)

### Split into Origin+Destination and Layover

If we look at the structure of the `Route` column, most of them are of the form "[Origin] to [Destination]" or "[Origin] to [Destination] via [Layover]." We deal with those entries that have `"via"`, split on it, and put them into new columns in our data.

In [52]:
dataset_route_stripped.loc[dataset_route_stripped['Route'].str.contains(' via '), ['Route']]

                                                 Route
11                    Sofia to Amsterdam via Ljubljana
15                    Pristina to Zürich via Ljubliana
19                       Paris to Skopje via Ljubljana
101     Ixtapa Zihuatanejo to Acapulco via Mexico City
174                  Buenos Aires to Brussels via Rome
...                                                ...
128583                Milan to Nur-Sultan via Budapest
128618          Barcelona to Thessaloniki via Budapest
128730                  Baku to Frankfurt via Budapest
128844                     Luton to Dubai via Katowice
129036                     Luton to Moscow via Vilnius

[23895 rows x 1 columns]

In [53]:
dataset_no_layovers = dataset_route_stripped.copy()

#### Look for typos or variants of `" via "` and clean them

In [59]:
dataset_no_layovers.loc[(dataset_no_layovers['Route'].str.contains('.+via ')) & (dataset_no_layovers['Route'].str.contains(' via ') == False), 'Route']

11319             Bologna to Johannesburgvia Paris
15073                              Latvia to Turku
15423                            Monrovia to Accra
22027     Baton Rouge to College Stationvia Dallas
45741         Hong Kong to Reykjavik =via Helsinki
90270                            HKT to BRUvia DOH
95635              Varanasi to Bangkok via Kolkata
121411            Helena to Indianapolisvia Denver
125204              Des Moines to Fresnovia Denver
Name: Route, dtype: object

In [60]:
via_edit = [11319, 22027, 45741, 90270, 121411, 125204]

In [63]:
dataset_no_layovers.loc[via_edit, 'Route'] = dataset_no_layovers.loc[via_edit, 'Route'].replace(to_replace='via ', value=' via ', regex=True)
dataset_no_layovers.loc[via_edit, 'Route']

11319             Bologna to Johannesburg via Paris
22027     Baton Rouge to College Station via Dallas
45741         Hong Kong to Reykjavik = via Helsinki
90270                            HKT to BRU via DOH
121411            Helena to Indianapolis via Denver
125204              Des Moines to Fresno via Denver
Name: Route, dtype: object

In [64]:
dataset_no_layovers.loc[(dataset_no_layovers['Route'].str.contains(' via.+')) & (dataset_no_layovers['Route'].str.contains(' via ') == False), 'Route']

16386    Honolulu to Manila viaTokyo
76671              PRG to YYZ viaFRA
76689              LAX to WRO viaMUC
Name: Route, dtype: object

In [67]:
via_edit = dataset_no_layovers.index[(dataset_no_layovers['Route'].str.contains(' via.+')) & (dataset_no_layovers['Route'].str.contains(' via ') == False)]
via_edit

Int64Index([16386, 76671, 76689], dtype='int64')

In [68]:
dataset_no_layovers.loc[via_edit, 'Route'] = dataset_no_layovers.loc[via_edit, 'Route'].replace(to_replace=' via', value=' via ', regex=True)
dataset_no_layovers.loc[via_edit, 'Route']

16386    Honolulu to Manila via Tokyo
76671              PRG to YYZ via FRA
76689              LAX to WRO via MUC
Name: Route, dtype: object

In [71]:
print("Contains \" via \": ", dataset_no_layovers['Route'].str.contains(' via ').sum())
print("Contains \".+via \": ", dataset_no_layovers['Route'].str.contains('.+via ').sum())
print("Contains \" via.+\": ", dataset_no_layovers['Route'].str.contains(' via.+').sum())

Contains " via ":  23904
Contains ".+via ":  23907
Contains " via.+":  23904

#### Split on `" via "`

In [ ]:
via_splitted = dataset_no_layovers['Route'].str.split(' via ', regex=True, expand=True)
via_splitted

                               0     1     2
0               Moroni to Moheli  None  None
1              Moroni to Anjouan  None  None
2            Anjouan to Dzaoudzi  None  None
6                Milano to Olbia  None  None
7            Cascais to Bragança  None  None
...                          ...   ...   ...
129200     Budapest to Barcelona  None  None
129201         Rome to Bucharest  None  None
129202  London Luton to Budapest  None  None
129203      Budapest to Tel Aviv  None  None
129204         Budapest to Dubai  None  None

[90526 rows x 3 columns]

#### Add column without "via layover" into dataset and remove old `Route` column.

In [89]:
dataset_no_layovers['NewRoute'] = via_splitted[0]
dataset_no_layovers.drop(columns='Route', inplace=True)
dataset_no_layovers

### Split into Origin and Destination

#### Look for typos and variants of `" to "` and clean

#### Look for `" - "` variants and examine if they should be changed to `" to "`

Several entries use ` - ` instead of ` to `, but some could be part of place names.

#### Look for `" and "` and `" & "` and examine if they should be changed to `" to "`